In [1]:
import os, sys
sys.path.append("/home/vkropoti/vllm")

In [2]:
from src.experiment import run_cot_experiment
import random
import numpy as np

INFO 05-19 18:54:34 [__init__.py:239] Automatically detected platform cuda.

2025-05-19 18:54:35,677	INFO util.py:154 -- Missing packages: ['ipywidgets']. Run `pip install -U ipywidgets`, then restart the notebook server for rich notebook output.

# part1: reasoning+answer

### 2 наблюдения

In [3]:
n= 20
arr_seeds = [random.randint(0,1000) for _ in range(n)]
arr_versions = [x for x in range(n)]
model = "Qwen3-8B"
num_observations = 2
type_cot = 'all_new'
print(arr_seeds)
print(f"model: {model}")

[800, 403, 251, 799, 518, 707, 769, 108, 74, 371, 755, 417, 392, 570, 1000, 571, 131, 544, 603, 946]
model: Qwen3-8B

In [4]:
run_cot_experiment(model,arr_seeds,arr_versions, type_cot, num_observations=num_observations)

Загружаем модель...

Loading safetensors checkpoint shards:   0% Completed | 0/4 [00:00<?, ?it/s]
Loading safetensors checkpoint shards:  25% Completed | 1/4 [00:00<00:00,  7.43it/s]
Loading safetensors checkpoint shards:  50% Completed | 2/4 [00:00<00:00,  2.46it/s]
Loading safetensors checkpoint shards:  75% Completed | 3/4 [00:01<00:00,  1.79it/s]
Loading safetensors checkpoint shards: 100% Completed | 4/4 [00:02<00:00,  1.60it/s]
Loading safetensors checkpoint shards: 100% Completed | 4/4 [00:02<00:00,  1.82it/s]
(VllmWorker rank=0 pid=1481523)

Модель успешно загружена
model_config {'model': '/data/home/vkropoti/models/Qwen3-8B', 'tensor_parallel_size': 2, 'max_model_len': 40000, 'max_new_tokens': 1500, 'temperature': 0, 'top_k': 1, 'top_p': 0.8, 'gpu_memory_utilization': 0.9, 'trust_remote_code': False, 'seed': 800}

prompts_config {'path_dev_json': '/home/vkropoti/vllm/dev.json', 'path_sql_dbs': '/data/home/vkropoti/sql_data/dev_databases/', 'use_reasoning': False, 'paths_to_cot': ['/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_all_new_Qwen3-8B-reasoning-v0', '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_all_new_Qwen3-8B-reasoning-v1']}

save_config {'path_sql_save': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_all_Qwen3-8B-cot_all_new_think==False_nobs2-v0', 'path_think_save': None, 'path_sql_answers_save': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_predict_Qwen3-8B-cot_all_new_think==False_nobs2-v0', 'path_to_save_scores': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_results_Qwen3-8B-cot_all_new_think==False_nobs2-v0', 'path_to_save_executed': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_executed_Qwen3-8B-cot_all_new_think==False_nobs2-v0'}

Модель успешно загружена
Пример промпта
<|im_start|>system

You are a data science expert. Below, you are provided with a database schema and a natural language question. Your task is to understand the schema and generate a valid SQL query to answer the question.

Database Engine: SQLite

You will be given an additional analysis of other models, please take it into account, so the plan is
1. Analyse given addition analysis from other models (find in which analysis the same and differ, how to use that to answer question)
2. Combine best from previous part and think how to solve the problem (analyze tables, take care what columns avaliable in each table and so on, check the syntacsis)
3. Create the answers. The answer should be only sql query.

Carefully follow the instruction and add <|im_end|> and the end of the final answer<|im_end|>
<|im_start|>user
Here is addition analysis from other models which can be helpfull, please take this into account but be careful (choose the best from each analysis, combine them to make the most proper answer):

model 0 analysis:
 Reasoning process:

Okay, I need to find the highest eligible free rate for K-12 students in schools located in Alameda County. Let me start by understanding the tables and columns involved.

First, the question mentions "eligible free rate for K-12," which is calculated as Free Meal Count (K-12) divided by Enrollment (K-12). The tables involved are likely the frpm table since it has those columns. But I also need to filter schools in Alameda County. The schools table has a County column, so I'll need to join frpm with schools on CDSCode to get the county information.

Wait, the frpm table has a County Name column, but the schools table also has a County column. Which one should I use? The question specifies "Alameda County," so I should check both tables. However, the schools table's County column is more directly related to the school's location. But the frpm table's County Name might be more accurate for the data. Hmm. Wait, the foreign key is between frpm.CDSCode and schools.CDSCode, so joining on that would allow me to get the County from schools. Let me confirm: the schools table has a County column, so joining frpm with schools on CDSCode would allow me to filter by County in the schools table.

So the plan is: join frpm and schools on CDSCode, filter where schools.County = 'Alameda', calculate the eligible free rate as (Free Meal Count (K-12) / Enrollment (K-12)), then find the maximum value of that rate.

Wait, but the frpm table has Free Meal Count (K-12) and Enrollment (K-12) as columns. So I can calculate the rate as Free Meal Count / Enrollment. But I need to make sure that Enrollment is not zero to avoid division by zero. However, the problem might not require handling that, assuming the data is clean.

So the SQL query steps:

1. Join frpm and schools on CDSCode.
2. Filter where schools.County = 'Alameda'.
3. Calculate the rate as (Free Meal Count (K-12) / Enrollment (K-12)).
4. Find the maximum value of this rate.

Now, writing the SQL query. The SELECT clause should include the calculated rate. But since the question asks for the highest rate, I can use MAX() on the calculated value.

Wait, but the question is asking for the highest rate, so the query would select the maximum of (Free Meal Count / Enrollment). However, since the calculation is per row, using MAX() on that expression would give the highest value.

So the query would be:

SELECT MAX(Free Meal Count (K-12) / Enrollment (K-12)) AS highest_rate
FROM frpm
JOIN schools ON frpm.CDSCode = schools.CDSCode
WHERE schools.County = 'Alameda';

But wait, I need to make sure that the column names are correctly quoted. In SQLite, if the column names have spaces, they need to be enclosed in quotes. So the columns "Free Meal Count (K-12)" and "Enrollment (K-12)" should be in quotes.

So the correct query would have those columns quoted. Also, the County column in schools is 'County', so the WHERE clause is schools.County = 'Alameda'.

Putting it all together:

SELECT MAX(`Free Meal Count (K-12)` / `Enrollment (K-12)`) AS highest_rate
FROM frpm
JOIN schools ON frpm.CDSCode = schools.CDSCode
WHERE schools.County = 'Alameda';

But the question says to include only the information asked, which is the highest rate. So the SELECT clause should just return that max value. The AS highest_rate is optional, but the query needs to return the value. However, the problem says to include only what's asked, so the output should be the maximum value, which is the highest eligible free rate. The query as written would return that value.

Final answer based om reasoning for this model:


```
SELECT MAX(`Free Meal Count (K-12)` / `Enrollment (K-12)`) FROM frpm JOIN schools ON frpm.CDSCode = schools.CDSCode WHERE schools.County = 'Alameda';
```

model 1 analysis:
 Reasoning process:

Okay, let's see. The user is asking for the highest eligible free rate for K-12 students in schools located in Alameda County.

First, I need to figure out which tables and columns are relevant. The eligible free rate is calculated as Free Meal Count (K-12) divided by Enrollment (K-12). So, the frpm table has these two columns. But I also need to filter schools in Alameda County.

Looking at the tables, the frpm table has a County Name column. Wait, the County Name in frpm is called 'County Name' with examples like Alameda. So, I should check where 'County Name' equals 'Alameda' in the frpm table.

But wait, the schools table also has a County column. However, the question is about schools in Alameda County. But the frpm table's County Name might be the right one to use here. Let me confirm. The frpm table's County Name examples include Alameda, so that's the column to filter on.

So the plan is: select the eligible free rate (Free Meal Count / Enrollment) from the frpm table where County Name is Alameda. Then find the maximum value of that rate.

But I need to make sure that the division is done correctly. The Free Meal Count (K-12) is a REAL number, and Enrollment (K-12) is also REAL. So dividing them will give the percentage. Then, I need to select the maximum of that value.

So the SQL query would be: SELECT MAX((Free Meal Count (K-12) / Enrollment (K-12))) FROM frpm WHERE 'County Name' = 'Alameda';

Wait, but in SQLite, column names with spaces need to be quoted. So the column names should be in double quotes. Also, the County Name is a column in frpm, so the WHERE clause should be 'County Name' = 'Alameda'.

So the final query would use MAX on the calculated rate, filtering by the county. That should give the highest eligible free rate in Alameda County.

Final answer based om reasoning for this model:


```
SELECT MAX("Free Meal Count (K-12)" / "Enrollment (K-12)") FROM frpm WHERE "County Name" = 'Alameda';
```


here is avaliable tables and their structure below
【DB_ID】 california_schools
【Schema】
# Table: frpm
[
(CDSCode:TEXT, maps to schools.CDSCode, Primary Key, Examples: [01100170109835, 01100170112607, 01100170118489]),
(Academic Year:TEXT, Examples: [2014-2015]),
(County Code:TEXT, Examples: [01, 02, 03]),
(District Code:INTEGER, Examples: [10017, 31609, 31617]),
(School Code:TEXT, Examples: [0109835, 0112607, 0118489]),
(County Name:TEXT, Examples: [Alameda, Alpine, Amador]),
(District Name:TEXT),
(School Name:TEXT, Examples: [FAME Public Charter]),
(District Type:TEXT, Examples: [County Office of Education (COE)]),
(School Type:TEXT, Examples: [K-12 Schools (Public)]),
(Educational Option Type:TEXT, Examples: [Traditional]),
(NSLP Provision Status:TEXT, Examples: [Breakfast Provision 2]),
(Charter School (Y/N):INTEGER, Examples: [1, 0]),
(Charter School Number:TEXT, Examples: [0728, 0811, 1049]),
(Charter Funding Type:TEXT, Examples: [Directly funded]),
(IRC:INTEGER, Examples: [1, 0]),
(Low Grade:TEXT, Examples: [K, 9, 1]),
(High Grade:TEXT, Examples: [12, 8, 5]),
(Enrollment (K-12):REAL, Examples: [1087.0, 395.0, 244.0]),
(Free Meal Count (K-12):REAL, Examples: [565.0, 186.0, 134.0]),
(Percent (%) Eligible Free (K-12):REAL, Examples: [0.519779208831647, 0.470886075949367, 0.549180327868853]),
(FRPM Count (K-12):REAL, Examples: [715.0, 186.0, 175.0]),
(Percent (%) Eligible FRPM (K-12):REAL, Examples: [0.657773689052438, 0.470886075949367, 0.717213114754098]),
(Enrollment (Ages 5-17):REAL, Examples: [1070.0, 376.0, 230.0]),
(Free Meal Count (Ages 5-17):REAL, Examples: [553.0, 182.0, 128.0]),
(Percent (%) Eligible Free (Ages 5-17):REAL, Examples: [0.516822429906542, 0.484042553191489, 0.556521739130435]),
(FRPM Count (Ages 5-17):REAL, Examples: [702.0, 182.0, 168.0]),
(Percent (%) Eligible FRPM (Ages 5-17):REAL, Examples: [0.65607476635514, 0.484042553191489, 0.730434782608696]),
(2013-14 CALPADS Fall 1 Certification Status:INTEGER, Examples: [1])
]
# Table: satscores
[
(cds:TEXT, maps to schools.CDSCode, Primary Key, Examples: [10101080000000, 10101080109991, 10101080111682]),
(rtype:TEXT, Examples: [D, S]),
(sname:TEXT, Examples: [FAME Public Charter]),
(dname:TEXT, Examples: [Alameda County Office of Education]),
(cname:TEXT, Examples: [Alameda, Amador, Butte]),
(enroll12:INTEGER, Examples: [398, 62, 75]),
(NumTstTakr:INTEGER, Examples: [88, 17, 71]),
(AvgScrRead:INTEGER, Examples: [418, 503, 397]),
(AvgScrMath:INTEGER, Examples: [418, 546, 387]),
(AvgScrWrite:INTEGER, Examples: [417, 505, 395]),
(NumGE1500:INTEGER, Examples: [14, 9, 5])
]
# Table: schools
[
(CDSCode:TEXT, Primary Key, Examples: [01100170000000, 01100170109835, 01100170112607]),
(NCESDist:TEXT, Examples: [0691051, 0600002, 0600003]),
(NCESSchool:TEXT, Examples: [10546, 10947, 12283]),
(StatusType:TEXT, Examples: [Active, Closed, Merged]),
(County:TEXT, Examples: [Alameda, Alpine, Amador]),
(District:TEXT),
(School:TEXT, Examples: [FAME Public Charter]),
(Street:TEXT, Examples: [313 West Winton Avenue]),
(StreetAbr:TEXT, Examples: [313 West Winton Ave.]),
(City:TEXT, Examples: [Hayward, Newark, Oakland]),
(Zip:TEXT, Examples: [94544-1136, 94560-5359, 94612-3355]),
(State:TEXT, Examples: [CA]),
(MailStreet:TEXT, Examples: [313 West Winton Avenue]),
(MailStrAbr:TEXT, Examples: [313 West Winton Ave.]),
(MailCity:TEXT, Examples: [Hayward, Newark, Oakland]),
(MailZip:TEXT, Examples: [94544-1136, 94560-5359, 94612]),
(MailState:TEXT, Examples: [CA]),
(Phone:TEXT, Examples: [(510) 887-0152, (510) 596-8901, (510) 686-4131]),
(Ext:TEXT, Examples: [130, 1240, 1200]),
(Website:TEXT, Examples: [www.acoe.org]),
(OpenDate:DATE, Examples: [2005-08-29]),
(ClosedDate:DATE, Examples: [2015-07-31]),
(Charter:INTEGER, Examples: [1, 0]),
(CharterNum:TEXT, Examples: [0728, 0811, 1049]),
(FundingType:TEXT, Examples: [Directly funded]),
(DOC:TEXT, Examples: [00, 31, 34]),
(DOCType:TEXT, Examples: [County Office of Education (COE)]),
(SOC:TEXT, Examples: [65, 66, 60]),
(SOCType:TEXT, Examples: [K-12 Schools (Public)]),
(EdOpsCode:TEXT, Examples: [TRAD, JUV, COMM]),
(EdOpsName:TEXT, Examples: [Traditional]),
(EILCode:TEXT, Examples: [ELEMHIGH, HS, ELEM]),
(EILName:TEXT, Examples: [Elementary-High Combination]),
(GSoffered:TEXT, Examples: [K-12, 9-12, K-8]),
(GSserved:TEXT, Examples: [K-12, 9-12, K-7]),
(Virtual:TEXT, Examples: [P, N, F]),
(Magnet:INTEGER, Examples: [0, 1]),
(Latitude:REAL, Examples: [37.658212, 37.521436, 37.80452]),
(Longitude:REAL, Examples: [-122.09713, -121.99391, -122.26815]),
(AdmFName1:TEXT, Examples: [L Karen, Laura, Clifford]),
(AdmLName1:TEXT, Examples: [Monroe, Robell, Thompson]),
(AdmEmail1:TEXT),
(AdmFName2:TEXT, Examples: [Sau-Lim (Lance), Jennifer, Annalisa]),
(AdmLName2:TEXT, Examples: [Tsang, Koelling, Moore]),
(AdmEmail2:TEXT),
(AdmFName3:TEXT, Examples: [Drew, Irma, Vickie]),
(AdmLName3:TEXT, Examples: [Sarratore, Munoz, Chang]),
(AdmEmail3:TEXT),
(LastUpdate:DATE, Examples: [2015-06-23])
]
【Foreign keys】
frpm.CDSCode=schools.CDSCode
satscores.cds=schools.CDSCode

-- Using valid SQLite and understanding External Knowledge, answer the following questions for the tables provided above.
-- What is the highest eligible free rate for K-12 students in the schools in Alameda County?
-- External Knowledge: Eligible free rate for K-12 = `Free Meal Count (K-12)` / `Enrollment (K-12)`


Generate the SQLite for the above question after thinking step by step:


Instructions:
- Make sure you only output the information that is asked in the question. If the question asks for a specific column, make sure to only include that column in the SELECT clause, nothing more.
- The generated query should return all of the information asked in the question without any missing or extra information.
- Before generating the final SQL query, please think through the steps of how to write the query.
- Do not misuse column names, keep them in quotes `
- Carefully understand what colomns belond to what tables
- Use only initial column names, change names prohibited

Output Format:
In your answer, please enclose the generated SQL query in a code block:
```
-- Your SQL query
```
and nothing else, no exaplains, no comments (asnwer should be less than 512 characters)

Take a deep breath and think step by step to find the correct SQL query in SQLite format.

Question repetition: What is the highest eligible free rate for K-12 students in the schools in Alameda County?

Be care! Include only what i want it questiona and nothing else<|im_end|>
<|im_start|>assistant
<think>

</think>




Максимальное количество токенов в промптах: 13801

начинаем скорринг
Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [02:33<00:00, 10.01it/s, est. speed input: 41390.08 toks/s, output: 465.50 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.82
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.26%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [02:34<00:00,  9.92it/s, est. speed input: 40782.34 toks/s, output: 463.93 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.15
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.65%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [02:39<00:00,  9.61it/s, est. speed input: 39381.27 toks/s, output: 456.34 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.82
Qwen3-8B процент запросов, которые успешно выполнились DEV: 93.94%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [02:36<00:00,  9.80it/s, est. speed input: 40439.04 toks/s, output: 455.42 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.34
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.46%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [02:36<00:00,  9.80it/s, est. speed input: 40680.21 toks/s, output: 455.76 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.28
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.72%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [02:37<00:00,  9.73it/s, est. speed input: 40227.89 toks/s, output: 454.68 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.15
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.18%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [02:33<00:00,  9.98it/s, est. speed input: 41151.55 toks/s, output: 461.13 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.63
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.65%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [02:34<00:00,  9.94it/s, est. speed input: 41128.19 toks/s, output: 461.13 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.95
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.20%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [02:35<00:00,  9.84it/s, est. speed input: 41173.24 toks/s, output: 456.67 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.10
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.52%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [02:38<00:00,  9.70it/s, est. speed input: 40595.01 toks/s, output: 453.09 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.69
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.26%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [02:32<00:00, 10.07it/s, est. speed input: 41656.22 toks/s, output: 465.62 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.04
Qwen3-8B процент запросов, которые успешно выполнились DEV: 93.94%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [02:35<00:00,  9.84it/s, est. speed input: 40959.36 toks/s, output: 459.85 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.56
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.72%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [02:34<00:00,  9.95it/s, est. speed input: 41288.81 toks/s, output: 463.00 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 59.71
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.33%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [02:35<00:00,  9.87it/s, est. speed input: 41025.58 toks/s, output: 459.72 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 59.39
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.39%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [02:34<00:00,  9.90it/s, est. speed input: 41195.29 toks/s, output: 460.11 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.63
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.39%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [02:33<00:00,  9.99it/s, est. speed input: 41183.09 toks/s, output: 458.47 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.37
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.92%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [02:33<00:00,  9.99it/s, est. speed input: 41428.72 toks/s, output: 460.41 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.43
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.18%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [02:33<00:00, 10.01it/s, est. speed input: 41467.05 toks/s, output: 460.49 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 62.13
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.05%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [02:32<00:00, 10.03it/s, est. speed input: 41060.10 toks/s, output: 464.14 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.50
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.72%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [02:38<00:00,  9.68it/s, est. speed input: 39631.27 toks/s, output: 455.26 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.37
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.00%
====================================================================================================

## 3 наблюдения

In [5]:
n= 20
arr_seeds = [random.randint(0,1000) for _ in range(n)]
arr_versions = [x for x in range(n)]
model = "Qwen3-8B"
num_observations = 3
type_cot = 'all_new'
print(arr_seeds)
print(f"model: {model}")

[260, 838, 897, 346, 268, 222, 835, 671, 597, 391, 67, 514, 318, 612, 613, 829, 19, 29, 50, 50]
model: Qwen3-8B

In [6]:
run_cot_experiment(model,arr_seeds,arr_versions, type_cot,num_observations=num_observations)

Загружаем модель...

Loading safetensors checkpoint shards:   0% Completed | 0/4 [00:00<?, ?it/s]
Loading safetensors checkpoint shards:  25% Completed | 1/4 [00:00<00:00,  7.88it/s]
Loading safetensors checkpoint shards:  50% Completed | 2/4 [00:00<00:00,  2.66it/s]
Loading safetensors checkpoint shards:  75% Completed | 3/4 [00:01<00:00,  2.00it/s]
Loading safetensors checkpoint shards: 100% Completed | 4/4 [00:01<00:00,  1.80it/s]
Loading safetensors checkpoint shards: 100% Completed | 4/4 [00:01<00:00,  2.04it/s]
(VllmWorker rank=0 pid=1536634)

Модель успешно загружена
model_config {'model': '/data/home/vkropoti/models/Qwen3-8B', 'tensor_parallel_size': 2, 'max_model_len': 40000, 'max_new_tokens': 1500, 'temperature': 0, 'top_k': 1, 'top_p': 0.8, 'gpu_memory_utilization': 0.9, 'trust_remote_code': False, 'seed': 260}

prompts_config {'path_dev_json': '/home/vkropoti/vllm/dev.json', 'path_sql_dbs': '/data/home/vkropoti/sql_data/dev_databases/', 'use_reasoning': False, 'paths_to_cot': ['/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_all_new_Qwen3-8B-reasoning-v0', '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_all_new_Qwen3-8B-reasoning-v1', '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_all_new_Qwen3-8B-reasoning-v2']}

save_config {'path_sql_save': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_all_Qwen3-8B-cot_all_new_think==False_nobs3-v0', 'path_think_save': None, 'path_sql_answers_save': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_predict_Qwen3-8B-cot_all_new_think==False_nobs3-v0', 'path_to_save_scores': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_results_Qwen3-8B-cot_all_new_think==False_nobs3-v0', 'path_to_save_executed': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_executed_Qwen3-8B-cot_all_new_think==False_nobs3-v0'}

Модель успешно загружена
Пример промпта
<|im_start|>system

You are a data science expert. Below, you are provided with a database schema and a natural language question. Your task is to understand the schema and generate a valid SQL query to answer the question.

Database Engine: SQLite

You will be given an additional analysis of other models, please take it into account, so the plan is
1. Analyse given addition analysis from other models (find in which analysis the same and differ, how to use that to answer question)
2. Combine best from previous part and think how to solve the problem (analyze tables, take care what columns avaliable in each table and so on, check the syntacsis)
3. Create the answers. The answer should be only sql query.

Carefully follow the instruction and add <|im_end|> and the end of the final answer<|im_end|>
<|im_start|>user
Here is addition analysis from other models which can be helpfull, please take this into account but be careful (choose the best from each analysis, combine them to make the most proper answer):

model 0 analysis:
 Reasoning process:

Okay, I need to find the highest eligible free rate for K-12 students in schools located in Alameda County. Let me start by understanding the tables and columns involved.

First, the question mentions "eligible free rate for K-12," which is calculated as Free Meal Count (K-12) divided by Enrollment (K-12). The tables involved are likely the frpm table since it has those columns. But I also need to filter schools in Alameda County. The schools table has a County column, so I'll need to join frpm with schools on CDSCode to get the county information.

Wait, the frpm table has a County Name column, but the schools table also has a County column. Which one should I use? The question specifies "Alameda County," so I should check both tables. However, the schools table's County column is more directly related to the school's location. But the frpm table's County Name might be more accurate for the data. Hmm. Wait, the foreign key is between frpm.CDSCode and schools.CDSCode, so joining on that would allow me to get the County from schools. Let me confirm: the schools table has a County column, so joining frpm with schools on CDSCode would allow me to filter by County in the schools table.

So the plan is: join frpm and schools on CDSCode, filter where schools.County = 'Alameda', calculate the eligible free rate as (Free Meal Count (K-12) / Enrollment (K-12)), then find the maximum value of that rate.

Wait, but the frpm table has Free Meal Count (K-12) and Enrollment (K-12) as columns. So I can calculate the rate as Free Meal Count / Enrollment. But I need to make sure that Enrollment is not zero to avoid division by zero. However, the problem might not require handling that, assuming the data is clean.

So the SQL query steps:

1. Join frpm and schools on CDSCode.
2. Filter where schools.County = 'Alameda'.
3. Calculate the rate as (Free Meal Count (K-12) / Enrollment (K-12)).
4. Find the maximum value of this rate.

Now, writing the SQL query. The SELECT clause should include the calculated rate. But since the question asks for the highest rate, I can use MAX() on the calculated value.

Wait, but the question is asking for the highest rate, so the query would select the maximum of (Free Meal Count / Enrollment). However, since the calculation is per row, using MAX() on that expression would give the highest value.

So the query would be:

SELECT MAX(Free Meal Count (K-12) / Enrollment (K-12)) AS highest_rate
FROM frpm
JOIN schools ON frpm.CDSCode = schools.CDSCode
WHERE schools.County = 'Alameda';

But wait, I need to make sure that the column names are correctly quoted. In SQLite, if the column names have spaces, they need to be enclosed in quotes. So the columns "Free Meal Count (K-12)" and "Enrollment (K-12)" should be in quotes.

So the correct query would have those columns quoted. Also, the County column in schools is 'County', so the WHERE clause is schools.County = 'Alameda'.

Putting it all together:

SELECT MAX(`Free Meal Count (K-12)` / `Enrollment (K-12)`) AS highest_rate
FROM frpm
JOIN schools ON frpm.CDSCode = schools.CDSCode
WHERE schools.County = 'Alameda';

But the question says to include only the information asked, which is the highest rate. So the SELECT clause should just return that max value. The AS highest_rate is optional, but the query needs to return the value. However, the problem says to include only what's asked, so the output should be the maximum value, which is the highest eligible free rate. The query as written would return that value.

Final answer based om reasoning for this model:


```
SELECT MAX(`Free Meal Count (K-12)` / `Enrollment (K-12)`) FROM frpm JOIN schools ON frpm.CDSCode = schools.CDSCode WHERE schools.County = 'Alameda';
```

model 1 analysis:
 Reasoning process:

Okay, let's see. The user is asking for the highest eligible free rate for K-12 students in schools located in Alameda County.

First, I need to figure out which tables and columns are relevant. The eligible free rate is calculated as Free Meal Count (K-12) divided by Enrollment (K-12). So, the frpm table has these two columns. But I also need to filter schools in Alameda County.

Looking at the tables, the frpm table has a County Name column. Wait, the County Name in frpm is called 'County Name' with examples like Alameda. So, I should check where 'County Name' equals 'Alameda' in the frpm table.

But wait, the schools table also has a County column. However, the question is about schools in Alameda County. But the frpm table's County Name might be the right one to use here. Let me confirm. The frpm table's County Name examples include Alameda, so that's the column to filter on.

So the plan is: select the eligible free rate (Free Meal Count / Enrollment) from the frpm table where County Name is Alameda. Then find the maximum value of that rate.

But I need to make sure that the division is done correctly. The Free Meal Count (K-12) is a REAL number, and Enrollment (K-12) is also REAL. So dividing them will give the percentage. Then, I need to select the maximum of that value.

So the SQL query would be: SELECT MAX((Free Meal Count (K-12) / Enrollment (K-12))) FROM frpm WHERE 'County Name' = 'Alameda';

Wait, but in SQLite, column names with spaces need to be quoted. So the column names should be in double quotes. Also, the County Name is a column in frpm, so the WHERE clause should be 'County Name' = 'Alameda'.

So the final query would use MAX on the calculated rate, filtering by the county. That should give the highest eligible free rate in Alameda County.

Final answer based om reasoning for this model:


```
SELECT MAX("Free Meal Count (K-12)" / "Enrollment (K-12)") FROM frpm WHERE "County Name" = 'Alameda';
```

model 2 analysis:
 Reasoning process:

Okay, I need to find the highest eligible free rate for K-12 students in schools located in Alameda County. Let's start by understanding the tables and columns involved.

First, the 'schools' table has a column called 'County' which should be used to filter schools in Alameda County. The 'frpm' table contains the 'Free Meal Count (K-12)' and 'Enrollment (K-12)' columns needed to calculate the eligible free rate.

Since the 'frpm' table's CDSCode is linked to the 'schools' table's CDSCode via a foreign key, I'll need to join these two tables on CDSCode. The calculation for the eligible free rate is Free Meal Count divided by Enrollment.

I should select the maximum value of this calculated rate from the joined tables where the County is 'Alameda'. To ensure accuracy, I'll use the correct column names and perform the division as a decimal. Also, I need to handle possible NULL values, but since the question is about existing schools, maybe it's safe to assume these fields are not null.

So the steps are: join schools and frpm on CDSCode, filter where County is 'Alameda', calculate the rate, and find the maximum. The final query should return only the highest rate.

Final answer based om reasoning for this model:


```
SELECT MAX(`Free Meal Count (K-12)` / `Enrollment (K-12)`) FROM frpm JOIN schools ON frpm.CDSCode = schools.CDSCode WHERE schools.County = 'Alameda';
```


here is avaliable tables and their structure below
【DB_ID】 california_schools
【Schema】
# Table: frpm
[
(CDSCode:TEXT, maps to schools.CDSCode, Primary Key, Examples: [01100170109835, 01100170112607, 01100170118489]),
(Academic Year:TEXT, Examples: [2014-2015]),
(County Code:TEXT, Examples: [01, 02, 03]),
(District Code:INTEGER, Examples: [10017, 31609, 31617]),
(School Code:TEXT, Examples: [0109835, 0112607, 0118489]),
(County Name:TEXT, Examples: [Alameda, Alpine, Amador]),
(District Name:TEXT),
(School Name:TEXT, Examples: [FAME Public Charter]),
(District Type:TEXT, Examples: [County Office of Education (COE)]),
(School Type:TEXT, Examples: [K-12 Schools (Public)]),
(Educational Option Type:TEXT, Examples: [Traditional]),
(NSLP Provision Status:TEXT, Examples: [Breakfast Provision 2]),
(Charter School (Y/N):INTEGER, Examples: [1, 0]),
(Charter School Number:TEXT, Examples: [0728, 0811, 1049]),
(Charter Funding Type:TEXT, Examples: [Directly funded]),
(IRC:INTEGER, Examples: [1, 0]),
(Low Grade:TEXT, Examples: [K, 9, 1]),
(High Grade:TEXT, Examples: [12, 8, 5]),
(Enrollment (K-12):REAL, Examples: [1087.0, 395.0, 244.0]),
(Free Meal Count (K-12):REAL, Examples: [565.0, 186.0, 134.0]),
(Percent (%) Eligible Free (K-12):REAL, Examples: [0.519779208831647, 0.470886075949367, 0.549180327868853]),
(FRPM Count (K-12):REAL, Examples: [715.0, 186.0, 175.0]),
(Percent (%) Eligible FRPM (K-12):REAL, Examples: [0.657773689052438, 0.470886075949367, 0.717213114754098]),
(Enrollment (Ages 5-17):REAL, Examples: [1070.0, 376.0, 230.0]),
(Free Meal Count (Ages 5-17):REAL, Examples: [553.0, 182.0, 128.0]),
(Percent (%) Eligible Free (Ages 5-17):REAL, Examples: [0.516822429906542, 0.484042553191489, 0.556521739130435]),
(FRPM Count (Ages 5-17):REAL, Examples: [702.0, 182.0, 168.0]),
(Percent (%) Eligible FRPM (Ages 5-17):REAL, Examples: [0.65607476635514, 0.484042553191489, 0.730434782608696]),
(2013-14 CALPADS Fall 1 Certification Status:INTEGER, Examples: [1])
]
# Table: satscores
[
(cds:TEXT, maps to schools.CDSCode, Primary Key, Examples: [10101080000000, 10101080109991, 10101080111682]),
(rtype:TEXT, Examples: [D, S]),
(sname:TEXT, Examples: [FAME Public Charter]),
(dname:TEXT, Examples: [Alameda County Office of Education]),
(cname:TEXT, Examples: [Alameda, Amador, Butte]),
(enroll12:INTEGER, Examples: [398, 62, 75]),
(NumTstTakr:INTEGER, Examples: [88, 17, 71]),
(AvgScrRead:INTEGER, Examples: [418, 503, 397]),
(AvgScrMath:INTEGER, Examples: [418, 546, 387]),
(AvgScrWrite:INTEGER, Examples: [417, 505, 395]),
(NumGE1500:INTEGER, Examples: [14, 9, 5])
]
# Table: schools
[
(CDSCode:TEXT, Primary Key, Examples: [01100170000000, 01100170109835, 01100170112607]),
(NCESDist:TEXT, Examples: [0691051, 0600002, 0600003]),
(NCESSchool:TEXT, Examples: [10546, 10947, 12283]),
(StatusType:TEXT, Examples: [Active, Closed, Merged]),
(County:TEXT, Examples: [Alameda, Alpine, Amador]),
(District:TEXT),
(School:TEXT, Examples: [FAME Public Charter]),
(Street:TEXT, Examples: [313 West Winton Avenue]),
(StreetAbr:TEXT, Examples: [313 West Winton Ave.]),
(City:TEXT, Examples: [Hayward, Newark, Oakland]),
(Zip:TEXT, Examples: [94544-1136, 94560-5359, 94612-3355]),
(State:TEXT, Examples: [CA]),
(MailStreet:TEXT, Examples: [313 West Winton Avenue]),
(MailStrAbr:TEXT, Examples: [313 West Winton Ave.]),
(MailCity:TEXT, Examples: [Hayward, Newark, Oakland]),
(MailZip:TEXT, Examples: [94544-1136, 94560-5359, 94612]),
(MailState:TEXT, Examples: [CA]),
(Phone:TEXT, Examples: [(510) 887-0152, (510) 596-8901, (510) 686-4131]),
(Ext:TEXT, Examples: [130, 1240, 1200]),
(Website:TEXT, Examples: [www.acoe.org]),
(OpenDate:DATE, Examples: [2005-08-29]),
(ClosedDate:DATE, Examples: [2015-07-31]),
(Charter:INTEGER, Examples: [1, 0]),
(CharterNum:TEXT, Examples: [0728, 0811, 1049]),
(FundingType:TEXT, Examples: [Directly funded]),
(DOC:TEXT, Examples: [00, 31, 34]),
(DOCType:TEXT, Examples: [County Office of Education (COE)]),
(SOC:TEXT, Examples: [65, 66, 60]),
(SOCType:TEXT, Examples: [K-12 Schools (Public)]),
(EdOpsCode:TEXT, Examples: [TRAD, JUV, COMM]),
(EdOpsName:TEXT, Examples: [Traditional]),
(EILCode:TEXT, Examples: [ELEMHIGH, HS, ELEM]),
(EILName:TEXT, Examples: [Elementary-High Combination]),
(GSoffered:TEXT, Examples: [K-12, 9-12, K-8]),
(GSserved:TEXT, Examples: [K-12, 9-12, K-7]),
(Virtual:TEXT, Examples: [P, N, F]),
(Magnet:INTEGER, Examples: [0, 1]),
(Latitude:REAL, Examples: [37.658212, 37.521436, 37.80452]),
(Longitude:REAL, Examples: [-122.09713, -121.99391, -122.26815]),
(AdmFName1:TEXT, Examples: [L Karen, Laura, Clifford]),
(AdmLName1:TEXT, Examples: [Monroe, Robell, Thompson]),
(AdmEmail1:TEXT),
(AdmFName2:TEXT, Examples: [Sau-Lim (Lance), Jennifer, Annalisa]),
(AdmLName2:TEXT, Examples: [Tsang, Koelling, Moore]),
(AdmEmail2:TEXT),
(AdmFName3:TEXT, Examples: [Drew, Irma, Vickie]),
(AdmLName3:TEXT, Examples: [Sarratore, Munoz, Chang]),
(AdmEmail3:TEXT),
(LastUpdate:DATE, Examples: [2015-06-23])
]
【Foreign keys】
frpm.CDSCode=schools.CDSCode
satscores.cds=schools.CDSCode

-- Using valid SQLite and understanding External Knowledge, answer the following questions for the tables provided above.
-- What is the highest eligible free rate for K-12 students in the schools in Alameda County?
-- External Knowledge: Eligible free rate for K-12 = `Free Meal Count (K-12)` / `Enrollment (K-12)`


Generate the SQLite for the above question after thinking step by step:


Instructions:
- Make sure you only output the information that is asked in the question. If the question asks for a specific column, make sure to only include that column in the SELECT clause, nothing more.
- The generated query should return all of the information asked in the question without any missing or extra information.
- Before generating the final SQL query, please think through the steps of how to write the query.
- Do not misuse column names, keep them in quotes `
- Carefully understand what colomns belond to what tables
- Use only initial column names, change names prohibited

Output Format:
In your answer, please enclose the generated SQL query in a code block:
```
-- Your SQL query
```
and nothing else, no exaplains, no comments (asnwer should be less than 512 characters)

Take a deep breath and think step by step to find the correct SQL query in SQLite format.

Question repetition: What is the highest eligible free rate for K-12 students in the schools in Alameda County?

Be care! Include only what i want it questiona and nothing else<|im_end|>
<|im_start|>assistant
<think>

</think>




Максимальное количество токенов в промптах: 23682

начинаем скорринг
Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:09<00:00,  8.09it/s, est. speed input: 40357.80 toks/s, output: 374.20 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.08
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.72%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:12<00:00,  7.98it/s, est. speed input: 39760.99 toks/s, output: 376.06 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.41
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.46%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:11<00:00,  7.99it/s, est. speed input: 39790.56 toks/s, output: 372.75 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.63
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.72%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:12<00:00,  7.96it/s, est. speed input: 39946.12 toks/s, output: 369.61 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 62.06
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.26%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:10<00:00,  8.03it/s, est. speed input: 40297.69 toks/s, output: 372.19 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.67
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.05%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:10<00:00,  8.04it/s, est. speed input: 40337.14 toks/s, output: 372.98 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.82
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.59%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:10<00:00,  8.04it/s, est. speed input: 40281.11 toks/s, output: 371.34 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.82
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.78%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:13<00:00,  7.94it/s, est. speed input: 40239.59 toks/s, output: 366.77 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.08
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.05%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:14<00:00,  7.87it/s, est. speed input: 39900.74 toks/s, output: 364.91 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.82
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.59%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:11<00:00,  8.02it/s, est. speed input: 40646.25 toks/s, output: 371.17 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.50
Qwen3-8B процент запросов, которые успешно выполнились DEV: 93.94%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:12<00:00,  7.97it/s, est. speed input: 40227.43 toks/s, output: 370.19 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.23
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.92%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:10<00:00,  8.07it/s, est. speed input: 40555.57 toks/s, output: 372.02 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 59.78
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.39%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:14<00:00,  7.87it/s, est. speed input: 39873.22 toks/s, output: 366.75 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 59.84
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.78%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:12<00:00,  7.95it/s, est. speed input: 39986.69 toks/s, output: 371.52 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.56
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.72%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:12<00:00,  7.97it/s, est. speed input: 40161.25 toks/s, output: 367.01 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.69
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.05%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:08<00:00,  8.12it/s, est. speed input: 40721.47 toks/s, output: 370.59 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.63
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.65%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:11<00:00,  8.01it/s, est. speed input: 40210.89 toks/s, output: 370.60 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.34
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.50%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:10<00:00,  8.06it/s, est. speed input: 40205.65 toks/s, output: 372.05 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.02
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.44%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:09<00:00,  8.08it/s, est. speed input: 40140.63 toks/s, output: 371.99 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.60
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.92%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:10<00:00,  8.07it/s, est. speed input: 40165.67 toks/s, output: 371.89 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.08
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.78%
====================================================================================================

## 4 наблюдения

In [7]:
n= 20
arr_seeds = [random.randint(0,1000) for _ in range(n)]
arr_versions = [x for x in range(n)]
model = "Qwen3-8B"
num_observations = 4
type_cot = 'all_new'
print(arr_seeds)
print(f"model: {model}")

[687, 704, 319, 446, 540, 82, 513, 229, 602, 929, 619, 833, 587, 470, 860, 332, 155, 10, 665, 603]
model: Qwen3-8B

In [8]:
run_cot_experiment(model,arr_seeds,arr_versions, type_cot,num_observations=num_observations)

Загружаем модель...

Loading safetensors checkpoint shards:   0% Completed | 0/4 [00:00<?, ?it/s]
Loading safetensors checkpoint shards:  25% Completed | 1/4 [00:00<00:00,  7.86it/s]
Loading safetensors checkpoint shards:  50% Completed | 2/4 [00:00<00:00,  2.71it/s]
Loading safetensors checkpoint shards:  75% Completed | 3/4 [00:01<00:00,  2.00it/s]
Loading safetensors checkpoint shards: 100% Completed | 4/4 [00:01<00:00,  1.80it/s]
Loading safetensors checkpoint shards: 100% Completed | 4/4 [00:01<00:00,  2.03it/s]
(VllmWorker rank=0 pid=1600408)

Модель успешно загружена
model_config {'model': '/data/home/vkropoti/models/Qwen3-8B', 'tensor_parallel_size': 2, 'max_model_len': 40000, 'max_new_tokens': 1500, 'temperature': 0, 'top_k': 1, 'top_p': 0.8, 'gpu_memory_utilization': 0.9, 'trust_remote_code': False, 'seed': 687}

prompts_config {'path_dev_json': '/home/vkropoti/vllm/dev.json', 'path_sql_dbs': '/data/home/vkropoti/sql_data/dev_databases/', 'use_reasoning': False, 'paths_to_cot': ['/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_all_new_Qwen3-8B-reasoning-v0', '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_all_new_Qwen3-8B-reasoning-v1', '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_all_new_Qwen3-8B-reasoning-v2', '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_all_new_Qwen3-8B-reasoning-v3']}

save_config {'path_sql_save': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_all_Qwen3-8B-cot_all_new_think==False_nobs4-v0', 'path_think_save': None, 'path_sql_answers_save': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_predict_Qwen3-8B-cot_all_new_think==False_nobs4-v0', 'path_to_save_scores': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_results_Qwen3-8B-cot_all_new_think==False_nobs4-v0', 'path_to_save_executed': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_executed_Qwen3-8B-cot_all_new_think==False_nobs4-v0'}

Модель успешно загружена
Пример промпта
<|im_start|>system

You are a data science expert. Below, you are provided with a database schema and a natural language question. Your task is to understand the schema and generate a valid SQL query to answer the question.

Database Engine: SQLite

You will be given an additional analysis of other models, please take it into account, so the plan is
1. Analyse given addition analysis from other models (find in which analysis the same and differ, how to use that to answer question)
2. Combine best from previous part and think how to solve the problem (analyze tables, take care what columns avaliable in each table and so on, check the syntacsis)
3. Create the answers. The answer should be only sql query.

Carefully follow the instruction and add <|im_end|> and the end of the final answer<|im_end|>
<|im_start|>user
Here is addition analysis from other models which can be helpfull, please take this into account but be careful (choose the best from each analysis, combine them to make the most proper answer):

model 0 analysis:
 Reasoning process:

Okay, I need to find the highest eligible free rate for K-12 students in schools located in Alameda County. Let me start by understanding the tables and columns involved.

First, the question mentions "eligible free rate for K-12," which is calculated as Free Meal Count (K-12) divided by Enrollment (K-12). The tables involved are likely the frpm table since it has those columns. But I also need to filter schools in Alameda County. The schools table has a County column, so I'll need to join frpm with schools on CDSCode to get the county information.

Wait, the frpm table has a County Name column, but the schools table also has a County column. Which one should I use? The question specifies "Alameda County," so I should check both tables. However, the schools table's County column is more directly related to the school's location. But the frpm table's County Name might be more accurate for the data. Hmm. Wait, the foreign key is between frpm.CDSCode and schools.CDSCode, so joining on that would allow me to get the County from schools. Let me confirm: the schools table has a County column, so joining frpm with schools on CDSCode would allow me to filter by County in the schools table.

So the plan is: join frpm and schools on CDSCode, filter where schools.County = 'Alameda', calculate the eligible free rate as (Free Meal Count (K-12) / Enrollment (K-12)), then find the maximum value of that rate.

Wait, but the frpm table has Free Meal Count (K-12) and Enrollment (K-12) as columns. So I can calculate the rate as Free Meal Count / Enrollment. But I need to make sure that Enrollment is not zero to avoid division by zero. However, the problem might not require handling that, assuming the data is clean.

So the SQL query steps:

1. Join frpm and schools on CDSCode.
2. Filter where schools.County = 'Alameda'.
3. Calculate the rate as (Free Meal Count (K-12) / Enrollment (K-12)).
4. Find the maximum value of this rate.

Now, writing the SQL query. The SELECT clause should include the calculated rate. But since the question asks for the highest rate, I can use MAX() on the calculated value.

Wait, but the question is asking for the highest rate, so the query would select the maximum of (Free Meal Count / Enrollment). However, since the calculation is per row, using MAX() on that expression would give the highest value.

So the query would be:

SELECT MAX(Free Meal Count (K-12) / Enrollment (K-12)) AS highest_rate
FROM frpm
JOIN schools ON frpm.CDSCode = schools.CDSCode
WHERE schools.County = 'Alameda';

But wait, I need to make sure that the column names are correctly quoted. In SQLite, if the column names have spaces, they need to be enclosed in quotes. So the columns "Free Meal Count (K-12)" and "Enrollment (K-12)" should be in quotes.

So the correct query would have those columns quoted. Also, the County column in schools is 'County', so the WHERE clause is schools.County = 'Alameda'.

Putting it all together:

SELECT MAX(`Free Meal Count (K-12)` / `Enrollment (K-12)`) AS highest_rate
FROM frpm
JOIN schools ON frpm.CDSCode = schools.CDSCode
WHERE schools.County = 'Alameda';

But the question says to include only the information asked, which is the highest rate. So the SELECT clause should just return that max value. The AS highest_rate is optional, but the query needs to return the value. However, the problem says to include only what's asked, so the output should be the maximum value, which is the highest eligible free rate. The query as written would return that value.

Final answer based om reasoning for this model:


```
SELECT MAX(`Free Meal Count (K-12)` / `Enrollment (K-12)`) FROM frpm JOIN schools ON frpm.CDSCode = schools.CDSCode WHERE schools.County = 'Alameda';
```

model 1 analysis:
 Reasoning process:

Okay, let's see. The user is asking for the highest eligible free rate for K-12 students in schools located in Alameda County.

First, I need to figure out which tables and columns are relevant. The eligible free rate is calculated as Free Meal Count (K-12) divided by Enrollment (K-12). So, the frpm table has these two columns. But I also need to filter schools in Alameda County.

Looking at the tables, the frpm table has a County Name column. Wait, the County Name in frpm is called 'County Name' with examples like Alameda. So, I should check where 'County Name' equals 'Alameda' in the frpm table.

But wait, the schools table also has a County column. However, the question is about schools in Alameda County. But the frpm table's County Name might be the right one to use here. Let me confirm. The frpm table's County Name examples include Alameda, so that's the column to filter on.

So the plan is: select the eligible free rate (Free Meal Count / Enrollment) from the frpm table where County Name is Alameda. Then find the maximum value of that rate.

But I need to make sure that the division is done correctly. The Free Meal Count (K-12) is a REAL number, and Enrollment (K-12) is also REAL. So dividing them will give the percentage. Then, I need to select the maximum of that value.

So the SQL query would be: SELECT MAX((Free Meal Count (K-12) / Enrollment (K-12))) FROM frpm WHERE 'County Name' = 'Alameda';

Wait, but in SQLite, column names with spaces need to be quoted. So the column names should be in double quotes. Also, the County Name is a column in frpm, so the WHERE clause should be 'County Name' = 'Alameda'.

So the final query would use MAX on the calculated rate, filtering by the county. That should give the highest eligible free rate in Alameda County.

Final answer based om reasoning for this model:


```
SELECT MAX("Free Meal Count (K-12)" / "Enrollment (K-12)") FROM frpm WHERE "County Name" = 'Alameda';
```

model 2 analysis:
 Reasoning process:

Okay, I need to find the highest eligible free rate for K-12 students in schools located in Alameda County. Let's start by understanding the tables and columns involved.

First, the 'schools' table has a column called 'County' which should be used to filter schools in Alameda County. The 'frpm' table contains the 'Free Meal Count (K-12)' and 'Enrollment (K-12)' columns needed to calculate the eligible free rate.

Since the 'frpm' table's CDSCode is linked to the 'schools' table's CDSCode via a foreign key, I'll need to join these two tables on CDSCode. The calculation for the eligible free rate is Free Meal Count divided by Enrollment.

I should select the maximum value of this calculated rate from the joined tables where the County is 'Alameda'. To ensure accuracy, I'll use the correct column names and perform the division as a decimal. Also, I need to handle possible NULL values, but since the question is about existing schools, maybe it's safe to assume these fields are not null.

So the steps are: join schools and frpm on CDSCode, filter where County is 'Alameda', calculate the rate, and find the maximum. The final query should return only the highest rate.

Final answer based om reasoning for this model:


```
SELECT MAX(`Free Meal Count (K-12)` / `Enrollment (K-12)`) FROM frpm JOIN schools ON frpm.CDSCode = schools.CDSCode WHERE schools.County = 'Alameda';
```

model 3 analysis:
 Reasoning process:

Okay, let's tackle this question. The user wants the highest eligible free rate for K-12 students in Alameda County.

First, I need to figure out which tables and columns are involved. The eligible free rate is calculated as Free Meal Count (K-12) divided by Enrollment (K-12). The frpm table has these two columns. Also, the County Name is in the frpm table, so I need to filter where County Name is 'Alameda'.

Wait, the schools table also has a County column. But the question mentions Alameda County, so maybe the frpm's County Name is the right one to use here. Let me check the schema again. The frpm table has County Name, which has examples like Alameda. So I should use frpm.County Name = 'Alameda'.

Next, I need to compute the eligible free rate for each school in Alameda County using the Free Meal Count (K-12) and Enrollment (K-12) from the frpm table. Then find the maximum value of that rate.

So the SQL query should select the maximum of (Free Meal Count (K-12) / Enrollment (K-12)) from frpm where County Name is 'Alameda'.

Wait, but I need to make sure that Enrollment (K-12) isn't zero to avoid division by zero. However, the examples given have enrollment numbers like 1087.0, so maybe it's safe to assume they're non-zero. But since the question doesn't mention handling that, I'll proceed without adding a check.

Putting it all together: SELECT MAX(Free Meal Count (K-12) / Enrollment (K-12)) FROM frpm WHERE County Name = 'Alameda';

I should check if the column names are correctly quoted. The schema lists the columns with spaces, so in SQLite, I need to use double quotes around them. Also, the county name might be stored as 'Alameda' exactly, so the WHERE clause should match that.

Wait, the County Name in frpm has examples like 'Alameda', so the condition is correct. The final query would be selecting the max of the ratio where the county is Alameda.

Final answer based om reasoning for this model:


```
-- Your SQL query
SELECT MAX("Free Meal Count (K-12)" / "Enrollment (K-12)") FROM frpm WHERE "County Name" = 'Alameda';
```


here is avaliable tables and their structure below
【DB_ID】 california_schools
【Schema】
# Table: frpm
[
(CDSCode:TEXT, maps to schools.CDSCode, Primary Key, Examples: [01100170109835, 01100170112607, 01100170118489]),
(Academic Year:TEXT, Examples: [2014-2015]),
(County Code:TEXT, Examples: [01, 02, 03]),
(District Code:INTEGER, Examples: [10017, 31609, 31617]),
(School Code:TEXT, Examples: [0109835, 0112607, 0118489]),
(County Name:TEXT, Examples: [Alameda, Alpine, Amador]),
(District Name:TEXT),
(School Name:TEXT, Examples: [FAME Public Charter]),
(District Type:TEXT, Examples: [County Office of Education (COE)]),
(School Type:TEXT, Examples: [K-12 Schools (Public)]),
(Educational Option Type:TEXT, Examples: [Traditional]),
(NSLP Provision Status:TEXT, Examples: [Breakfast Provision 2]),
(Charter School (Y/N):INTEGER, Examples: [1, 0]),
(Charter School Number:TEXT, Examples: [0728, 0811, 1049]),
(Charter Funding Type:TEXT, Examples: [Directly funded]),
(IRC:INTEGER, Examples: [1, 0]),
(Low Grade:TEXT, Examples: [K, 9, 1]),
(High Grade:TEXT, Examples: [12, 8, 5]),
(Enrollment (K-12):REAL, Examples: [1087.0, 395.0, 244.0]),
(Free Meal Count (K-12):REAL, Examples: [565.0, 186.0, 134.0]),
(Percent (%) Eligible Free (K-12):REAL, Examples: [0.519779208831647, 0.470886075949367, 0.549180327868853]),
(FRPM Count (K-12):REAL, Examples: [715.0, 186.0, 175.0]),
(Percent (%) Eligible FRPM (K-12):REAL, Examples: [0.657773689052438, 0.470886075949367, 0.717213114754098]),
(Enrollment (Ages 5-17):REAL, Examples: [1070.0, 376.0, 230.0]),
(Free Meal Count (Ages 5-17):REAL, Examples: [553.0, 182.0, 128.0]),
(Percent (%) Eligible Free (Ages 5-17):REAL, Examples: [0.516822429906542, 0.484042553191489, 0.556521739130435]),
(FRPM Count (Ages 5-17):REAL, Examples: [702.0, 182.0, 168.0]),
(Percent (%) Eligible FRPM (Ages 5-17):REAL, Examples: [0.65607476635514, 0.484042553191489, 0.730434782608696]),
(2013-14 CALPADS Fall 1 Certification Status:INTEGER, Examples: [1])
]
# Table: satscores
[
(cds:TEXT, maps to schools.CDSCode, Primary Key, Examples: [10101080000000, 10101080109991, 10101080111682]),
(rtype:TEXT, Examples: [D, S]),
(sname:TEXT, Examples: [FAME Public Charter]),
(dname:TEXT, Examples: [Alameda County Office of Education]),
(cname:TEXT, Examples: [Alameda, Amador, Butte]),
(enroll12:INTEGER, Examples: [398, 62, 75]),
(NumTstTakr:INTEGER, Examples: [88, 17, 71]),
(AvgScrRead:INTEGER, Examples: [418, 503, 397]),
(AvgScrMath:INTEGER, Examples: [418, 546, 387]),
(AvgScrWrite:INTEGER, Examples: [417, 505, 395]),
(NumGE1500:INTEGER, Examples: [14, 9, 5])
]
# Table: schools
[
(CDSCode:TEXT, Primary Key, Examples: [01100170000000, 01100170109835, 01100170112607]),
(NCESDist:TEXT, Examples: [0691051, 0600002, 0600003]),
(NCESSchool:TEXT, Examples: [10546, 10947, 12283]),
(StatusType:TEXT, Examples: [Active, Closed, Merged]),
(County:TEXT, Examples: [Alameda, Alpine, Amador]),
(District:TEXT),
(School:TEXT, Examples: [FAME Public Charter]),
(Street:TEXT, Examples: [313 West Winton Avenue]),
(StreetAbr:TEXT, Examples: [313 West Winton Ave.]),
(City:TEXT, Examples: [Hayward, Newark, Oakland]),
(Zip:TEXT, Examples: [94544-1136, 94560-5359, 94612-3355]),
(State:TEXT, Examples: [CA]),
(MailStreet:TEXT, Examples: [313 West Winton Avenue]),
(MailStrAbr:TEXT, Examples: [313 West Winton Ave.]),
(MailCity:TEXT, Examples: [Hayward, Newark, Oakland]),
(MailZip:TEXT, Examples: [94544-1136, 94560-5359, 94612]),
(MailState:TEXT, Examples: [CA]),
(Phone:TEXT, Examples: [(510) 887-0152, (510) 596-8901, (510) 686-4131]),
(Ext:TEXT, Examples: [130, 1240, 1200]),
(Website:TEXT, Examples: [www.acoe.org]),
(OpenDate:DATE, Examples: [2005-08-29]),
(ClosedDate:DATE, Examples: [2015-07-31]),
(Charter:INTEGER, Examples: [1, 0]),
(CharterNum:TEXT, Examples: [0728, 0811, 1049]),
(FundingType:TEXT, Examples: [Directly funded]),
(DOC:TEXT, Examples: [00, 31, 34]),
(DOCType:TEXT, Examples: [County Office of Education (COE)]),
(SOC:TEXT, Examples: [65, 66, 60]),
(SOCType:TEXT, Examples: [K-12 Schools (Public)]),
(EdOpsCode:TEXT, Examples: [TRAD, JUV, COMM]),
(EdOpsName:TEXT, Examples: [Traditional]),
(EILCode:TEXT, Examples: [ELEMHIGH, HS, ELEM]),
(EILName:TEXT, Examples: [Elementary-High Combination]),
(GSoffered:TEXT, Examples: [K-12, 9-12, K-8]),
(GSserved:TEXT, Examples: [K-12, 9-12, K-7]),
(Virtual:TEXT, Examples: [P, N, F]),
(Magnet:INTEGER, Examples: [0, 1]),
(Latitude:REAL, Examples: [37.658212, 37.521436, 37.80452]),
(Longitude:REAL, Examples: [-122.09713, -121.99391, -122.26815]),
(AdmFName1:TEXT, Examples: [L Karen, Laura, Clifford]),
(AdmLName1:TEXT, Examples: [Monroe, Robell, Thompson]),
(AdmEmail1:TEXT),
(AdmFName2:TEXT, Examples: [Sau-Lim (Lance), Jennifer, Annalisa]),
(AdmLName2:TEXT, Examples: [Tsang, Koelling, Moore]),
(AdmEmail2:TEXT),
(AdmFName3:TEXT, Examples: [Drew, Irma, Vickie]),
(AdmLName3:TEXT, Examples: [Sarratore, Munoz, Chang]),
(AdmEmail3:TEXT),
(LastUpdate:DATE, Examples: [2015-06-23])
]
【Foreign keys】
frpm.CDSCode=schools.CDSCode
satscores.cds=schools.CDSCode

-- Using valid SQLite and understanding External Knowledge, answer the following questions for the tables provided above.
-- What is the highest eligible free rate for K-12 students in the schools in Alameda County?
-- External Knowledge: Eligible free rate for K-12 = `Free Meal Count (K-12)` / `Enrollment (K-12)`


Generate the SQLite for the above question after thinking step by step:


Instructions:
- Make sure you only output the information that is asked in the question. If the question asks for a specific column, make sure to only include that column in the SELECT clause, nothing more.
- The generated query should return all of the information asked in the question without any missing or extra information.
- Before generating the final SQL query, please think through the steps of how to write the query.
- Do not misuse column names, keep them in quotes `
- Carefully understand what colomns belond to what tables
- Use only initial column names, change names prohibited

Output Format:
In your answer, please enclose the generated SQL query in a code block:
```
-- Your SQL query
```
and nothing else, no exaplains, no comments (asnwer should be less than 512 characters)

Take a deep breath and think step by step to find the correct SQL query in SQLite format.

Question repetition: What is the highest eligible free rate for K-12 students in the schools in Alameda County?

Be care! Include only what i want it questiona and nothing else<|im_end|>
<|im_start|>assistant
<think>

</think>




Максимальное количество токенов в промптах: 26037

начинаем скорринг
Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:48<00:00,  6.71it/s, est. speed input: 39280.38 toks/s, output: 311.51 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.41
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.65%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:50<00:00,  6.66it/s, est. speed input: 39064.08 toks/s, output: 309.85 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.67
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.98%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:51<00:00,  6.63it/s, est. speed input: 38921.97 toks/s, output: 308.31 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.21
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.65%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:50<00:00,  6.64it/s, est. speed input: 39108.85 toks/s, output: 305.95 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 62.19
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.85%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:49<00:00,  6.67it/s, est. speed input: 39353.71 toks/s, output: 308.52 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.60
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.24%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:49<00:00,  6.69it/s, est. speed input: 39459.51 toks/s, output: 308.09 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.02
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.18%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:50<00:00,  6.64it/s, est. speed input: 39421.10 toks/s, output: 306.20 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.43
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.11%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:53<00:00,  6.57it/s, est. speed input: 39080.01 toks/s, output: 304.24 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.95
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.65%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:50<00:00,  6.67it/s, est. speed input: 39679.88 toks/s, output: 306.26 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.08
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.52%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:52<00:00,  6.60it/s, est. speed input: 39434.40 toks/s, output: 306.30 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.37
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.65%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:48<00:00,  6.71it/s, est. speed input: 39679.81 toks/s, output: 310.61 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.50
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.59%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:51<00:00,  6.63it/s, est. speed input: 39383.69 toks/s, output: 307.77 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.95
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.92%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:52<00:00,  6.60it/s, est. speed input: 39210.75 toks/s, output: 307.98 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.10
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.65%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:50<00:00,  6.67it/s, est. speed input: 39392.74 toks/s, output: 307.95 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.56
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.18%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:47<00:00,  6.74it/s, est. speed input: 39988.20 toks/s, output: 307.02 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.21
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.98%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:48<00:00,  6.73it/s, est. speed input: 39646.14 toks/s, output: 308.97 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.30
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.98%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:48<00:00,  6.72it/s, est. speed input: 39434.56 toks/s, output: 308.55 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.95
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.57%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:48<00:00,  6.70it/s, est. speed input: 39296.52 toks/s, output: 309.71 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.15
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.11%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:47<00:00,  6.75it/s, est. speed input: 39505.66 toks/s, output: 312.81 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.41
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.92%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:47<00:00,  6.75it/s, est. speed input: 39384.68 toks/s, output: 311.89 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.82
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.52%
====================================================================================================

## 5 наблюдений

In [9]:
n= 20
arr_seeds = [random.randint(0,1000) for _ in range(n)]
arr_versions = [x for x in range(n)]
model = "Qwen3-8B"
num_observations = 5
type_cot = 'all_new'
print(arr_seeds)
print(f"model: {model}")

[318, 638, 349, 518, 230, 195, 339, 581, 640, 746, 924, 274, 305, 90, 335, 246, 616, 299, 369, 707]
model: Qwen3-8B

In [10]:
run_cot_experiment(model,arr_seeds,arr_versions, type_cot,num_observations=num_observations)

Загружаем модель...

Loading safetensors checkpoint shards:   0% Completed | 0/4 [00:00<?, ?it/s]
Loading safetensors checkpoint shards:  25% Completed | 1/4 [00:00<00:00,  8.05it/s]
Loading safetensors checkpoint shards:  50% Completed | 2/4 [00:00<00:00,  2.53it/s]
Loading safetensors checkpoint shards:  75% Completed | 3/4 [00:01<00:00,  1.81it/s]
Loading safetensors checkpoint shards: 100% Completed | 4/4 [00:02<00:00,  1.61it/s]
Loading safetensors checkpoint shards: 100% Completed | 4/4 [00:02<00:00,  1.83it/s]
(VllmWorker rank=0 pid=1664290)

Модель успешно загружена
model_config {'model': '/data/home/vkropoti/models/Qwen3-8B', 'tensor_parallel_size': 2, 'max_model_len': 40000, 'max_new_tokens': 1500, 'temperature': 0, 'top_k': 1, 'top_p': 0.8, 'gpu_memory_utilization': 0.9, 'trust_remote_code': False, 'seed': 318}

prompts_config {'path_dev_json': '/home/vkropoti/vllm/dev.json', 'path_sql_dbs': '/data/home/vkropoti/sql_data/dev_databases/', 'use_reasoning': False, 'paths_to_cot': ['/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_all_new_Qwen3-8B-reasoning-v0', '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_all_new_Qwen3-8B-reasoning-v1', '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_all_new_Qwen3-8B-reasoning-v2', '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_all_new_Qwen3-8B-reasoning-v3', '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_all_new_Qwen3-8B-reasoning-v4']}

save_config {'path_sql_save': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_all_Qwen3-8B-cot_all_new_think==False_nobs5-v0', 'path_think_save': None, 'path_sql_answers_save': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_predict_Qwen3-8B-cot_all_new_think==False_nobs5-v0', 'path_to_save_scores': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_results_Qwen3-8B-cot_all_new_think==False_nobs5-v0', 'path_to_save_executed': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_executed_Qwen3-8B-cot_all_new_think==False_nobs5-v0'}

Модель успешно загружена
Пример промпта
<|im_start|>system

You are a data science expert. Below, you are provided with a database schema and a natural language question. Your task is to understand the schema and generate a valid SQL query to answer the question.

Database Engine: SQLite

You will be given an additional analysis of other models, please take it into account, so the plan is
1. Analyse given addition analysis from other models (find in which analysis the same and differ, how to use that to answer question)
2. Combine best from previous part and think how to solve the problem (analyze tables, take care what columns avaliable in each table and so on, check the syntacsis)
3. Create the answers. The answer should be only sql query.

Carefully follow the instruction and add <|im_end|> and the end of the final answer<|im_end|>
<|im_start|>user
Here is addition analysis from other models which can be helpfull, please take this into account but be careful (choose the best from each analysis, combine them to make the most proper answer):

model 0 analysis:
 Reasoning process:

Okay, I need to find the highest eligible free rate for K-12 students in schools located in Alameda County. Let me start by understanding the tables and columns involved.

First, the question mentions "eligible free rate for K-12," which is calculated as Free Meal Count (K-12) divided by Enrollment (K-12). The tables involved are likely the frpm table since it has those columns. But I also need to filter schools in Alameda County. The schools table has a County column, so I'll need to join frpm with schools on CDSCode to get the county information.

Wait, the frpm table has a County Name column, but the schools table also has a County column. Which one should I use? The question specifies "Alameda County," so I should check both tables. However, the schools table's County column is more directly related to the school's location. But the frpm table's County Name might be more accurate for the data. Hmm. Wait, the foreign key is between frpm.CDSCode and schools.CDSCode, so joining on that would allow me to get the County from schools. Let me confirm: the schools table has a County column, so joining frpm with schools on CDSCode would allow me to filter by County in the schools table.

So the plan is: join frpm and schools on CDSCode, filter where schools.County = 'Alameda', calculate the eligible free rate as (Free Meal Count (K-12) / Enrollment (K-12)), then find the maximum value of that rate.

Wait, but the frpm table has Free Meal Count (K-12) and Enrollment (K-12) as columns. So I can calculate the rate as Free Meal Count / Enrollment. But I need to make sure that Enrollment is not zero to avoid division by zero. However, the problem might not require handling that, assuming the data is clean.

So the SQL query steps:

1. Join frpm and schools on CDSCode.
2. Filter where schools.County = 'Alameda'.
3. Calculate the rate as (Free Meal Count (K-12) / Enrollment (K-12)).
4. Find the maximum value of this rate.

Now, writing the SQL query. The SELECT clause should include the calculated rate. But since the question asks for the highest rate, I can use MAX() on the calculated value.

Wait, but the question is asking for the highest rate, so the query would select the maximum of (Free Meal Count / Enrollment). However, since the calculation is per row, using MAX() on that expression would give the highest value.

So the query would be:

SELECT MAX(Free Meal Count (K-12) / Enrollment (K-12)) AS highest_rate
FROM frpm
JOIN schools ON frpm.CDSCode = schools.CDSCode
WHERE schools.County = 'Alameda';

But wait, I need to make sure that the column names are correctly quoted. In SQLite, if the column names have spaces, they need to be enclosed in quotes. So the columns "Free Meal Count (K-12)" and "Enrollment (K-12)" should be in quotes.

So the correct query would have those columns quoted. Also, the County column in schools is 'County', so the WHERE clause is schools.County = 'Alameda'.

Putting it all together:

SELECT MAX(`Free Meal Count (K-12)` / `Enrollment (K-12)`) AS highest_rate
FROM frpm
JOIN schools ON frpm.CDSCode = schools.CDSCode
WHERE schools.County = 'Alameda';

But the question says to include only the information asked, which is the highest rate. So the SELECT clause should just return that max value. The AS highest_rate is optional, but the query needs to return the value. However, the problem says to include only what's asked, so the output should be the maximum value, which is the highest eligible free rate. The query as written would return that value.

Final answer based om reasoning for this model:


```
SELECT MAX(`Free Meal Count (K-12)` / `Enrollment (K-12)`) FROM frpm JOIN schools ON frpm.CDSCode = schools.CDSCode WHERE schools.County = 'Alameda';
```

model 1 analysis:
 Reasoning process:

Okay, let's see. The user is asking for the highest eligible free rate for K-12 students in schools located in Alameda County.

First, I need to figure out which tables and columns are relevant. The eligible free rate is calculated as Free Meal Count (K-12) divided by Enrollment (K-12). So, the frpm table has these two columns. But I also need to filter schools in Alameda County.

Looking at the tables, the frpm table has a County Name column. Wait, the County Name in frpm is called 'County Name' with examples like Alameda. So, I should check where 'County Name' equals 'Alameda' in the frpm table.

But wait, the schools table also has a County column. However, the question is about schools in Alameda County. But the frpm table's County Name might be the right one to use here. Let me confirm. The frpm table's County Name examples include Alameda, so that's the column to filter on.

So the plan is: select the eligible free rate (Free Meal Count / Enrollment) from the frpm table where County Name is Alameda. Then find the maximum value of that rate.

But I need to make sure that the division is done correctly. The Free Meal Count (K-12) is a REAL number, and Enrollment (K-12) is also REAL. So dividing them will give the percentage. Then, I need to select the maximum of that value.

So the SQL query would be: SELECT MAX((Free Meal Count (K-12) / Enrollment (K-12))) FROM frpm WHERE 'County Name' = 'Alameda';

Wait, but in SQLite, column names with spaces need to be quoted. So the column names should be in double quotes. Also, the County Name is a column in frpm, so the WHERE clause should be 'County Name' = 'Alameda'.

So the final query would use MAX on the calculated rate, filtering by the county. That should give the highest eligible free rate in Alameda County.

Final answer based om reasoning for this model:


```
SELECT MAX("Free Meal Count (K-12)" / "Enrollment (K-12)") FROM frpm WHERE "County Name" = 'Alameda';
```

model 2 analysis:
 Reasoning process:

Okay, I need to find the highest eligible free rate for K-12 students in schools located in Alameda County. Let's start by understanding the tables and columns involved.

First, the 'schools' table has a column called 'County' which should be used to filter schools in Alameda County. The 'frpm' table contains the 'Free Meal Count (K-12)' and 'Enrollment (K-12)' columns needed to calculate the eligible free rate.

Since the 'frpm' table's CDSCode is linked to the 'schools' table's CDSCode via a foreign key, I'll need to join these two tables on CDSCode. The calculation for the eligible free rate is Free Meal Count divided by Enrollment.

I should select the maximum value of this calculated rate from the joined tables where the County is 'Alameda'. To ensure accuracy, I'll use the correct column names and perform the division as a decimal. Also, I need to handle possible NULL values, but since the question is about existing schools, maybe it's safe to assume these fields are not null.

So the steps are: join schools and frpm on CDSCode, filter where County is 'Alameda', calculate the rate, and find the maximum. The final query should return only the highest rate.

Final answer based om reasoning for this model:


```
SELECT MAX(`Free Meal Count (K-12)` / `Enrollment (K-12)`) FROM frpm JOIN schools ON frpm.CDSCode = schools.CDSCode WHERE schools.County = 'Alameda';
```

model 3 analysis:
 Reasoning process:

Okay, let's tackle this question. The user wants the highest eligible free rate for K-12 students in Alameda County.

First, I need to figure out which tables and columns are involved. The eligible free rate is calculated as Free Meal Count (K-12) divided by Enrollment (K-12). The frpm table has these two columns. Also, the County Name is in the frpm table, so I need to filter where County Name is 'Alameda'.

Wait, the schools table also has a County column. But the question mentions Alameda County, so maybe the frpm's County Name is the right one to use here. Let me check the schema again. The frpm table has County Name, which has examples like Alameda. So I should use frpm.County Name = 'Alameda'.

Next, I need to compute the eligible free rate for each school in Alameda County using the Free Meal Count (K-12) and Enrollment (K-12) from the frpm table. Then find the maximum value of that rate.

So the SQL query should select the maximum of (Free Meal Count (K-12) / Enrollment (K-12)) from frpm where County Name is 'Alameda'.

Wait, but I need to make sure that Enrollment (K-12) isn't zero to avoid division by zero. However, the examples given have enrollment numbers like 1087.0, so maybe it's safe to assume they're non-zero. But since the question doesn't mention handling that, I'll proceed without adding a check.

Putting it all together: SELECT MAX(Free Meal Count (K-12) / Enrollment (K-12)) FROM frpm WHERE County Name = 'Alameda';

I should check if the column names are correctly quoted. The schema lists the columns with spaces, so in SQLite, I need to use double quotes around them. Also, the county name might be stored as 'Alameda' exactly, so the WHERE clause should match that.

Wait, the County Name in frpm has examples like 'Alameda', so the condition is correct. The final query would be selecting the max of the ratio where the county is Alameda.

Final answer based om reasoning for this model:


```
-- Your SQL query
SELECT MAX("Free Meal Count (K-12)" / "Enrollment (K-12)") FROM frpm WHERE "County Name" = 'Alameda';
```

model 4 analysis:
 Reasoning process:

Okay, let's see. The user wants the highest eligible free rate for K-12 students in schools located in Alameda County.

First, I need to figure out which tables to use. The frpm table has the Free Meal Count (K-12) and Enrollment (K-12) columns, which are needed to calculate the eligible free rate. The schools table has the County column, so I can filter by Alameda County there.

Wait, the County column in schools is called 'County', right? So I need to join the frpm and schools tables on CDSCode. The frpm table's CDSCode matches the schools' CDSCode.

So the plan is: join frpm and schools on CDSCode, filter where schools.County = 'Alameda', then calculate the eligible free rate as (Free Meal Count (K-12) / Enrollment (K-12)) for each school. Then find the maximum of that value.

But the user wants the highest rate, so I should use MAX() on the calculated value. However, I need to make sure that division is done correctly. Since these are REAL numbers, SQLite will handle the division.

Wait, but the question says to use the External Knowledge formula: Eligible free rate = Free Meal Count / Enrollment. So I need to compute that ratio for each school in Alameda County and then find the maximum.

So the SQL query would select MAX( (Free Meal Count (K-12) / Enrollment (K-12)) ) from the joined tables where County is Alameda.

But I should check if there are any schools in Alameda County. Also, need to make sure that Enrollment (K-12) isn't zero to avoid division by zero. But maybe the data doesn't have zeros, or the problem assumes it's handled.

So the query would be:

SELECT MAX( (Free Meal Count (K-12) / Enrollment (K-12)) ) AS HighestRate
FROM frpm
JOIN schools ON frpm.CDSCode = schools.CDSCode
WHERE schools.County = 'Alameda';

Wait, but the user might want the actual school's data, like the school name, but the question just asks for the highest rate. So just the maximum value is sufficient.

Yes, the question is asking for the highest rate, not which school has it. So the MAX() function is correct here.

I should also check the column names. In frpm, the columns are 'Free Meal Count (K-12)' and 'Enrollment (K-12)'. The schools table has 'County'.

So the final SQL should join those tables, filter by County, compute the ratio, and take the maximum. That should give the answer.

Final answer based om reasoning for this model:


```
SELECT MAX(`Free Meal Count (K-12)` / `Enrollment (K-12)`) FROM frpm JOIN schools ON frpm.CDSCode = schools.CDSCode WHERE schools.County = 'Alameda';
```


here is avaliable tables and their structure below
【DB_ID】 california_schools
【Schema】
# Table: frpm
[
(CDSCode:TEXT, maps to schools.CDSCode, Primary Key, Examples: [01100170109835, 01100170112607, 01100170118489]),
(Academic Year:TEXT, Examples: [2014-2015]),
(County Code:TEXT, Examples: [01, 02, 03]),
(District Code:INTEGER, Examples: [10017, 31609, 31617]),
(School Code:TEXT, Examples: [0109835, 0112607, 0118489]),
(County Name:TEXT, Examples: [Alameda, Alpine, Amador]),
(District Name:TEXT),
(School Name:TEXT, Examples: [FAME Public Charter]),
(District Type:TEXT, Examples: [County Office of Education (COE)]),
(School Type:TEXT, Examples: [K-12 Schools (Public)]),
(Educational Option Type:TEXT, Examples: [Traditional]),
(NSLP Provision Status:TEXT, Examples: [Breakfast Provision 2]),
(Charter School (Y/N):INTEGER, Examples: [1, 0]),
(Charter School Number:TEXT, Examples: [0728, 0811, 1049]),
(Charter Funding Type:TEXT, Examples: [Directly funded]),
(IRC:INTEGER, Examples: [1, 0]),
(Low Grade:TEXT, Examples: [K, 9, 1]),
(High Grade:TEXT, Examples: [12, 8, 5]),
(Enrollment (K-12):REAL, Examples: [1087.0, 395.0, 244.0]),
(Free Meal Count (K-12):REAL, Examples: [565.0, 186.0, 134.0]),
(Percent (%) Eligible Free (K-12):REAL, Examples: [0.519779208831647, 0.470886075949367, 0.549180327868853]),
(FRPM Count (K-12):REAL, Examples: [715.0, 186.0, 175.0]),
(Percent (%) Eligible FRPM (K-12):REAL, Examples: [0.657773689052438, 0.470886075949367, 0.717213114754098]),
(Enrollment (Ages 5-17):REAL, Examples: [1070.0, 376.0, 230.0]),
(Free Meal Count (Ages 5-17):REAL, Examples: [553.0, 182.0, 128.0]),
(Percent (%) Eligible Free (Ages 5-17):REAL, Examples: [0.516822429906542, 0.484042553191489, 0.556521739130435]),
(FRPM Count (Ages 5-17):REAL, Examples: [702.0, 182.0, 168.0]),
(Percent (%) Eligible FRPM (Ages 5-17):REAL, Examples: [0.65607476635514, 0.484042553191489, 0.730434782608696]),
(2013-14 CALPADS Fall 1 Certification Status:INTEGER, Examples: [1])
]
# Table: satscores
[
(cds:TEXT, maps to schools.CDSCode, Primary Key, Examples: [10101080000000, 10101080109991, 10101080111682]),
(rtype:TEXT, Examples: [D, S]),
(sname:TEXT, Examples: [FAME Public Charter]),
(dname:TEXT, Examples: [Alameda County Office of Education]),
(cname:TEXT, Examples: [Alameda, Amador, Butte]),
(enroll12:INTEGER, Examples: [398, 62, 75]),
(NumTstTakr:INTEGER, Examples: [88, 17, 71]),
(AvgScrRead:INTEGER, Examples: [418, 503, 397]),
(AvgScrMath:INTEGER, Examples: [418, 546, 387]),
(AvgScrWrite:INTEGER, Examples: [417, 505, 395]),
(NumGE1500:INTEGER, Examples: [14, 9, 5])
]
# Table: schools
[
(CDSCode:TEXT, Primary Key, Examples: [01100170000000, 01100170109835, 01100170112607]),
(NCESDist:TEXT, Examples: [0691051, 0600002, 0600003]),
(NCESSchool:TEXT, Examples: [10546, 10947, 12283]),
(StatusType:TEXT, Examples: [Active, Closed, Merged]),
(County:TEXT, Examples: [Alameda, Alpine, Amador]),
(District:TEXT),
(School:TEXT, Examples: [FAME Public Charter]),
(Street:TEXT, Examples: [313 West Winton Avenue]),
(StreetAbr:TEXT, Examples: [313 West Winton Ave.]),
(City:TEXT, Examples: [Hayward, Newark, Oakland]),
(Zip:TEXT, Examples: [94544-1136, 94560-5359, 94612-3355]),
(State:TEXT, Examples: [CA]),
(MailStreet:TEXT, Examples: [313 West Winton Avenue]),
(MailStrAbr:TEXT, Examples: [313 West Winton Ave.]),
(MailCity:TEXT, Examples: [Hayward, Newark, Oakland]),
(MailZip:TEXT, Examples: [94544-1136, 94560-5359, 94612]),
(MailState:TEXT, Examples: [CA]),
(Phone:TEXT, Examples: [(510) 887-0152, (510) 596-8901, (510) 686-4131]),
(Ext:TEXT, Examples: [130, 1240, 1200]),
(Website:TEXT, Examples: [www.acoe.org]),
(OpenDate:DATE, Examples: [2005-08-29]),
(ClosedDate:DATE, Examples: [2015-07-31]),
(Charter:INTEGER, Examples: [1, 0]),
(CharterNum:TEXT, Examples: [0728, 0811, 1049]),
(FundingType:TEXT, Examples: [Directly funded]),
(DOC:TEXT, Examples: [00, 31, 34]),
(DOCType:TEXT, Examples: [County Office of Education (COE)]),
(SOC:TEXT, Examples: [65, 66, 60]),
(SOCType:TEXT, Examples: [K-12 Schools (Public)]),
(EdOpsCode:TEXT, Examples: [TRAD, JUV, COMM]),
(EdOpsName:TEXT, Examples: [Traditional]),
(EILCode:TEXT, Examples: [ELEMHIGH, HS, ELEM]),
(EILName:TEXT, Examples: [Elementary-High Combination]),
(GSoffered:TEXT, Examples: [K-12, 9-12, K-8]),
(GSserved:TEXT, Examples: [K-12, 9-12, K-7]),
(Virtual:TEXT, Examples: [P, N, F]),
(Magnet:INTEGER, Examples: [0, 1]),
(Latitude:REAL, Examples: [37.658212, 37.521436, 37.80452]),
(Longitude:REAL, Examples: [-122.09713, -121.99391, -122.26815]),
(AdmFName1:TEXT, Examples: [L Karen, Laura, Clifford]),
(AdmLName1:TEXT, Examples: [Monroe, Robell, Thompson]),
(AdmEmail1:TEXT),
(AdmFName2:TEXT, Examples: [Sau-Lim (Lance), Jennifer, Annalisa]),
(AdmLName2:TEXT, Examples: [Tsang, Koelling, Moore]),
(AdmEmail2:TEXT),
(AdmFName3:TEXT, Examples: [Drew, Irma, Vickie]),
(AdmLName3:TEXT, Examples: [Sarratore, Munoz, Chang]),
(AdmEmail3:TEXT),
(LastUpdate:DATE, Examples: [2015-06-23])
]
【Foreign keys】
frpm.CDSCode=schools.CDSCode
satscores.cds=schools.CDSCode

-- Using valid SQLite and understanding External Knowledge, answer the following questions for the tables provided above.
-- What is the highest eligible free rate for K-12 students in the schools in Alameda County?
-- External Knowledge: Eligible free rate for K-12 = `Free Meal Count (K-12)` / `Enrollment (K-12)`


Generate the SQLite for the above question after thinking step by step:


Instructions:

Processed prompts: 100%|██████████| 1534/1534 [04:29<00:00,  5.69it/s, est. speed input: 38346.29 toks/s, output: 262.43 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.67
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.24%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [04:31<00:00,  5.64it/s, est. speed input: 38133.83 toks/s, output: 262.96 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.73
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.78%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [04:28<00:00,  5.71it/s, est. speed input: 38495.07 toks/s, output: 263.51 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.86
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.85%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [04:31<00:00,  5.65it/s, est. speed input: 38234.43 toks/s, output: 263.25 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 62.58
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.57%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [04:30<00:00,  5.67it/s, est. speed input: 38477.70 toks/s, output: 259.96 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 62.06
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.24%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [04:32<00:00,  5.63it/s, est. speed input: 38451.31 toks/s, output: 259.59 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.82
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.37%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [04:34<00:00,  5.60it/s, est. speed input: 38170.22 toks/s, output: 259.28 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.47
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.11%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [04:30<00:00,  5.66it/s, est. speed input: 38696.62 toks/s, output: 259.78 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.89
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.78%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [04:34<00:00,  5.59it/s, est. speed input: 38364.41 toks/s, output: 259.42 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.02
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.18%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [04:32<00:00,  5.63it/s, est. speed input: 38510.46 toks/s, output: 261.61 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.17
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.11%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [04:32<00:00,  5.62it/s, est. speed input: 38422.08 toks/s, output: 260.96 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.95
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.18%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [04:31<00:00,  5.64it/s, est. speed input: 38466.87 toks/s, output: 262.52 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.89
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.65%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [04:31<00:00,  5.64it/s, est. speed input: 38475.75 toks/s, output: 261.48 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.43
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.57%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [04:27<00:00,  5.73it/s, est. speed input: 38928.57 toks/s, output: 260.65 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.50
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.24%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [04:30<00:00,  5.67it/s, est. speed input: 38623.70 toks/s, output: 260.94 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.28
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.44%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [04:28<00:00,  5.72it/s, est. speed input: 38508.05 toks/s, output: 262.77 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.02
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.31%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [04:28<00:00,  5.72it/s, est. speed input: 38573.55 toks/s, output: 262.19 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.89
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.37%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [04:27<00:00,  5.74it/s, est. speed input: 38759.76 toks/s, output: 263.83 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.95
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.98%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

ValueError: The decoder prompt (length 41827) is longer than the maximum model length of 40000. Make sure that `max_model_len` is no smaller than the number of text tokens.

In [6]:
n= 20
arr_seeds = [318, 638, 349, 518, 230, 195, 339, 581, 640, 746, 924, 274, 305, 90, 335, 246, 616, 299, 369, 707][-3:]
# [random.randint(0,1000) for _ in range(n)]
arr_versions = [x for x in range(17,n)]
model = "Qwen3-8B"
num_observations = 5
type_cot = 'all_new'
print(arr_seeds)
print(f"model: {model}")

[299, 369, 707]
model: Qwen3-8B

In [7]:
run_cot_experiment(model,arr_seeds,arr_versions, type_cot,num_observations=num_observations)

Загружаем модель...

Loading safetensors checkpoint shards:   0% Completed | 0/4 [00:00<?, ?it/s]
Loading safetensors checkpoint shards:  25% Completed | 1/4 [00:00<00:00,  8.81it/s]
Loading safetensors checkpoint shards:  50% Completed | 2/4 [00:00<00:00,  2.60it/s]
Loading safetensors checkpoint shards:  75% Completed | 3/4 [00:01<00:00,  1.86it/s]
Loading safetensors checkpoint shards: 100% Completed | 4/4 [00:02<00:00,  1.65it/s]
Loading safetensors checkpoint shards: 100% Completed | 4/4 [00:02<00:00,  1.89it/s]
(VllmWorker rank=0 pid=1958987)

Модель успешно загружена
model_config {'model': '/data/home/vkropoti/models/Qwen3-8B', 'tensor_parallel_size': 2, 'max_model_len': 40000, 'max_new_tokens': 1500, 'temperature': 0, 'top_k': 1, 'top_p': 0.8, 'gpu_memory_utilization': 0.9, 'trust_remote_code': False, 'seed': 299}

prompts_config {'path_dev_json': '/home/vkropoti/vllm/dev.json', 'path_sql_dbs': '/data/home/vkropoti/sql_data/dev_databases/', 'use_reasoning': False, 'paths_to_cot': ['/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_all_new_Qwen3-8B-reasoning-v2', '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_all_new_Qwen3-8B-reasoning-v0', '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_all_new_Qwen3-8B-reasoning-v1', '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_all_new_Qwen3-8B-reasoning-v2', '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_all_new_Qwen3-8B-reasoning-v0']}

save_config {'path_sql_save': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_all_Qwen3-8B-cot_all_new_think==False_nobs5-v17', 'path_think_save': None, 'path_sql_answers_save': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_predict_Qwen3-8B-cot_all_new_think==False_nobs5-v17', 'path_to_save_scores': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_results_Qwen3-8B-cot_all_new_think==False_nobs5-v17', 'path_to_save_executed': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_executed_Qwen3-8B-cot_all_new_think==False_nobs5-v17'}

Модель успешно загружена
Пример промпта
<|im_start|>system

You are a data science expert. Below, you are provided with a database schema and a natural language question. Your task is to understand the schema and generate a valid SQL query to answer the question.

Database Engine: SQLite

You will be given an additional analysis of other models, please take it into account, so the plan is
1. Analyse given addition analysis from other models (find in which analysis the same and differ, how to use that to answer question)
2. Combine best from previous part and think how to solve the problem (analyze tables, take care what columns avaliable in each table and so on, check the syntacsis)
3. Create the answers. The answer should be only sql query.

Carefully follow the instruction and add <|im_end|> and the end of the final answer<|im_end|>
<|im_start|>user
Here is addition analysis from other models which can be helpfull, please take this into account but be careful (choose the best from each analysis, combine them to make the most proper answer):

model 0 analysis:
 Reasoning process:

Okay, I need to find the highest eligible free rate for K-12 students in schools located in Alameda County. Let's start by understanding the tables and columns involved.

First, the 'schools' table has a column called 'County' which should be used to filter schools in Alameda County. The 'frpm' table contains the 'Free Meal Count (K-12)' and 'Enrollment (K-12)' columns needed to calculate the eligible free rate.

Since the 'frpm' table's CDSCode is linked to the 'schools' table's CDSCode via a foreign key, I'll need to join these two tables on CDSCode. The calculation for the eligible free rate is Free Meal Count divided by Enrollment.

I should select the maximum value of this calculated rate from the joined tables where the County is 'Alameda'. To ensure accuracy, I'll use the correct column names and perform the division as a decimal. Also, I need to handle possible NULL values, but since the question is about existing schools, maybe it's safe to assume these fields are not null.

So the steps are: join schools and frpm on CDSCode, filter where County is 'Alameda', calculate the rate, and find the maximum. The final query should return only the highest rate.

Final answer based om reasoning for this model:


```
SELECT MAX(`Free Meal Count (K-12)` / `Enrollment (K-12)`) FROM frpm JOIN schools ON frpm.CDSCode = schools.CDSCode WHERE schools.County = 'Alameda';
```

model 1 analysis:
 Reasoning process:

Okay, I need to find the highest eligible free rate for K-12 students in schools located in Alameda County. Let me start by understanding the tables and columns involved.

First, the question mentions "eligible free rate for K-12," which is calculated as Free Meal Count (K-12) divided by Enrollment (K-12). The tables involved are likely the frpm table since it has those columns. But I also need to filter schools in Alameda County. The schools table has a County column, so I'll need to join frpm with schools on CDSCode to get the county information.

Wait, the frpm table has a County Name column, but the schools table also has a County column. Which one should I use? The question specifies "Alameda County," so I should check both tables. However, the schools table's County column is more directly related to the school's location. But the frpm table's County Name might be more accurate for the data. Hmm. Wait, the foreign key is between frpm.CDSCode and schools.CDSCode, so joining on that would allow me to get the County from schools. Let me confirm: the schools table has a County column, so joining frpm with schools on CDSCode would allow me to filter by County in the schools table.

So the plan is: join frpm and schools on CDSCode, filter where schools.County = 'Alameda', calculate the eligible free rate as (Free Meal Count (K-12) / Enrollment (K-12)), then find the maximum value of that rate.

Wait, but the frpm table has Free Meal Count (K-12) and Enrollment (K-12) as columns. So I can calculate the rate as Free Meal Count / Enrollment. But I need to make sure that Enrollment is not zero to avoid division by zero. However, the problem might not require handling that, assuming the data is clean.

So the SQL query steps:

1. Join frpm and schools on CDSCode.
2. Filter where schools.County = 'Alameda'.
3. Calculate the rate as (Free Meal Count (K-12) / Enrollment (K-12)).
4. Find the maximum value of this rate.

Now, writing the SQL query. The SELECT clause should include the calculated rate. But since the question asks for the highest rate, I can use MAX() on the calculated value.

Wait, but the question is asking for the highest rate, so the query would select the maximum of (Free Meal Count / Enrollment). However, since the calculation is per row, using MAX() on that expression would give the highest value.

So the query would be:

SELECT MAX(Free Meal Count (K-12) / Enrollment (K-12)) AS highest_rate
FROM frpm
JOIN schools ON frpm.CDSCode = schools.CDSCode
WHERE schools.County = 'Alameda';

But wait, I need to make sure that the column names are correctly quoted. In SQLite, if the column names have spaces, they need to be enclosed in quotes. So the columns "Free Meal Count (K-12)" and "Enrollment (K-12)" should be in quotes.

So the correct query would have those columns quoted. Also, the County column in schools is 'County', so the WHERE clause is schools.County = 'Alameda'.

Putting it all together:

SELECT MAX(`Free Meal Count (K-12)` / `Enrollment (K-12)`) AS highest_rate
FROM frpm
JOIN schools ON frpm.CDSCode = schools.CDSCode
WHERE schools.County = 'Alameda';

But the question says to include only the information asked, which is the highest rate. So the SELECT clause should just return that max value. The AS highest_rate is optional, but the query needs to return the value. However, the problem says to include only what's asked, so the output should be the maximum value, which is the highest eligible free rate. The query as written would return that value.

Final answer based om reasoning for this model:


```
SELECT MAX(`Free Meal Count (K-12)` / `Enrollment (K-12)`) FROM frpm JOIN schools ON frpm.CDSCode = schools.CDSCode WHERE schools.County = 'Alameda';
```

model 2 analysis:
 Reasoning process:

Okay, let's see. The user is asking for the highest eligible free rate for K-12 students in schools located in Alameda County.

First, I need to figure out which tables and columns are relevant. The eligible free rate is calculated as Free Meal Count (K-12) divided by Enrollment (K-12). So, the frpm table has these two columns. But I also need to filter schools in Alameda County.

Looking at the tables, the frpm table has a County Name column. Wait, the County Name in frpm is called 'County Name' with examples like Alameda. So, I should check where 'County Name' equals 'Alameda' in the frpm table.

But wait, the schools table also has a County column. However, the question is about schools in Alameda County. But the frpm table's County Name might be the right one to use here. Let me confirm. The frpm table's County Name examples include Alameda, so that's the column to filter on.

So the plan is: select the eligible free rate (Free Meal Count / Enrollment) from the frpm table where County Name is Alameda. Then find the maximum value of that rate.

But I need to make sure that the division is done correctly. The Free Meal Count (K-12) is a REAL number, and Enrollment (K-12) is also REAL. So dividing them will give the percentage. Then, I need to select the maximum of that value.

So the SQL query would be: SELECT MAX((Free Meal Count (K-12) / Enrollment (K-12))) FROM frpm WHERE 'County Name' = 'Alameda';

Wait, but in SQLite, column names with spaces need to be quoted. So the column names should be in double quotes. Also, the County Name is a column in frpm, so the WHERE clause should be 'County Name' = 'Alameda'.

So the final query would use MAX on the calculated rate, filtering by the county. That should give the highest eligible free rate in Alameda County.

Final answer based om reasoning for this model:


```
SELECT MAX("Free Meal Count (K-12)" / "Enrollment (K-12)") FROM frpm WHERE "County Name" = 'Alameda';
```

model 3 analysis:
 Reasoning process:

Okay, I need to find the highest eligible free rate for K-12 students in schools located in Alameda County. Let's start by understanding the tables and columns involved.

First, the 'schools' table has a column called 'County' which should be used to filter schools in Alameda County. The 'frpm' table contains the 'Free Meal Count (K-12)' and 'Enrollment (K-12)' columns needed to calculate the eligible free rate.

Since the 'frpm' table's CDSCode is linked to the 'schools' table's CDSCode via a foreign key, I'll need to join these two tables on CDSCode. The calculation for the eligible free rate is Free Meal Count divided by Enrollment.

I should select the maximum value of this calculated rate from the joined tables where the County is 'Alameda'. To ensure accuracy, I'll use the correct column names and perform the division as a decimal. Also, I need to handle possible NULL values, but since the question is about existing schools, maybe it's safe to assume these fields are not null.

So the steps are: join schools and frpm on CDSCode, filter where County is 'Alameda', calculate the rate, and find the maximum. The final query should return only the highest rate.

Final answer based om reasoning for this model:


```
SELECT MAX(`Free Meal Count (K-12)` / `Enrollment (K-12)`) FROM frpm JOIN schools ON frpm.CDSCode = schools.CDSCode WHERE schools.County = 'Alameda';
```

model 4 analysis:
 Reasoning process:

Okay, I need to find the highest eligible free rate for K-12 students in schools located in Alameda County. Let me start by understanding the tables and columns involved.

First, the question mentions "eligible free rate for K-12," which is calculated as Free Meal Count (K-12) divided by Enrollment (K-12). The tables involved are likely the frpm table since it has those columns. But I also need to filter schools in Alameda County. The schools table has a County column, so I'll need to join frpm with schools on CDSCode to get the county information.

Wait, the frpm table has a County Name column, but the schools table also has a County column. Which one should I use? The question specifies "Alameda County," so I should check both tables. However, the schools table's County column is more directly related to the school's location. But the frpm table's County Name might be more accurate for the data. Hmm. Wait, the foreign key is between frpm.CDSCode and schools.CDSCode, so joining on that would allow me to get the County from schools. Let me confirm: the schools table has a County column, so joining frpm with schools on CDSCode would allow me to filter by County in the schools table.

So the plan is: join frpm and schools on CDSCode, filter where schools.County = 'Alameda', calculate the eligible free rate as (Free Meal Count (K-12) / Enrollment (K-12)), then find the maximum value of that rate.

Wait, but the frpm table has Free Meal Count (K-12) and Enrollment (K-12) as columns. So I can calculate the rate as Free Meal Count / Enrollment. But I need to make sure that Enrollment is not zero to avoid division by zero. However, the problem might not require handling that, assuming the data is clean.

So the SQL query steps:

1. Join frpm and schools on CDSCode.
2. Filter where schools.County = 'Alameda'.
3. Calculate the rate as (Free Meal Count (K-12) / Enrollment (K-12)).
4. Find the maximum value of this rate.

Now, writing the SQL query. The SELECT clause should include the calculated rate. But since the question asks for the highest rate, I can use MAX() on the calculated value.

Wait, but the question is asking for the highest rate, so the query would select the maximum of (Free Meal Count / Enrollment). However, since the calculation is per row, using MAX() on that expression would give the highest value.

So the query would be:

SELECT MAX(Free Meal Count (K-12) / Enrollment (K-12)) AS highest_rate
FROM frpm
JOIN schools ON frpm.CDSCode = schools.CDSCode
WHERE schools.County = 'Alameda';

But wait, I need to make sure that the column names are correctly quoted. In SQLite, if the column names have spaces, they need to be enclosed in quotes. So the columns "Free Meal Count (K-12)" and "Enrollment (K-12)" should be in quotes.

So the correct query would have those columns quoted. Also, the County column in schools is 'County', so the WHERE clause is schools.County = 'Alameda'.

Putting it all together:

SELECT MAX(`Free Meal Count (K-12)` / `Enrollment (K-12)`) AS highest_rate
FROM frpm
JOIN schools ON frpm.CDSCode = schools.CDSCode
WHERE schools.County = 'Alameda';

But the question says to include only the information asked, which is the highest rate. So the SELECT clause should just return that max value. The AS highest_rate is optional, but the query needs to return the value. However, the problem says to include only what's asked, so the output should be the maximum value, which is the highest eligible free rate. The query as written would return that value.

Final answer based om reasoning for this model:


```
SELECT MAX(`Free Meal Count (K-12)` / `Enrollment (K-12)`) FROM frpm JOIN schools ON frpm.CDSCode = schools.CDSCode WHERE schools.County = 'Alameda';
```


here is avaliable tables and their structure below
【DB_ID】 california_schools
【Schema】
# Table: frpm
[
(CDSCode:TEXT, maps to schools.CDSCode, Primary Key, Examples: [01100170109835, 01100170112607, 01100170118489]),
(Academic Year:TEXT, Examples: [2014-2015]),
(County Code:TEXT, Examples: [01, 02, 03]),
(District Code:INTEGER, Examples: [10017, 31609, 31617]),
(School Code:TEXT, Examples: [0109835, 0112607, 0118489]),
(County Name:TEXT, Examples: [Alameda, Alpine, Amador]),
(District Name:TEXT),
(School Name:TEXT, Examples: [FAME Public Charter]),
(District Type:TEXT, Examples: [County Office of Education (COE)]),
(School Type:TEXT, Examples: [K-12 Schools (Public)]),
(Educational Option Type:TEXT, Examples: [Traditional]),
(NSLP Provision Status:TEXT, Examples: [Breakfast Provision 2]),
(Charter School (Y/N):INTEGER, Examples: [1, 0]),
(Charter School Number:TEXT, Examples: [0728, 0811, 1049]),
(Charter Funding Type:TEXT, Examples: [Directly funded]),
(IRC:INTEGER, Examples: [1, 0]),
(Low Grade:TEXT, Examples: [K, 9, 1]),
(High Grade:TEXT, Examples: [12, 8, 5]),
(Enrollment (K-12):REAL, Examples: [1087.0, 395.0, 244.0]),
(Free Meal Count (K-12):REAL, Examples: [565.0, 186.0, 134.0]),
(Percent (%) Eligible Free (K-12):REAL, Examples: [0.519779208831647, 0.470886075949367, 0.549180327868853]),
(FRPM Count (K-12):REAL, Examples: [715.0, 186.0, 175.0]),
(Percent (%) Eligible FRPM (K-12):REAL, Examples: [0.657773689052438, 0.470886075949367, 0.717213114754098]),
(Enrollment (Ages 5-17):REAL, Examples: [1070.0, 376.0, 230.0]),
(Free Meal Count (Ages 5-17):REAL, Examples: [553.0, 182.0, 128.0]),
(Percent (%) Eligible Free (Ages 5-17):REAL, Examples: [0.516822429906542, 0.484042553191489, 0.556521739130435]),
(FRPM Count (Ages 5-17):REAL, Examples: [702.0, 182.0, 168.0]),
(Percent (%) Eligible FRPM (Ages 5-17):REAL, Examples: [0.65607476635514, 0.484042553191489, 0.730434782608696]),
(2013-14 CALPADS Fall 1 Certification Status:INTEGER, Examples: [1])
]
# Table: satscores
[
(cds:TEXT, maps to schools.CDSCode, Primary Key, Examples: [10101080000000, 10101080109991, 10101080111682]),
(rtype:TEXT, Examples: [D, S]),
(sname:TEXT, Examples: [FAME Public Charter]),
(dname:TEXT, Examples: [Alameda County Office of Education]),
(cname:TEXT, Examples: [Alameda, Amador, Butte]),
(enroll12:INTEGER, Examples: [398, 62, 75]),
(NumTstTakr:INTEGER, Examples: [88, 17, 71]),
(AvgScrRead:INTEGER, Examples: [418, 503, 397]),
(AvgScrMath:INTEGER, Examples: [418, 546, 387]),
(AvgScrWrite:INTEGER, Examples: [417, 505, 395]),
(NumGE1500:INTEGER, Examples: [14, 9, 5])
]
# Table: schools
[
(CDSCode:TEXT, Primary Key, Examples: [01100170000000, 01100170109835, 01100170112607]),
(NCESDist:TEXT, Examples: [0691051, 0600002, 0600003]),
(NCESSchool:TEXT, Examples: [10546, 10947, 12283]),
(StatusType:TEXT, Examples: [Active, Closed, Merged]),
(County:TEXT, Examples: [Alameda, Alpine, Amador]),
(District:TEXT),
(School:TEXT, Examples: [FAME Public Charter]),
(Street:TEXT, Examples: [313 West Winton Avenue]),
(StreetAbr:TEXT, Examples: [313 West Winton Ave.]),
(City:TEXT, Examples: [Hayward, Newark, Oakland]),
(Zip:TEXT, Examples: [94544-1136, 94560-5359, 94612-3355]),
(State:TEXT, Examples: [CA]),
(MailStreet:TEXT, Examples: [313 West Winton Avenue]),
(MailStrAbr:TEXT, Examples: [313 West Winton Ave.]),
(MailCity:TEXT, Examples: [Hayward, Newark, Oakland]),
(MailZip:TEXT, Examples: [94544-1136, 94560-5359, 94612]),
(MailState:TEXT, Examples: [CA]),
(Phone:TEXT, Examples: [(510) 887-0152, (510) 596-8901, (510) 686-4131]),
(Ext:TEXT, Examples: [130, 1240, 1200]),
(Website:TEXT, Examples: [www.acoe.org]),
(OpenDate:DATE, Examples: [2005-08-29]),
(ClosedDate:DATE, Examples: [2015-07-31]),
(Charter:INTEGER, Examples: [1, 0]),
(CharterNum:TEXT, Examples: [0728, 0811, 1049]),
(FundingType:TEXT, Examples: [Directly funded]),
(DOC:TEXT, Examples: [00, 31, 34]),
(DOCType:TEXT, Examples: [County Office of Education (COE)]),
(SOC:TEXT, Examples: [65, 66, 60]),
(SOCType:TEXT, Examples: [K-12 Schools (Public)]),
(EdOpsCode:TEXT, Examples: [TRAD, JUV, COMM]),
(EdOpsName:TEXT, Examples: [Traditional]),
(EILCode:TEXT, Examples: [ELEMHIGH, HS, ELEM]),
(EILName:TEXT, Examples: [Elementary-High Combination]),
(GSoffered:TEXT, Examples: [K-12, 9-12, K-8]),
(GSserved:TEXT, Examples: [K-12, 9-12, K-7]),
(Virtual:TEXT, Examples: [P, N, F]),
(Magnet:INTEGER, Examples: [0, 1]),
(Latitude:REAL, Examples: [37.658212, 37.521436, 37.80452]),
(Longitude:REAL, Examples: [-122.09713, -121.99391, -122.26815]),
(AdmFName1:TEXT, Examples: [L Karen, Laura, Clifford]),
(AdmLName1:TEXT, Examples: [Monroe, Robell, Thompson]),
(AdmEmail1:TEXT),
(AdmFName2:TEXT, Examples: [Sau-Lim (Lance), Jennifer, Annalisa]),
(AdmLName2:TEXT, Examples: [Tsang, Koelling, Moore]),
(AdmEmail2:TEXT),
(AdmFName3:TEXT, Examples: [Drew, Irma, Vickie]),
(AdmLName3:TEXT, Examples: [Sarratore, Munoz, Chang]),
(AdmEmail3:TEXT),
(LastUpdate:DATE, Examples: [2015-06-23])
]
【Foreign keys】
frpm.CDSCode=schools.CDSCode
satscores.cds=schools.CDSCode


Processed prompts: 100%|██████████| 1534/1534 [04:27<00:00,  5.74it/s, est. speed input: 38600.01 toks/s, output: 265.75 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.56
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.26%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [04:32<00:00,  5.64it/s, est. speed input: 38040.41 toks/s, output: 263.03 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.95
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.33%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [04:29<00:00,  5.68it/s, est. speed input: 38235.14 toks/s, output: 264.90 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.47
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.33%
====================================================================================================

## 6 наблюдений

In [ ]:
n= 20
arr_seeds = [random.randint(0,1000) for _ in range(n)]
arr_versions = [x for x in range(n)]
model = "Qwen3-8B"
num_observations = 6
type_cot = 'all_new'
print(arr_seeds)
print(f"model: {model}")

In [ ]:
run_cot_experiment(model,arr_seeds,arr_versions, type_cot,num_observations=num_observations)

## 7 наблюдений

In [ ]:
n= 20
arr_seeds = [random.randint(0,1000) for _ in range(n)]
arr_versions = [x for x in range(n)]
model = "Qwen3-8B"
num_observations = 7
type_cot = 'all_new'
print(arr_seeds)
print(f"model: {model}")

In [ ]:
run_cot_experiment(model,arr_seeds,arr_versions, type_cot,num_observations=num_observations)

# part2: answer

In [3]:
n= 20
arr_seeds = [random.randint(0,1000) for _ in range(n)]
arr_versions = [x for x in range(n)]
model = "Qwen3-8B"
num_observations = 2
type_cot = 'predict'
print(arr_seeds)
print(f"model: {model}")

[722, 528, 14, 984, 729, 911, 495, 401, 979, 573, 289, 540, 114, 150, 485, 61, 936, 295, 642, 968]
model: Qwen3-8B

In [4]:
run_cot_experiment(model,arr_seeds,arr_versions, type_cot,num_observations=num_observations)

Загружаем модель...

Loading safetensors checkpoint shards:   0% Completed | 0/4 [00:00<?, ?it/s]
Loading safetensors checkpoint shards:  25% Completed | 1/4 [00:00<00:00,  7.81it/s]
Loading safetensors checkpoint shards:  50% Completed | 2/4 [00:00<00:00,  2.73it/s]
Loading safetensors checkpoint shards:  75% Completed | 3/4 [00:01<00:00,  2.05it/s]
Loading safetensors checkpoint shards: 100% Completed | 4/4 [00:01<00:00,  1.84it/s]
Loading safetensors checkpoint shards: 100% Completed | 4/4 [00:01<00:00,  2.08it/s]
(VllmWorker rank=0 pid=1773475)

Модель успешно загружена
model_config {'model': '/data/home/vkropoti/models/Qwen3-8B', 'tensor_parallel_size': 2, 'max_model_len': 40000, 'max_new_tokens': 1500, 'temperature': 0, 'top_k': 1, 'top_p': 0.8, 'gpu_memory_utilization': 0.9, 'trust_remote_code': False, 'seed': 722}

prompts_config {'path_dev_json': '/home/vkropoti/vllm/dev.json', 'path_sql_dbs': '/data/home/vkropoti/sql_data/dev_databases/', 'use_reasoning': False, 'paths_to_cot': ['/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_predict_Qwen3-8B-reasoning-v0', '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_predict_Qwen3-8B-reasoning-v1']}

save_config {'path_sql_save': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_all_Qwen3-8B-cot_predict_think==False_nobs2-v0', 'path_think_save': None, 'path_sql_answers_save': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_predict_Qwen3-8B-cot_predict_think==False_nobs2-v0', 'path_to_save_scores': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_results_Qwen3-8B-cot_predict_think==False_nobs2-v0', 'path_to_save_executed': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_executed_Qwen3-8B-cot_predict_think==False_nobs2-v0'}

Модель успешно загружена
Пример промпта
<|im_start|>system

You are a data science expert. Below, you are provided with a database schema and a natural language question. Your task is to understand the schema and generate a valid SQL query to answer the question.

Database Engine: SQLite

You will be given an additional analysis of other models, please take it into account, so the plan is
1. Analyse given addition analysis from other models (find in which analysis the same and differ, how to use that to answer question)
2. Combine best from previous part and think how to solve the problem (analyze tables, take care what columns avaliable in each table and so on, check the syntacsis)
3. Create the answers. The answer should be only sql query.

Carefully follow the instruction and add <|im_end|> and the end of the final answer<|im_end|>
<|im_start|>user
Here is addition analysis from other models which can be helpfull, please take this into account but be careful (choose the best from each analysis, combine them to make the most proper answer):

model 0 analysis:
 SELECT MAX(`Free Meal Count (K-12)` / `Enrollment (K-12)`) FROM frpm JOIN schools ON frpm.CDSCode = schools.CDSCode WHERE schools.County = 'Alameda';

model 1 analysis:
 SELECT MAX("Free Meal Count (K-12)" / "Enrollment (K-12)") FROM frpm WHERE "County Name" = 'Alameda';


here is avaliable tables and their structure below
【DB_ID】 california_schools
【Schema】
# Table: frpm
[
(CDSCode:TEXT, maps to schools.CDSCode, Primary Key, Examples: [01100170109835, 01100170112607, 01100170118489]),
(Academic Year:TEXT, Examples: [2014-2015]),
(County Code:TEXT, Examples: [01, 02, 03]),
(District Code:INTEGER, Examples: [10017, 31609, 31617]),
(School Code:TEXT, Examples: [0109835, 0112607, 0118489]),
(County Name:TEXT, Examples: [Alameda, Alpine, Amador]),
(District Name:TEXT),
(School Name:TEXT, Examples: [FAME Public Charter]),
(District Type:TEXT, Examples: [County Office of Education (COE)]),
(School Type:TEXT, Examples: [K-12 Schools (Public)]),
(Educational Option Type:TEXT, Examples: [Traditional]),
(NSLP Provision Status:TEXT, Examples: [Breakfast Provision 2]),
(Charter School (Y/N):INTEGER, Examples: [1, 0]),
(Charter School Number:TEXT, Examples: [0728, 0811, 1049]),
(Charter Funding Type:TEXT, Examples: [Directly funded]),
(IRC:INTEGER, Examples: [1, 0]),
(Low Grade:TEXT, Examples: [K, 9, 1]),
(High Grade:TEXT, Examples: [12, 8, 5]),
(Enrollment (K-12):REAL, Examples: [1087.0, 395.0, 244.0]),
(Free Meal Count (K-12):REAL, Examples: [565.0, 186.0, 134.0]),
(Percent (%) Eligible Free (K-12):REAL, Examples: [0.519779208831647, 0.470886075949367, 0.549180327868853]),
(FRPM Count (K-12):REAL, Examples: [715.0, 186.0, 175.0]),
(Percent (%) Eligible FRPM (K-12):REAL, Examples: [0.657773689052438, 0.470886075949367, 0.717213114754098]),
(Enrollment (Ages 5-17):REAL, Examples: [1070.0, 376.0, 230.0]),
(Free Meal Count (Ages 5-17):REAL, Examples: [553.0, 182.0, 128.0]),
(Percent (%) Eligible Free (Ages 5-17):REAL, Examples: [0.516822429906542, 0.484042553191489, 0.556521739130435]),
(FRPM Count (Ages 5-17):REAL, Examples: [702.0, 182.0, 168.0]),
(Percent (%) Eligible FRPM (Ages 5-17):REAL, Examples: [0.65607476635514, 0.484042553191489, 0.730434782608696]),
(2013-14 CALPADS Fall 1 Certification Status:INTEGER, Examples: [1])
]
# Table: satscores
[
(cds:TEXT, maps to schools.CDSCode, Primary Key, Examples: [10101080000000, 10101080109991, 10101080111682]),
(rtype:TEXT, Examples: [D, S]),
(sname:TEXT, Examples: [FAME Public Charter]),
(dname:TEXT, Examples: [Alameda County Office of Education]),
(cname:TEXT, Examples: [Alameda, Amador, Butte]),
(enroll12:INTEGER, Examples: [398, 62, 75]),
(NumTstTakr:INTEGER, Examples: [88, 17, 71]),
(AvgScrRead:INTEGER, Examples: [418, 503, 397]),
(AvgScrMath:INTEGER, Examples: [418, 546, 387]),
(AvgScrWrite:INTEGER, Examples: [417, 505, 395]),
(NumGE1500:INTEGER, Examples: [14, 9, 5])
]
# Table: schools
[
(CDSCode:TEXT, Primary Key, Examples: [01100170000000, 01100170109835, 01100170112607]),
(NCESDist:TEXT, Examples: [0691051, 0600002, 0600003]),
(NCESSchool:TEXT, Examples: [10546, 10947, 12283]),
(StatusType:TEXT, Examples: [Active, Closed, Merged]),
(County:TEXT, Examples: [Alameda, Alpine, Amador]),
(District:TEXT),
(School:TEXT, Examples: [FAME Public Charter]),
(Street:TEXT, Examples: [313 West Winton Avenue]),
(StreetAbr:TEXT, Examples: [313 West Winton Ave.]),
(City:TEXT, Examples: [Hayward, Newark, Oakland]),
(Zip:TEXT, Examples: [94544-1136, 94560-5359, 94612-3355]),
(State:TEXT, Examples: [CA]),
(MailStreet:TEXT, Examples: [313 West Winton Avenue]),
(MailStrAbr:TEXT, Examples: [313 West Winton Ave.]),
(MailCity:TEXT, Examples: [Hayward, Newark, Oakland]),
(MailZip:TEXT, Examples: [94544-1136, 94560-5359, 94612]),
(MailState:TEXT, Examples: [CA]),
(Phone:TEXT, Examples: [(510) 887-0152, (510) 596-8901, (510) 686-4131]),
(Ext:TEXT, Examples: [130, 1240, 1200]),
(Website:TEXT, Examples: [www.acoe.org]),
(OpenDate:DATE, Examples: [2005-08-29]),
(ClosedDate:DATE, Examples: [2015-07-31]),
(Charter:INTEGER, Examples: [1, 0]),
(CharterNum:TEXT, Examples: [0728, 0811, 1049]),
(FundingType:TEXT, Examples: [Directly funded]),
(DOC:TEXT, Examples: [00, 31, 34]),
(DOCType:TEXT, Examples: [County Office of Education (COE)]),
(SOC:TEXT, Examples: [65, 66, 60]),
(SOCType:TEXT, Examples: [K-12 Schools (Public)]),
(EdOpsCode:TEXT, Examples: [TRAD, JUV, COMM]),
(EdOpsName:TEXT, Examples: [Traditional]),
(EILCode:TEXT, Examples: [ELEMHIGH, HS, ELEM]),
(EILName:TEXT, Examples: [Elementary-High Combination]),
(GSoffered:TEXT, Examples: [K-12, 9-12, K-8]),
(GSserved:TEXT, Examples: [K-12, 9-12, K-7]),
(Virtual:TEXT, Examples: [P, N, F]),
(Magnet:INTEGER, Examples: [0, 1]),
(Latitude:REAL, Examples: [37.658212, 37.521436, 37.80452]),
(Longitude:REAL, Examples: [-122.09713, -121.99391, -122.26815]),
(AdmFName1:TEXT, Examples: [L Karen, Laura, Clifford]),
(AdmLName1:TEXT, Examples: [Monroe, Robell, Thompson]),
(AdmEmail1:TEXT),
(AdmFName2:TEXT, Examples: [Sau-Lim (Lance), Jennifer, Annalisa]),
(AdmLName2:TEXT, Examples: [Tsang, Koelling, Moore]),
(AdmEmail2:TEXT),
(AdmFName3:TEXT, Examples: [Drew, Irma, Vickie]),
(AdmLName3:TEXT, Examples: [Sarratore, Munoz, Chang]),
(AdmEmail3:TEXT),
(LastUpdate:DATE, Examples: [2015-06-23])
]
【Foreign keys】
frpm.CDSCode=schools.CDSCode
satscores.cds=schools.CDSCode

-- Using valid SQLite and understanding External Knowledge, answer the following questions for the tables provided above.
-- What is the highest eligible free rate for K-12 students in the schools in Alameda County?
-- External Knowledge: Eligible free rate for K-12 = `Free Meal Count (K-12)` / `Enrollment (K-12)`


Generate the SQLite for the above question after thinking step by step:


Instructions:
- Make sure you only output the information that is asked in the question. If the question asks for a specific column, make sure to only include that column in the SELECT clause, nothing more.
- The generated query should return all of the information asked in the question without any missing or extra information.
- Before generating the final SQL query, please think through the steps of how to write the query.
- Do not misuse column names, keep them in quotes `
- Carefully understand what colomns belond to what tables
- Use only initial column names, change names prohibited

Output Format:
In your answer, please enclose the generated SQL query in a code block:
```
-- Your SQL query
```
and nothing else, no exaplains, no comments (asnwer should be less than 512 characters)

Take a deep breath and think step by step to find the correct SQL query in SQLite format.

Question repetition: What is the highest eligible free rate for K-12 students in the schools in Alameda County?

Be care! Include only what i want it questiona and nothing else<|im_end|>
<|im_start|>assistant
<think>

</think>




Максимальное количество токенов в промптах: 6927

начинаем скорринг
Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:29<00:00, 17.13it/s, est. speed input: 42312.68 toks/s, output: 805.62 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 59.58
Qwen3-8B процент запросов, которые успешно выполнились DEV: 93.81%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:30<00:00, 16.94it/s, est. speed input: 41993.10 toks/s, output: 795.64 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.43
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.33%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:35<00:00, 15.99it/s, est. speed input: 39644.94 toks/s, output: 769.70 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.63
Qwen3-8B процент запросов, которые успешно выполнились DEV: 93.87%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:31<00:00, 16.76it/s, est. speed input: 41393.47 toks/s, output: 790.51 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.17
Qwen3-8B процент запросов, которые успешно выполнились DEV: 93.68%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:30<00:00, 16.93it/s, est. speed input: 41809.57 toks/s, output: 801.33 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.89
Qwen3-8B процент запросов, которые успешно выполнились DEV: 93.94%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:34<00:00, 16.24it/s, est. speed input: 40105.54 toks/s, output: 769.82 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 59.97
Qwen3-8B процент запросов, которые успешно выполнились DEV: 93.68%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:29<00:00, 17.05it/s, est. speed input: 42099.45 toks/s, output: 797.15 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.43
Qwen3-8B процент запросов, которые успешно выполнились DEV: 93.94%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:30<00:00, 16.92it/s, est. speed input: 41763.63 toks/s, output: 793.59 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.17
Qwen3-8B процент запросов, которые успешно выполнились DEV: 93.87%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:27<00:00, 17.45it/s, est. speed input: 43091.47 toks/s, output: 810.41 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 58.47
Qwen3-8B процент запросов, которые успешно выполнились DEV: 93.87%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:31<00:00, 16.84it/s, est. speed input: 41575.10 toks/s, output: 788.09 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 59.39
Qwen3-8B процент запросов, которые успешно выполнились DEV: 93.35%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:28<00:00, 17.41it/s, est. speed input: 42982.83 toks/s, output: 812.99 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 59.58
Qwen3-8B процент запросов, которые успешно выполнились DEV: 93.81%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:32<00:00, 16.66it/s, est. speed input: 41122.77 toks/s, output: 782.71 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 58.87
Qwen3-8B процент запросов, которые успешно выполнились DEV: 93.94%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:29<00:00, 17.19it/s, est. speed input: 42452.43 toks/s, output: 795.74 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 59.58
Qwen3-8B процент запросов, которые успешно выполнились DEV: 92.96%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:30<00:00, 16.95it/s, est. speed input: 41868.27 toks/s, output: 798.43 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 58.93
Qwen3-8B процент запросов, которые успешно выполнились DEV: 93.55%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:30<00:00, 16.93it/s, est. speed input: 41818.58 toks/s, output: 796.14 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 59.65
Qwen3-8B процент запросов, которые успешно выполнились DEV: 93.61%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:30<00:00, 16.93it/s, est. speed input: 41806.97 toks/s, output: 791.98 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.30
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.78%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:28<00:00, 17.33it/s, est. speed input: 42770.80 toks/s, output: 803.66 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.04
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.33%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:28<00:00, 17.26it/s, est. speed input: 42629.82 toks/s, output: 808.44 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.95
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.33%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:31<00:00, 16.81it/s, est. speed input: 41674.61 toks/s, output: 773.84 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.50
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.20%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:35<00:00, 16.05it/s, est. speed input: 39781.92 toks/s, output: 750.35 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 59.91
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.13%
====================================================================================================

In [5]:
n= 20
arr_seeds = [random.randint(0,1000) for _ in range(n)]
arr_versions = [x for x in range(n)]
model = "Qwen3-8B"
num_observations = 3
type_cot = 'predict'
print(arr_seeds)
print(f"model: {model}")

[42, 965, 260, 953, 72, 895, 208, 77, 596, 473, 25, 147, 425, 637, 948, 673, 454, 752, 335, 169]
model: Qwen3-8B

In [6]:
run_cot_experiment(model,arr_seeds,arr_versions, type_cot,num_observations=num_observations)

Загружаем модель...

Loading safetensors checkpoint shards:   0% Completed | 0/4 [00:00<?, ?it/s]
Loading safetensors checkpoint shards:  25% Completed | 1/4 [00:00<00:00,  8.28it/s]
Loading safetensors checkpoint shards:  50% Completed | 2/4 [00:00<00:00,  2.51it/s]
Loading safetensors checkpoint shards:  75% Completed | 3/4 [00:01<00:00,  1.79it/s]
Loading safetensors checkpoint shards: 100% Completed | 4/4 [00:02<00:00,  1.58it/s]
Loading safetensors checkpoint shards: 100% Completed | 4/4 [00:02<00:00,  1.81it/s]
(VllmWorker rank=0 pid=1817478)

Модель успешно загружена
model_config {'model': '/data/home/vkropoti/models/Qwen3-8B', 'tensor_parallel_size': 2, 'max_model_len': 40000, 'max_new_tokens': 1500, 'temperature': 0, 'top_k': 1, 'top_p': 0.8, 'gpu_memory_utilization': 0.9, 'trust_remote_code': False, 'seed': 42}

prompts_config {'path_dev_json': '/home/vkropoti/vllm/dev.json', 'path_sql_dbs': '/data/home/vkropoti/sql_data/dev_databases/', 'use_reasoning': False, 'paths_to_cot': ['/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_predict_Qwen3-8B-reasoning-v0', '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_predict_Qwen3-8B-reasoning-v1', '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_predict_Qwen3-8B-reasoning-v2']}

save_config {'path_sql_save': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_all_Qwen3-8B-cot_predict_think==False_nobs3-v0', 'path_think_save': None, 'path_sql_answers_save': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_predict_Qwen3-8B-cot_predict_think==False_nobs3-v0', 'path_to_save_scores': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_results_Qwen3-8B-cot_predict_think==False_nobs3-v0', 'path_to_save_executed': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_executed_Qwen3-8B-cot_predict_think==False_nobs3-v0'}

Модель успешно загружена
Пример промпта
<|im_start|>system

You are a data science expert. Below, you are provided with a database schema and a natural language question. Your task is to understand the schema and generate a valid SQL query to answer the question.

Database Engine: SQLite

You will be given an additional analysis of other models, please take it into account, so the plan is
1. Analyse given addition analysis from other models (find in which analysis the same and differ, how to use that to answer question)
2. Combine best from previous part and think how to solve the problem (analyze tables, take care what columns avaliable in each table and so on, check the syntacsis)
3. Create the answers. The answer should be only sql query.

Carefully follow the instruction and add <|im_end|> and the end of the final answer<|im_end|>
<|im_start|>user
Here is addition analysis from other models which can be helpfull, please take this into account but be careful (choose the best from each analysis, combine them to make the most proper answer):

model 0 analysis:
 SELECT MAX(`Free Meal Count (K-12)` / `Enrollment (K-12)`) FROM frpm JOIN schools ON frpm.CDSCode = schools.CDSCode WHERE schools.County = 'Alameda';

model 1 analysis:
 SELECT MAX("Free Meal Count (K-12)" / "Enrollment (K-12)") FROM frpm WHERE "County Name" = 'Alameda';

model 2 analysis:
 SELECT MAX(`Free Meal Count (K-12)` / `Enrollment (K-12)`) FROM frpm JOIN schools ON frpm.CDSCode = schools.CDSCode WHERE schools.County = 'Alameda';


here is avaliable tables and their structure below
【DB_ID】 california_schools
【Schema】
# Table: frpm
[
(CDSCode:TEXT, maps to schools.CDSCode, Primary Key, Examples: [01100170109835, 01100170112607, 01100170118489]),
(Academic Year:TEXT, Examples: [2014-2015]),
(County Code:TEXT, Examples: [01, 02, 03]),
(District Code:INTEGER, Examples: [10017, 31609, 31617]),
(School Code:TEXT, Examples: [0109835, 0112607, 0118489]),
(County Name:TEXT, Examples: [Alameda, Alpine, Amador]),
(District Name:TEXT),
(School Name:TEXT, Examples: [FAME Public Charter]),
(District Type:TEXT, Examples: [County Office of Education (COE)]),
(School Type:TEXT, Examples: [K-12 Schools (Public)]),
(Educational Option Type:TEXT, Examples: [Traditional]),
(NSLP Provision Status:TEXT, Examples: [Breakfast Provision 2]),
(Charter School (Y/N):INTEGER, Examples: [1, 0]),
(Charter School Number:TEXT, Examples: [0728, 0811, 1049]),
(Charter Funding Type:TEXT, Examples: [Directly funded]),
(IRC:INTEGER, Examples: [1, 0]),
(Low Grade:TEXT, Examples: [K, 9, 1]),
(High Grade:TEXT, Examples: [12, 8, 5]),
(Enrollment (K-12):REAL, Examples: [1087.0, 395.0, 244.0]),
(Free Meal Count (K-12):REAL, Examples: [565.0, 186.0, 134.0]),
(Percent (%) Eligible Free (K-12):REAL, Examples: [0.519779208831647, 0.470886075949367, 0.549180327868853]),
(FRPM Count (K-12):REAL, Examples: [715.0, 186.0, 175.0]),
(Percent (%) Eligible FRPM (K-12):REAL, Examples: [0.657773689052438, 0.470886075949367, 0.717213114754098]),
(Enrollment (Ages 5-17):REAL, Examples: [1070.0, 376.0, 230.0]),
(Free Meal Count (Ages 5-17):REAL, Examples: [553.0, 182.0, 128.0]),
(Percent (%) Eligible Free (Ages 5-17):REAL, Examples: [0.516822429906542, 0.484042553191489, 0.556521739130435]),
(FRPM Count (Ages 5-17):REAL, Examples: [702.0, 182.0, 168.0]),
(Percent (%) Eligible FRPM (Ages 5-17):REAL, Examples: [0.65607476635514, 0.484042553191489, 0.730434782608696]),
(2013-14 CALPADS Fall 1 Certification Status:INTEGER, Examples: [1])
]
# Table: satscores
[
(cds:TEXT, maps to schools.CDSCode, Primary Key, Examples: [10101080000000, 10101080109991, 10101080111682]),
(rtype:TEXT, Examples: [D, S]),
(sname:TEXT, Examples: [FAME Public Charter]),
(dname:TEXT, Examples: [Alameda County Office of Education]),
(cname:TEXT, Examples: [Alameda, Amador, Butte]),
(enroll12:INTEGER, Examples: [398, 62, 75]),
(NumTstTakr:INTEGER, Examples: [88, 17, 71]),
(AvgScrRead:INTEGER, Examples: [418, 503, 397]),
(AvgScrMath:INTEGER, Examples: [418, 546, 387]),
(AvgScrWrite:INTEGER, Examples: [417, 505, 395]),
(NumGE1500:INTEGER, Examples: [14, 9, 5])
]
# Table: schools
[
(CDSCode:TEXT, Primary Key, Examples: [01100170000000, 01100170109835, 01100170112607]),
(NCESDist:TEXT, Examples: [0691051, 0600002, 0600003]),
(NCESSchool:TEXT, Examples: [10546, 10947, 12283]),
(StatusType:TEXT, Examples: [Active, Closed, Merged]),
(County:TEXT, Examples: [Alameda, Alpine, Amador]),
(District:TEXT),
(School:TEXT, Examples: [FAME Public Charter]),
(Street:TEXT, Examples: [313 West Winton Avenue]),
(StreetAbr:TEXT, Examples: [313 West Winton Ave.]),
(City:TEXT, Examples: [Hayward, Newark, Oakland]),
(Zip:TEXT, Examples: [94544-1136, 94560-5359, 94612-3355]),
(State:TEXT, Examples: [CA]),
(MailStreet:TEXT, Examples: [313 West Winton Avenue]),
(MailStrAbr:TEXT, Examples: [313 West Winton Ave.]),
(MailCity:TEXT, Examples: [Hayward, Newark, Oakland]),
(MailZip:TEXT, Examples: [94544-1136, 94560-5359, 94612]),
(MailState:TEXT, Examples: [CA]),
(Phone:TEXT, Examples: [(510) 887-0152, (510) 596-8901, (510) 686-4131]),
(Ext:TEXT, Examples: [130, 1240, 1200]),
(Website:TEXT, Examples: [www.acoe.org]),
(OpenDate:DATE, Examples: [2005-08-29]),
(ClosedDate:DATE, Examples: [2015-07-31]),
(Charter:INTEGER, Examples: [1, 0]),
(CharterNum:TEXT, Examples: [0728, 0811, 1049]),
(FundingType:TEXT, Examples: [Directly funded]),
(DOC:TEXT, Examples: [00, 31, 34]),
(DOCType:TEXT, Examples: [County Office of Education (COE)]),
(SOC:TEXT, Examples: [65, 66, 60]),
(SOCType:TEXT, Examples: [K-12 Schools (Public)]),
(EdOpsCode:TEXT, Examples: [TRAD, JUV, COMM]),
(EdOpsName:TEXT, Examples: [Traditional]),
(EILCode:TEXT, Examples: [ELEMHIGH, HS, ELEM]),
(EILName:TEXT, Examples: [Elementary-High Combination]),
(GSoffered:TEXT, Examples: [K-12, 9-12, K-8]),
(GSserved:TEXT, Examples: [K-12, 9-12, K-7]),
(Virtual:TEXT, Examples: [P, N, F]),
(Magnet:INTEGER, Examples: [0, 1]),
(Latitude:REAL, Examples: [37.658212, 37.521436, 37.80452]),
(Longitude:REAL, Examples: [-122.09713, -121.99391, -122.26815]),
(AdmFName1:TEXT, Examples: [L Karen, Laura, Clifford]),
(AdmLName1:TEXT, Examples: [Monroe, Robell, Thompson]),
(AdmEmail1:TEXT),
(AdmFName2:TEXT, Examples: [Sau-Lim (Lance), Jennifer, Annalisa]),
(AdmLName2:TEXT, Examples: [Tsang, Koelling, Moore]),
(AdmEmail2:TEXT),
(AdmFName3:TEXT, Examples: [Drew, Irma, Vickie]),
(AdmLName3:TEXT, Examples: [Sarratore, Munoz, Chang]),
(AdmEmail3:TEXT),
(LastUpdate:DATE, Examples: [2015-06-23])
]
【Foreign keys】
frpm.CDSCode=schools.CDSCode
satscores.cds=schools.CDSCode

-- Using valid SQLite and understanding External Knowledge, answer the following questions for the tables provided above.
-- What is the highest eligible free rate for K-12 students in the schools in Alameda County?
-- External Knowledge: Eligible free rate for K-12 = `Free Meal Count (K-12)` / `Enrollment (K-12)`


Generate the SQLite for the above question after thinking step by step:


Instructions:
- Make sure you only output the information that is asked in the question. If the question asks for a specific column, make sure to only include that column in the SELECT clause, nothing more.
- The generated query should return all of the information asked in the question without any missing or extra information.
- Before generating the final SQL query, please think through the steps of how to write the query.
- Do not misuse column names, keep them in quotes `
- Carefully understand what colomns belond to what tables
- Use only initial column names, change names prohibited

Output Format:
In your answer, please enclose the generated SQL query in a code block:
```
-- Your SQL query
```
and nothing else, no exaplains, no comments (asnwer should be less than 512 characters)

Take a deep breath and think step by step to find the correct SQL query in SQLite format.

Question repetition: What is the highest eligible free rate for K-12 students in the schools in Alameda County?

Be care! Include only what i want it questiona and nothing else<|im_end|>
<|im_start|>assistant
<think>

</think>




Максимальное количество токенов в промптах: 20873

начинаем скорринг
Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:32<00:00, 16.60it/s, est. speed input: 41952.87 toks/s, output: 784.26 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.30
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.72%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:34<00:00, 16.31it/s, est. speed input: 41224.11 toks/s, output: 775.92 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.30
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.46%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:34<00:00, 16.30it/s, est. speed input: 41194.34 toks/s, output: 771.70 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.17
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.26%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:32<00:00, 16.51it/s, est. speed input: 41559.48 toks/s, output: 779.55 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.63
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.33%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:32<00:00, 16.57it/s, est. speed input: 41693.64 toks/s, output: 782.26 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.50
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.39%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:31<00:00, 16.68it/s, est. speed input: 41976.32 toks/s, output: 778.83 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.30
Qwen3-8B процент запросов, которые успешно выполнились DEV: 93.87%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:31<00:00, 16.74it/s, est. speed input: 42128.85 toks/s, output: 776.13 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 59.52
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.00%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:30<00:00, 17.03it/s, est. speed input: 42854.71 toks/s, output: 785.14 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 59.71
Qwen3-8B процент запросов, которые успешно выполнились DEV: 93.81%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:30<00:00, 16.95it/s, est. speed input: 42674.08 toks/s, output: 783.22 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 59.78
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.20%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:30<00:00, 17.03it/s, est. speed input: 42873.13 toks/s, output: 789.81 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 59.78
Qwen3-8B процент запросов, которые успешно выполнились DEV: 93.81%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:31<00:00, 16.78it/s, est. speed input: 42238.09 toks/s, output: 782.03 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 59.39
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.07%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:31<00:00, 16.78it/s, est. speed input: 42230.67 toks/s, output: 778.64 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 59.97
Qwen3-8B процент запросов, которые успешно выполнились DEV: 93.74%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:31<00:00, 16.73it/s, est. speed input: 42137.71 toks/s, output: 781.01 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 59.39
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.07%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:32<00:00, 16.57it/s, est. speed input: 41726.64 toks/s, output: 779.01 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 59.19
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.07%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:32<00:00, 16.56it/s, est. speed input: 41689.06 toks/s, output: 779.54 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 59.97
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.72%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:31<00:00, 16.74it/s, est. speed input: 42123.31 toks/s, output: 777.95 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.82
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.92%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:30<00:00, 16.98it/s, est. speed input: 42725.12 toks/s, output: 785.95 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.02
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.11%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:32<00:00, 16.52it/s, est. speed input: 41739.55 toks/s, output: 769.61 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.82
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.39%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:33<00:00, 16.48it/s, est. speed input: 41648.15 toks/s, output: 765.70 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.89
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.52%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:32<00:00, 16.55it/s, est. speed input: 41815.80 toks/s, output: 768.05 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.17
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.39%
====================================================================================================

In [7]:
n= 20
arr_seeds = [random.randint(0,1000) for _ in range(n)]
arr_versions = [x for x in range(n)]
model = "Qwen3-8B"
num_observations = 4
type_cot = 'predict'
print(arr_seeds)
print(f"model: {model}")

[997, 696, 451, 891, 647, 710, 582, 96, 983, 683, 64, 853, 598, 205, 483, 101, 596, 420, 919, 658]
model: Qwen3-8B

In [8]:
run_cot_experiment(model,arr_seeds,arr_versions, type_cot,num_observations=num_observations)

Загружаем модель...

Loading safetensors checkpoint shards:   0% Completed | 0/4 [00:00<?, ?it/s]
Loading safetensors checkpoint shards:  25% Completed | 1/4 [00:00<00:00,  8.89it/s]
Loading safetensors checkpoint shards:  50% Completed | 2/4 [00:00<00:00,  2.54it/s]
Loading safetensors checkpoint shards:  75% Completed | 3/4 [00:01<00:00,  1.81it/s]
Loading safetensors checkpoint shards: 100% Completed | 4/4 [00:02<00:00,  1.62it/s]
Loading safetensors checkpoint shards: 100% Completed | 4/4 [00:02<00:00,  1.85it/s]
(VllmWorker rank=0 pid=1857074)

Модель успешно загружена
model_config {'model': '/data/home/vkropoti/models/Qwen3-8B', 'tensor_parallel_size': 2, 'max_model_len': 40000, 'max_new_tokens': 1500, 'temperature': 0, 'top_k': 1, 'top_p': 0.8, 'gpu_memory_utilization': 0.9, 'trust_remote_code': False, 'seed': 997}

prompts_config {'path_dev_json': '/home/vkropoti/vllm/dev.json', 'path_sql_dbs': '/data/home/vkropoti/sql_data/dev_databases/', 'use_reasoning': False, 'paths_to_cot': ['/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_predict_Qwen3-8B-reasoning-v0', '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_predict_Qwen3-8B-reasoning-v1', '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_predict_Qwen3-8B-reasoning-v2', '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_predict_Qwen3-8B-reasoning-v3']}

save_config {'path_sql_save': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_all_Qwen3-8B-cot_predict_think==False_nobs4-v0', 'path_think_save': None, 'path_sql_answers_save': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_predict_Qwen3-8B-cot_predict_think==False_nobs4-v0', 'path_to_save_scores': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_results_Qwen3-8B-cot_predict_think==False_nobs4-v0', 'path_to_save_executed': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_executed_Qwen3-8B-cot_predict_think==False_nobs4-v0'}

Модель успешно загружена
Пример промпта
<|im_start|>system

You are a data science expert. Below, you are provided with a database schema and a natural language question. Your task is to understand the schema and generate a valid SQL query to answer the question.

Database Engine: SQLite

You will be given an additional analysis of other models, please take it into account, so the plan is
1. Analyse given addition analysis from other models (find in which analysis the same and differ, how to use that to answer question)
2. Combine best from previous part and think how to solve the problem (analyze tables, take care what columns avaliable in each table and so on, check the syntacsis)
3. Create the answers. The answer should be only sql query.

Carefully follow the instruction and add <|im_end|> and the end of the final answer<|im_end|>
<|im_start|>user
Here is addition analysis from other models which can be helpfull, please take this into account but be careful (choose the best from each analysis, combine them to make the most proper answer):

model 0 analysis:
 SELECT MAX(`Free Meal Count (K-12)` / `Enrollment (K-12)`) FROM frpm JOIN schools ON frpm.CDSCode = schools.CDSCode WHERE schools.County = 'Alameda';

model 1 analysis:
 SELECT MAX("Free Meal Count (K-12)" / "Enrollment (K-12)") FROM frpm WHERE "County Name" = 'Alameda';

model 2 analysis:
 SELECT MAX(`Free Meal Count (K-12)` / `Enrollment (K-12)`) FROM frpm JOIN schools ON frpm.CDSCode = schools.CDSCode WHERE schools.County = 'Alameda';

model 3 analysis:
 -- Your SQL query
SELECT MAX("Free Meal Count (K-12)" / "Enrollment (K-12)") FROM frpm WHERE "County Name" = 'Alameda';


here is avaliable tables and their structure below
【DB_ID】 california_schools
【Schema】
# Table: frpm
[
(CDSCode:TEXT, maps to schools.CDSCode, Primary Key, Examples: [01100170109835, 01100170112607, 01100170118489]),
(Academic Year:TEXT, Examples: [2014-2015]),
(County Code:TEXT, Examples: [01, 02, 03]),
(District Code:INTEGER, Examples: [10017, 31609, 31617]),
(School Code:TEXT, Examples: [0109835, 0112607, 0118489]),
(County Name:TEXT, Examples: [Alameda, Alpine, Amador]),
(District Name:TEXT),
(School Name:TEXT, Examples: [FAME Public Charter]),
(District Type:TEXT, Examples: [County Office of Education (COE)]),
(School Type:TEXT, Examples: [K-12 Schools (Public)]),
(Educational Option Type:TEXT, Examples: [Traditional]),
(NSLP Provision Status:TEXT, Examples: [Breakfast Provision 2]),
(Charter School (Y/N):INTEGER, Examples: [1, 0]),
(Charter School Number:TEXT, Examples: [0728, 0811, 1049]),
(Charter Funding Type:TEXT, Examples: [Directly funded]),
(IRC:INTEGER, Examples: [1, 0]),
(Low Grade:TEXT, Examples: [K, 9, 1]),
(High Grade:TEXT, Examples: [12, 8, 5]),
(Enrollment (K-12):REAL, Examples: [1087.0, 395.0, 244.0]),
(Free Meal Count (K-12):REAL, Examples: [565.0, 186.0, 134.0]),
(Percent (%) Eligible Free (K-12):REAL, Examples: [0.519779208831647, 0.470886075949367, 0.549180327868853]),
(FRPM Count (K-12):REAL, Examples: [715.0, 186.0, 175.0]),
(Percent (%) Eligible FRPM (K-12):REAL, Examples: [0.657773689052438, 0.470886075949367, 0.717213114754098]),
(Enrollment (Ages 5-17):REAL, Examples: [1070.0, 376.0, 230.0]),
(Free Meal Count (Ages 5-17):REAL, Examples: [553.0, 182.0, 128.0]),
(Percent (%) Eligible Free (Ages 5-17):REAL, Examples: [0.516822429906542, 0.484042553191489, 0.556521739130435]),
(FRPM Count (Ages 5-17):REAL, Examples: [702.0, 182.0, 168.0]),
(Percent (%) Eligible FRPM (Ages 5-17):REAL, Examples: [0.65607476635514, 0.484042553191489, 0.730434782608696]),
(2013-14 CALPADS Fall 1 Certification Status:INTEGER, Examples: [1])
]
# Table: satscores
[
(cds:TEXT, maps to schools.CDSCode, Primary Key, Examples: [10101080000000, 10101080109991, 10101080111682]),
(rtype:TEXT, Examples: [D, S]),
(sname:TEXT, Examples: [FAME Public Charter]),
(dname:TEXT, Examples: [Alameda County Office of Education]),
(cname:TEXT, Examples: [Alameda, Amador, Butte]),
(enroll12:INTEGER, Examples: [398, 62, 75]),
(NumTstTakr:INTEGER, Examples: [88, 17, 71]),
(AvgScrRead:INTEGER, Examples: [418, 503, 397]),
(AvgScrMath:INTEGER, Examples: [418, 546, 387]),
(AvgScrWrite:INTEGER, Examples: [417, 505, 395]),
(NumGE1500:INTEGER, Examples: [14, 9, 5])
]
# Table: schools
[
(CDSCode:TEXT, Primary Key, Examples: [01100170000000, 01100170109835, 01100170112607]),
(NCESDist:TEXT, Examples: [0691051, 0600002, 0600003]),
(NCESSchool:TEXT, Examples: [10546, 10947, 12283]),
(StatusType:TEXT, Examples: [Active, Closed, Merged]),
(County:TEXT, Examples: [Alameda, Alpine, Amador]),
(District:TEXT),
(School:TEXT, Examples: [FAME Public Charter]),
(Street:TEXT, Examples: [313 West Winton Avenue]),
(StreetAbr:TEXT, Examples: [313 West Winton Ave.]),
(City:TEXT, Examples: [Hayward, Newark, Oakland]),
(Zip:TEXT, Examples: [94544-1136, 94560-5359, 94612-3355]),
(State:TEXT, Examples: [CA]),
(MailStreet:TEXT, Examples: [313 West Winton Avenue]),
(MailStrAbr:TEXT, Examples: [313 West Winton Ave.]),
(MailCity:TEXT, Examples: [Hayward, Newark, Oakland]),
(MailZip:TEXT, Examples: [94544-1136, 94560-5359, 94612]),
(MailState:TEXT, Examples: [CA]),
(Phone:TEXT, Examples: [(510) 887-0152, (510) 596-8901, (510) 686-4131]),
(Ext:TEXT, Examples: [130, 1240, 1200]),
(Website:TEXT, Examples: [www.acoe.org]),
(OpenDate:DATE, Examples: [2005-08-29]),
(ClosedDate:DATE, Examples: [2015-07-31]),
(Charter:INTEGER, Examples: [1, 0]),
(CharterNum:TEXT, Examples: [0728, 0811, 1049]),
(FundingType:TEXT, Examples: [Directly funded]),
(DOC:TEXT, Examples: [00, 31, 34]),
(DOCType:TEXT, Examples: [County Office of Education (COE)]),
(SOC:TEXT, Examples: [65, 66, 60]),
(SOCType:TEXT, Examples: [K-12 Schools (Public)]),
(EdOpsCode:TEXT, Examples: [TRAD, JUV, COMM]),
(EdOpsName:TEXT, Examples: [Traditional]),
(EILCode:TEXT, Examples: [ELEMHIGH, HS, ELEM]),
(EILName:TEXT, Examples: [Elementary-High Combination]),
(GSoffered:TEXT, Examples: [K-12, 9-12, K-8]),
(GSserved:TEXT, Examples: [K-12, 9-12, K-7]),
(Virtual:TEXT, Examples: [P, N, F]),
(Magnet:INTEGER, Examples: [0, 1]),
(Latitude:REAL, Examples: [37.658212, 37.521436, 37.80452]),
(Longitude:REAL, Examples: [-122.09713, -121.99391, -122.26815]),
(AdmFName1:TEXT, Examples: [L Karen, Laura, Clifford]),
(AdmLName1:TEXT, Examples: [Monroe, Robell, Thompson]),
(AdmEmail1:TEXT),
(AdmFName2:TEXT, Examples: [Sau-Lim (Lance), Jennifer, Annalisa]),
(AdmLName2:TEXT, Examples: [Tsang, Koelling, Moore]),
(AdmEmail2:TEXT),
(AdmFName3:TEXT, Examples: [Drew, Irma, Vickie]),
(AdmLName3:TEXT, Examples: [Sarratore, Munoz, Chang]),
(AdmEmail3:TEXT),
(LastUpdate:DATE, Examples: [2015-06-23])
]
【Foreign keys】
frpm.CDSCode=schools.CDSCode
satscores.cds=schools.CDSCode

-- Using valid SQLite and understanding External Knowledge, answer the following questions for the tables provided above.
-- What is the highest eligible free rate for K-12 students in the schools in Alameda County?
-- External Knowledge: Eligible free rate for K-12 = `Free Meal Count (K-12)` / `Enrollment (K-12)`


Generate the SQLite for the above question after thinking step by step:


Instructions:
- Make sure you only output the information that is asked in the question. If the question asks for a specific column, make sure to only include that column in the SELECT clause, nothing more.
- The generated query should return all of the information asked in the question without any missing or extra information.
- Before generating the final SQL query, please think through the steps of how to write the query.
- Do not misuse column names, keep them in quotes `
- Carefully understand what colomns belond to what tables
- Use only initial column names, change names prohibited

Output Format:
In your answer, please enclose the generated SQL query in a code block:
```
-- Your SQL query
```
and nothing else, no exaplains, no comments (asnwer should be less than 512 characters)

Take a deep breath and think step by step to find the correct SQL query in SQLite format.

Question repetition: What is the highest eligible free rate for K-12 students in the schools in Alameda County?

Be care! Include only what i want it questiona and nothing else<|im_end|>
<|im_start|>assistant
<think>

</think>




Максимальное количество токенов в промптах: 21125

начинаем скорринг
Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:40<00:00, 15.34it/s, est. speed input: 39510.52 toks/s, output: 737.66 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.04
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.46%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:35<00:00, 16.07it/s, est. speed input: 41398.63 toks/s, output: 760.92 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.30
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.52%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:34<00:00, 16.19it/s, est. speed input: 41699.28 toks/s, output: 764.15 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.02
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.33%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:34<00:00, 16.18it/s, est. speed input: 41500.78 toks/s, output: 761.83 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.95
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.78%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:34<00:00, 16.26it/s, est. speed input: 41698.36 toks/s, output: 768.13 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.95
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.85%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:33<00:00, 16.44it/s, est. speed input: 42165.36 toks/s, output: 761.39 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 59.52
Qwen3-8B процент запросов, которые успешно выполнились DEV: 93.68%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:31<00:00, 16.84it/s, est. speed input: 43179.44 toks/s, output: 777.45 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 59.45
Qwen3-8B процент запросов, которые успешно выполнились DEV: 93.48%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:31<00:00, 16.73it/s, est. speed input: 42917.19 toks/s, output: 775.30 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.50
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.39%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:31<00:00, 16.71it/s, est. speed input: 42873.00 toks/s, output: 772.01 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 59.71
Qwen3-8B процент запросов, которые успешно выполнились DEV: 93.94%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:33<00:00, 16.49it/s, est. speed input: 42308.45 toks/s, output: 774.24 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 59.58
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.07%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:32<00:00, 16.60it/s, est. speed input: 42600.40 toks/s, output: 773.14 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 59.39
Qwen3-8B процент запросов, которые успешно выполнились DEV: 93.94%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:34<00:00, 16.23it/s, est. speed input: 41630.72 toks/s, output: 756.00 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 59.91
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.52%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:34<00:00, 16.29it/s, est. speed input: 41793.96 toks/s, output: 767.92 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 59.58
Qwen3-8B процент запросов, которые успешно выполнились DEV: 93.94%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:33<00:00, 16.38it/s, est. speed input: 42023.82 toks/s, output: 768.55 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 59.78
Qwen3-8B процент запросов, которые успешно выполнились DEV: 93.94%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:33<00:00, 16.33it/s, est. speed input: 41888.03 toks/s, output: 762.04 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.76
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.59%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:32<00:00, 16.64it/s, est. speed input: 42691.49 toks/s, output: 772.73 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.08
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.65%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:35<00:00, 16.14it/s, est. speed input: 41541.64 toks/s, output: 748.08 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.50
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.39%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:32<00:00, 16.52it/s, est. speed input: 42551.38 toks/s, output: 761.18 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.63
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.26%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:34<00:00, 16.15it/s, est. speed input: 41605.14 toks/s, output: 754.23 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.95
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.52%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:35<00:00, 16.03it/s, est. speed input: 41436.33 toks/s, output: 745.57 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 59.71
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.39%
====================================================================================================

In [9]:
n= 20
arr_seeds = [random.randint(0,1000) for _ in range(n)]
arr_versions = [x for x in range(n)]
model = "Qwen3-8B"
num_observations = 5
type_cot = 'predict'
print(arr_seeds)
print(f"model: {model}")

[641, 561, 398, 358, 595, 482, 248, 828, 681, 701, 461, 50, 723, 48, 363, 162, 611, 417, 10, 842]
model: Qwen3-8B

In [10]:
run_cot_experiment(model,arr_seeds,arr_versions, type_cot,num_observations=num_observations)

Загружаем модель...

Loading safetensors checkpoint shards:   0% Completed | 0/4 [00:00<?, ?it/s]
Loading safetensors checkpoint shards:  25% Completed | 1/4 [00:00<00:00,  8.14it/s]
Loading safetensors checkpoint shards:  50% Completed | 2/4 [00:00<00:00,  2.47it/s]
Loading safetensors checkpoint shards:  75% Completed | 3/4 [00:01<00:00,  1.78it/s]
Loading safetensors checkpoint shards: 100% Completed | 4/4 [00:02<00:00,  1.59it/s]
Loading safetensors checkpoint shards: 100% Completed | 4/4 [00:02<00:00,  1.82it/s]
(VllmWorker rank=0 pid=1896232)

Модель успешно загружена
model_config {'model': '/data/home/vkropoti/models/Qwen3-8B', 'tensor_parallel_size': 2, 'max_model_len': 40000, 'max_new_tokens': 1500, 'temperature': 0, 'top_k': 1, 'top_p': 0.8, 'gpu_memory_utilization': 0.9, 'trust_remote_code': False, 'seed': 641}

prompts_config {'path_dev_json': '/home/vkropoti/vllm/dev.json', 'path_sql_dbs': '/data/home/vkropoti/sql_data/dev_databases/', 'use_reasoning': False, 'paths_to_cot': ['/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_predict_Qwen3-8B-reasoning-v0', '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_predict_Qwen3-8B-reasoning-v1', '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_predict_Qwen3-8B-reasoning-v2', '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_predict_Qwen3-8B-reasoning-v3', '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_predict_Qwen3-8B-reasoning-v4']}

save_config {'path_sql_save': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_all_Qwen3-8B-cot_predict_think==False_nobs5-v0', 'path_think_save': None, 'path_sql_answers_save': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_predict_Qwen3-8B-cot_predict_think==False_nobs5-v0', 'path_to_save_scores': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_results_Qwen3-8B-cot_predict_think==False_nobs5-v0', 'path_to_save_executed': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_executed_Qwen3-8B-cot_predict_think==False_nobs5-v0'}

Модель успешно загружена
Пример промпта
<|im_start|>system

You are a data science expert. Below, you are provided with a database schema and a natural language question. Your task is to understand the schema and generate a valid SQL query to answer the question.

Database Engine: SQLite

You will be given an additional analysis of other models, please take it into account, so the plan is
1. Analyse given addition analysis from other models (find in which analysis the same and differ, how to use that to answer question)
2. Combine best from previous part and think how to solve the problem (analyze tables, take care what columns avaliable in each table and so on, check the syntacsis)
3. Create the answers. The answer should be only sql query.

Carefully follow the instruction and add <|im_end|> and the end of the final answer<|im_end|>
<|im_start|>user
Here is addition analysis from other models which can be helpfull, please take this into account but be careful (choose the best from each analysis, combine them to make the most proper answer):

model 0 analysis:
 SELECT MAX(`Free Meal Count (K-12)` / `Enrollment (K-12)`) FROM frpm JOIN schools ON frpm.CDSCode = schools.CDSCode WHERE schools.County = 'Alameda';

model 1 analysis:
 SELECT MAX("Free Meal Count (K-12)" / "Enrollment (K-12)") FROM frpm WHERE "County Name" = 'Alameda';

model 2 analysis:
 SELECT MAX(`Free Meal Count (K-12)` / `Enrollment (K-12)`) FROM frpm JOIN schools ON frpm.CDSCode = schools.CDSCode WHERE schools.County = 'Alameda';

model 3 analysis:
 -- Your SQL query
SELECT MAX("Free Meal Count (K-12)" / "Enrollment (K-12)") FROM frpm WHERE "County Name" = 'Alameda';

model 4 analysis:
 SELECT MAX(`Free Meal Count (K-12)` / `Enrollment (K-12)`) FROM frpm JOIN schools ON frpm.CDSCode = schools.CDSCode WHERE schools.County = 'Alameda';


here is avaliable tables and their structure below
【DB_ID】 california_schools
【Schema】
# Table: frpm
[
(CDSCode:TEXT, maps to schools.CDSCode, Primary Key, Examples: [01100170109835, 01100170112607, 01100170118489]),
(Academic Year:TEXT, Examples: [2014-2015]),
(County Code:TEXT, Examples: [01, 02, 03]),
(District Code:INTEGER, Examples: [10017, 31609, 31617]),
(School Code:TEXT, Examples: [0109835, 0112607, 0118489]),
(County Name:TEXT, Examples: [Alameda, Alpine, Amador]),
(District Name:TEXT),
(School Name:TEXT, Examples: [FAME Public Charter]),
(District Type:TEXT, Examples: [County Office of Education (COE)]),
(School Type:TEXT, Examples: [K-12 Schools (Public)]),
(Educational Option Type:TEXT, Examples: [Traditional]),
(NSLP Provision Status:TEXT, Examples: [Breakfast Provision 2]),
(Charter School (Y/N):INTEGER, Examples: [1, 0]),
(Charter School Number:TEXT, Examples: [0728, 0811, 1049]),
(Charter Funding Type:TEXT, Examples: [Directly funded]),
(IRC:INTEGER, Examples: [1, 0]),
(Low Grade:TEXT, Examples: [K, 9, 1]),
(High Grade:TEXT, Examples: [12, 8, 5]),
(Enrollment (K-12):REAL, Examples: [1087.0, 395.0, 244.0]),
(Free Meal Count (K-12):REAL, Examples: [565.0, 186.0, 134.0]),
(Percent (%) Eligible Free (K-12):REAL, Examples: [0.519779208831647, 0.470886075949367, 0.549180327868853]),
(FRPM Count (K-12):REAL, Examples: [715.0, 186.0, 175.0]),
(Percent (%) Eligible FRPM (K-12):REAL, Examples: [0.657773689052438, 0.470886075949367, 0.717213114754098]),
(Enrollment (Ages 5-17):REAL, Examples: [1070.0, 376.0, 230.0]),
(Free Meal Count (Ages 5-17):REAL, Examples: [553.0, 182.0, 128.0]),
(Percent (%) Eligible Free (Ages 5-17):REAL, Examples: [0.516822429906542, 0.484042553191489, 0.556521739130435]),
(FRPM Count (Ages 5-17):REAL, Examples: [702.0, 182.0, 168.0]),
(Percent (%) Eligible FRPM (Ages 5-17):REAL, Examples: [0.65607476635514, 0.484042553191489, 0.730434782608696]),
(2013-14 CALPADS Fall 1 Certification Status:INTEGER, Examples: [1])
]
# Table: satscores
[
(cds:TEXT, maps to schools.CDSCode, Primary Key, Examples: [10101080000000, 10101080109991, 10101080111682]),
(rtype:TEXT, Examples: [D, S]),
(sname:TEXT, Examples: [FAME Public Charter]),
(dname:TEXT, Examples: [Alameda County Office of Education]),
(cname:TEXT, Examples: [Alameda, Amador, Butte]),
(enroll12:INTEGER, Examples: [398, 62, 75]),
(NumTstTakr:INTEGER, Examples: [88, 17, 71]),
(AvgScrRead:INTEGER, Examples: [418, 503, 397]),
(AvgScrMath:INTEGER, Examples: [418, 546, 387]),
(AvgScrWrite:INTEGER, Examples: [417, 505, 395]),
(NumGE1500:INTEGER, Examples: [14, 9, 5])
]
# Table: schools
[
(CDSCode:TEXT, Primary Key, Examples: [01100170000000, 01100170109835, 01100170112607]),
(NCESDist:TEXT, Examples: [0691051, 0600002, 0600003]),
(NCESSchool:TEXT, Examples: [10546, 10947, 12283]),
(StatusType:TEXT, Examples: [Active, Closed, Merged]),
(County:TEXT, Examples: [Alameda, Alpine, Amador]),
(District:TEXT),
(School:TEXT, Examples: [FAME Public Charter]),
(Street:TEXT, Examples: [313 West Winton Avenue]),
(StreetAbr:TEXT, Examples: [313 West Winton Ave.]),
(City:TEXT, Examples: [Hayward, Newark, Oakland]),
(Zip:TEXT, Examples: [94544-1136, 94560-5359, 94612-3355]),
(State:TEXT, Examples: [CA]),
(MailStreet:TEXT, Examples: [313 West Winton Avenue]),
(MailStrAbr:TEXT, Examples: [313 West Winton Ave.]),
(MailCity:TEXT, Examples: [Hayward, Newark, Oakland]),
(MailZip:TEXT, Examples: [94544-1136, 94560-5359, 94612]),
(MailState:TEXT, Examples: [CA]),
(Phone:TEXT, Examples: [(510) 887-0152, (510) 596-8901, (510) 686-4131]),
(Ext:TEXT, Examples: [130, 1240, 1200]),
(Website:TEXT, Examples: [www.acoe.org]),
(OpenDate:DATE, Examples: [2005-08-29]),
(ClosedDate:DATE, Examples: [2015-07-31]),
(Charter:INTEGER, Examples: [1, 0]),
(CharterNum:TEXT, Examples: [0728, 0811, 1049]),
(FundingType:TEXT, Examples: [Directly funded]),
(DOC:TEXT, Examples: [00, 31, 34]),
(DOCType:TEXT, Examples: [County Office of Education (COE)]),
(SOC:TEXT, Examples: [65, 66, 60]),
(SOCType:TEXT, Examples: [K-12 Schools (Public)]),
(EdOpsCode:TEXT, Examples: [TRAD, JUV, COMM]),
(EdOpsName:TEXT, Examples: [Traditional]),
(EILCode:TEXT, Examples: [ELEMHIGH, HS, ELEM]),
(EILName:TEXT, Examples: [Elementary-High Combination]),
(GSoffered:TEXT, Examples: [K-12, 9-12, K-8]),
(GSserved:TEXT, Examples: [K-12, 9-12, K-7]),
(Virtual:TEXT, Examples: [P, N, F]),
(Magnet:INTEGER, Examples: [0, 1]),
(Latitude:REAL, Examples: [37.658212, 37.521436, 37.80452]),
(Longitude:REAL, Examples: [-122.09713, -121.99391, -122.26815]),
(AdmFName1:TEXT, Examples: [L Karen, Laura, Clifford]),
(AdmLName1:TEXT, Examples: [Monroe, Robell, Thompson]),
(AdmEmail1:TEXT),
(AdmFName2:TEXT, Examples: [Sau-Lim (Lance), Jennifer, Annalisa]),
(AdmLName2:TEXT, Examples: [Tsang, Koelling, Moore]),
(AdmEmail2:TEXT),
(AdmFName3:TEXT, Examples: [Drew, Irma, Vickie]),
(AdmLName3:TEXT, Examples: [Sarratore, Munoz, Chang]),
(AdmEmail3:TEXT),
(LastUpdate:DATE, Examples: [2015-06-23])
]
【Foreign keys】
frpm.CDSCode=schools.CDSCode
satscores.cds=schools.CDSCode

-- Using valid SQLite and understanding External Knowledge, answer the following questions for the tables provided above.
-- What is the highest eligible free rate for K-12 students in the schools in Alameda County?
-- External Knowledge: Eligible free rate for K-12 = `Free Meal Count (K-12)` / `Enrollment (K-12)`


Generate the SQLite for the above question after thinking step by step:


Instructions:
- Make sure you only output the information that is asked in the question. If the question asks for a specific column, make sure to only include that column in the SELECT clause, nothing more.
- The generated query should return all of the information asked in the question without any missing or extra information.
- Before generating the final SQL query, please think through the steps of how to write the query.
- Do not misuse column names, keep them in quotes `
- Carefully understand what colomns belond to what tables
- Use only initial column names, change names prohibited

Output Format:
In your answer, please enclose the generated SQL query in a code block:
```
-- Your SQL query
```
and nothing else, no exaplains, no comments (asnwer should be less than 512 characters)

Take a deep breath and think step by step to find the correct SQL query in SQLite format.

Question repetition: What is the highest eligible free rate for K-12 students in the schools in Alameda County?

Be care! Include only what i want it questiona and nothing else<|im_end|>
<|im_start|>assistant
<think>

</think>




Максимальное количество токенов в промптах: 21171

начинаем скорринг
Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:37<00:00, 15.66it/s, est. speed input: 41106.57 toks/s, output: 739.20 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.37
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.52%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:38<00:00, 15.64it/s, est. speed input: 41032.00 toks/s, output: 740.19 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.95
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.39%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:36<00:00, 15.86it/s, est. speed input: 41604.90 toks/s, output: 741.48 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.60
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.39%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:37<00:00, 15.79it/s, est. speed input: 41257.66 toks/s, output: 742.90 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.08
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.65%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:36<00:00, 15.82it/s, est. speed input: 41349.50 toks/s, output: 744.43 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.89
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.20%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:32<00:00, 16.50it/s, est. speed input: 43112.48 toks/s, output: 759.27 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 59.78
Qwen3-8B процент запросов, которые успешно выполнились DEV: 93.61%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:34<00:00, 16.32it/s, est. speed input: 42637.32 toks/s, output: 759.05 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 59.84
Qwen3-8B процент запросов, которые успешно выполнились DEV: 93.55%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:34<00:00, 16.30it/s, est. speed input: 42584.53 toks/s, output: 753.46 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.50
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.39%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:36<00:00, 15.97it/s, est. speed input: 41725.80 toks/s, output: 746.00 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 59.39
Qwen3-8B процент запросов, которые успешно выполнились DEV: 93.68%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:34<00:00, 16.20it/s, est. speed input: 42342.96 toks/s, output: 755.82 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 59.71
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.00%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:34<00:00, 16.16it/s, est. speed input: 42232.38 toks/s, output: 751.75 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 59.71
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.46%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:37<00:00, 15.81it/s, est. speed input: 41332.63 toks/s, output: 740.21 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.43
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.46%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:36<00:00, 15.96it/s, est. speed input: 41722.23 toks/s, output: 749.43 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 59.91
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.39%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:35<00:00, 16.05it/s, est. speed input: 41951.03 toks/s, output: 747.50 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.30
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.00%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:35<00:00, 16.01it/s, est. speed input: 41854.74 toks/s, output: 749.29 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.08
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.65%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:36<00:00, 15.89it/s, est. speed input: 41670.52 toks/s, output: 735.57 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.89
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.52%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:35<00:00, 16.08it/s, est. speed input: 42172.60 toks/s, output: 740.25 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.43
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.26%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:36<00:00, 15.94it/s, est. speed input: 41810.15 toks/s, output: 735.93 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.50
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.39%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:38<00:00, 15.62it/s, est. speed input: 41142.63 toks/s, output: 726.88 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.02
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.65%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:39<00:00, 15.42it/s, est. speed input: 40608.05 toks/s, output: 728.72 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.43
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.72%
====================================================================================================

In [ ]:
n= 20
arr_seeds = [random.randint(0,1000) for _ in range(n)]
arr_versions = [x for x in range(n)]
model = "Qwen3-8B"
num_observations = 6
type_cot = 'predict'
print(arr_seeds)
print(f"model: {model}")

In [ ]:
run_cot_experiment(model,arr_seeds,arr_versions, type_cot,num_observations=num_observations)

In [ ]:
n= 20
arr_seeds = [random.randint(0,1000) for _ in range(n)]
arr_versions = [x for x in range(n)]
model = "Qwen3-8B"
num_observations = 7
type_cot = 'predict'
print(arr_seeds)
print(f"model: {model}")

In [ ]:
run_cot_experiment(model,arr_seeds,arr_versions, type_cot,num_observations=num_observations)

# part3: think

In [3]:
n= 20
arr_seeds = [random.randint(0,1000) for _ in range(n)]
arr_versions = [x for x in range(n)]
model = "Qwen3-8B"
num_observations = 2
type_cot = 'think'
print(arr_seeds)
print(f"model: {model}")

[861, 684, 334, 776, 981, 519, 274, 139, 325, 663, 130, 522, 969, 475, 610, 832, 473, 506, 891, 901]
model: Qwen3-8B

In [4]:
run_cot_experiment(model,arr_seeds,arr_versions, type_cot,num_observations=num_observations)

Загружаем модель...

Loading safetensors checkpoint shards:   0% Completed | 0/4 [00:00<?, ?it/s]
Loading safetensors checkpoint shards:  25% Completed | 1/4 [00:00<00:00,  8.68it/s]
Loading safetensors checkpoint shards:  50% Completed | 2/4 [00:00<00:00,  2.58it/s]
Loading safetensors checkpoint shards:  75% Completed | 3/4 [00:01<00:00,  1.83it/s]
Loading safetensors checkpoint shards: 100% Completed | 4/4 [00:02<00:00,  1.62it/s]
Loading safetensors checkpoint shards: 100% Completed | 4/4 [00:02<00:00,  1.86it/s]
(VllmWorker rank=0 pid=1976538)

Модель успешно загружена
model_config {'model': '/data/home/vkropoti/models/Qwen3-8B', 'tensor_parallel_size': 2, 'max_model_len': 40000, 'max_new_tokens': 1500, 'temperature': 0, 'top_k': 1, 'top_p': 0.8, 'gpu_memory_utilization': 0.9, 'trust_remote_code': False, 'seed': 861}

prompts_config {'path_dev_json': '/home/vkropoti/vllm/dev.json', 'path_sql_dbs': '/data/home/vkropoti/sql_data/dev_databases/', 'use_reasoning': False, 'paths_to_cot': ['/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_think_Qwen3-8B-reasoning-v0', '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_think_Qwen3-8B-reasoning-v1']}

save_config {'path_sql_save': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_all_Qwen3-8B-cot_think_think==False_nobs2-v0', 'path_think_save': None, 'path_sql_answers_save': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_predict_Qwen3-8B-cot_think_think==False_nobs2-v0', 'path_to_save_scores': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_results_Qwen3-8B-cot_think_think==False_nobs2-v0', 'path_to_save_executed': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_executed_Qwen3-8B-cot_think_think==False_nobs2-v0'}

Модель успешно загружена
Пример промпта
<|im_start|>system

You are a data science expert. Below, you are provided with a database schema and a natural language question. Your task is to understand the schema and generate a valid SQL query to answer the question.

Database Engine: SQLite

You will be given an additional analysis of other models, please take it into account, so the plan is
1. Analyse given addition analysis from other models (find in which analysis the same and differ, how to use that to answer question)
2. Combine best from previous part and think how to solve the problem (analyze tables, take care what columns avaliable in each table and so on, check the syntacsis)
3. Create the answers. The answer should be only sql query.

Carefully follow the instruction and add <|im_end|> and the end of the final answer<|im_end|>
<|im_start|>user
Here is addition analysis from other models which can be helpfull, please take this into account but be careful (choose the best from each analysis, combine them to make the most proper answer):

model 0 analysis:
 Okay, I need to find the highest eligible free rate for K-12 students in schools located in Alameda County. Let me start by understanding the tables and columns involved.

First, the question mentions "eligible free rate for K-12," which is calculated as Free Meal Count (K-12) divided by Enrollment (K-12). The tables involved are likely the frpm table since it has those columns. But I also need to filter schools in Alameda County. The schools table has a County column, so I'll need to join frpm with schools on CDSCode to get the county information.

Wait, the frpm table has a County Name column, but the schools table also has a County column. Which one should I use? The question specifies "Alameda County," so I should check both tables. However, the schools table's County column is more directly related to the school's location. But the frpm table's County Name might be more accurate for the data. Hmm. Wait, the foreign key is between frpm.CDSCode and schools.CDSCode, so joining on that would allow me to get the County from schools. Let me confirm: the schools table has a County column, so joining frpm with schools on CDSCode would allow me to filter by County in the schools table.

So the plan is: join frpm and schools on CDSCode, filter where schools.County = 'Alameda', calculate the eligible free rate as (Free Meal Count (K-12) / Enrollment (K-12)), then find the maximum value of that rate.

Wait, but the frpm table has Free Meal Count (K-12) and Enrollment (K-12) as columns. So I can calculate the rate as Free Meal Count / Enrollment. But I need to make sure that Enrollment is not zero to avoid division by zero. However, the problem might not require handling that, assuming the data is clean.

So the SQL query steps:

1. Join frpm and schools on CDSCode.
2. Filter where schools.County = 'Alameda'.
3. Calculate the rate as (Free Meal Count (K-12) / Enrollment (K-12)).
4. Find the maximum value of this rate.

Now, writing the SQL query. The SELECT clause should include the calculated rate. But since the question asks for the highest rate, I can use MAX() on the calculated value.

Wait, but the question is asking for the highest rate, so the query would select the maximum of (Free Meal Count / Enrollment). However, since the calculation is per row, using MAX() on that expression would give the highest value.

So the query would be:

SELECT MAX(Free Meal Count (K-12) / Enrollment (K-12)) AS highest_rate
FROM frpm
JOIN schools ON frpm.CDSCode = schools.CDSCode
WHERE schools.County = 'Alameda';

But wait, I need to make sure that the column names are correctly quoted. In SQLite, if the column names have spaces, they need to be enclosed in quotes. So the columns "Free Meal Count (K-12)" and "Enrollment (K-12)" should be in quotes.

So the correct query would have those columns quoted. Also, the County column in schools is 'County', so the WHERE clause is schools.County = 'Alameda'.

Putting it all together:

SELECT MAX(`Free Meal Count (K-12)` / `Enrollment (K-12)`) AS highest_rate
FROM frpm
JOIN schools ON frpm.CDSCode = schools.CDSCode
WHERE schools.County = 'Alameda';

But the question says to include only the information asked, which is the highest rate. So the SELECT clause should just return that max value. The AS highest_rate is optional, but the query needs to return the value. However, the problem says to include only what's asked, so the output should be the maximum value, which is the highest eligible free rate. The query as written would return that value.

model 1 analysis:
 Okay, let's see. The user is asking for the highest eligible free rate for K-12 students in schools located in Alameda County.

First, I need to figure out which tables and columns are relevant. The eligible free rate is calculated as Free Meal Count (K-12) divided by Enrollment (K-12). So, the frpm table has these two columns. But I also need to filter schools in Alameda County.

Looking at the tables, the frpm table has a County Name column. Wait, the County Name in frpm is called 'County Name' with examples like Alameda. So, I should check where 'County Name' equals 'Alameda' in the frpm table.

But wait, the schools table also has a County column. However, the question is about schools in Alameda County. But the frpm table's County Name might be the right one to use here. Let me confirm. The frpm table's County Name examples include Alameda, so that's the column to filter on.

So the plan is: select the eligible free rate (Free Meal Count / Enrollment) from the frpm table where County Name is Alameda. Then find the maximum value of that rate.

But I need to make sure that the division is done correctly. The Free Meal Count (K-12) is a REAL number, and Enrollment (K-12) is also REAL. So dividing them will give the percentage. Then, I need to select the maximum of that value.

So the SQL query would be: SELECT MAX((Free Meal Count (K-12) / Enrollment (K-12))) FROM frpm WHERE 'County Name' = 'Alameda';

Wait, but in SQLite, column names with spaces need to be quoted. So the column names should be in double quotes. Also, the County Name is a column in frpm, so the WHERE clause should be 'County Name' = 'Alameda'.

So the final query would use MAX on the calculated rate, filtering by the county. That should give the highest eligible free rate in Alameda County.


here is avaliable tables and their structure below
【DB_ID】 california_schools
【Schema】
# Table: frpm
[
(CDSCode:TEXT, maps to schools.CDSCode, Primary Key, Examples: [01100170109835, 01100170112607, 01100170118489]),
(Academic Year:TEXT, Examples: [2014-2015]),
(County Code:TEXT, Examples: [01, 02, 03]),
(District Code:INTEGER, Examples: [10017, 31609, 31617]),
(School Code:TEXT, Examples: [0109835, 0112607, 0118489]),
(County Name:TEXT, Examples: [Alameda, Alpine, Amador]),
(District Name:TEXT),
(School Name:TEXT, Examples: [FAME Public Charter]),
(District Type:TEXT, Examples: [County Office of Education (COE)]),
(School Type:TEXT, Examples: [K-12 Schools (Public)]),
(Educational Option Type:TEXT, Examples: [Traditional]),
(NSLP Provision Status:TEXT, Examples: [Breakfast Provision 2]),
(Charter School (Y/N):INTEGER, Examples: [1, 0]),
(Charter School Number:TEXT, Examples: [0728, 0811, 1049]),
(Charter Funding Type:TEXT, Examples: [Directly funded]),
(IRC:INTEGER, Examples: [1, 0]),
(Low Grade:TEXT, Examples: [K, 9, 1]),
(High Grade:TEXT, Examples: [12, 8, 5]),
(Enrollment (K-12):REAL, Examples: [1087.0, 395.0, 244.0]),
(Free Meal Count (K-12):REAL, Examples: [565.0, 186.0, 134.0]),
(Percent (%) Eligible Free (K-12):REAL, Examples: [0.519779208831647, 0.470886075949367, 0.549180327868853]),
(FRPM Count (K-12):REAL, Examples: [715.0, 186.0, 175.0]),
(Percent (%) Eligible FRPM (K-12):REAL, Examples: [0.657773689052438, 0.470886075949367, 0.717213114754098]),
(Enrollment (Ages 5-17):REAL, Examples: [1070.0, 376.0, 230.0]),
(Free Meal Count (Ages 5-17):REAL, Examples: [553.0, 182.0, 128.0]),
(Percent (%) Eligible Free (Ages 5-17):REAL, Examples: [0.516822429906542, 0.484042553191489, 0.556521739130435]),
(FRPM Count (Ages 5-17):REAL, Examples: [702.0, 182.0, 168.0]),
(Percent (%) Eligible FRPM (Ages 5-17):REAL, Examples: [0.65607476635514, 0.484042553191489, 0.730434782608696]),
(2013-14 CALPADS Fall 1 Certification Status:INTEGER, Examples: [1])
]
# Table: satscores
[
(cds:TEXT, maps to schools.CDSCode, Primary Key, Examples: [10101080000000, 10101080109991, 10101080111682]),
(rtype:TEXT, Examples: [D, S]),
(sname:TEXT, Examples: [FAME Public Charter]),
(dname:TEXT, Examples: [Alameda County Office of Education]),
(cname:TEXT, Examples: [Alameda, Amador, Butte]),
(enroll12:INTEGER, Examples: [398, 62, 75]),
(NumTstTakr:INTEGER, Examples: [88, 17, 71]),
(AvgScrRead:INTEGER, Examples: [418, 503, 397]),
(AvgScrMath:INTEGER, Examples: [418, 546, 387]),
(AvgScrWrite:INTEGER, Examples: [417, 505, 395]),
(NumGE1500:INTEGER, Examples: [14, 9, 5])
]
# Table: schools
[
(CDSCode:TEXT, Primary Key, Examples: [01100170000000, 01100170109835, 01100170112607]),
(NCESDist:TEXT, Examples: [0691051, 0600002, 0600003]),
(NCESSchool:TEXT, Examples: [10546, 10947, 12283]),
(StatusType:TEXT, Examples: [Active, Closed, Merged]),
(County:TEXT, Examples: [Alameda, Alpine, Amador]),
(District:TEXT),
(School:TEXT, Examples: [FAME Public Charter]),
(Street:TEXT, Examples: [313 West Winton Avenue]),
(StreetAbr:TEXT, Examples: [313 West Winton Ave.]),
(City:TEXT, Examples: [Hayward, Newark, Oakland]),
(Zip:TEXT, Examples: [94544-1136, 94560-5359, 94612-3355]),
(State:TEXT, Examples: [CA]),
(MailStreet:TEXT, Examples: [313 West Winton Avenue]),
(MailStrAbr:TEXT, Examples: [313 West Winton Ave.]),
(MailCity:TEXT, Examples: [Hayward, Newark, Oakland]),
(MailZip:TEXT, Examples: [94544-1136, 94560-5359, 94612]),
(MailState:TEXT, Examples: [CA]),
(Phone:TEXT, Examples: [(510) 887-0152, (510) 596-8901, (510) 686-4131]),
(Ext:TEXT, Examples: [130, 1240, 1200]),
(Website:TEXT, Examples: [www.acoe.org]),
(OpenDate:DATE, Examples: [2005-08-29]),
(ClosedDate:DATE, Examples: [2015-07-31]),
(Charter:INTEGER, Examples: [1, 0]),
(CharterNum:TEXT, Examples: [0728, 0811, 1049]),
(FundingType:TEXT, Examples: [Directly funded]),
(DOC:TEXT, Examples: [00, 31, 34]),
(DOCType:TEXT, Examples: [County Office of Education (COE)]),
(SOC:TEXT, Examples: [65, 66, 60]),
(SOCType:TEXT, Examples: [K-12 Schools (Public)]),
(EdOpsCode:TEXT, Examples: [TRAD, JUV, COMM]),
(EdOpsName:TEXT, Examples: [Traditional]),
(EILCode:TEXT, Examples: [ELEMHIGH, HS, ELEM]),
(EILName:TEXT, Examples: [Elementary-High Combination]),
(GSoffered:TEXT, Examples: [K-12, 9-12, K-8]),
(GSserved:TEXT, Examples: [K-12, 9-12, K-7]),
(Virtual:TEXT, Examples: [P, N, F]),
(Magnet:INTEGER, Examples: [0, 1]),
(Latitude:REAL, Examples: [37.658212, 37.521436, 37.80452]),
(Longitude:REAL, Examples: [-122.09713, -121.99391, -122.26815]),
(AdmFName1:TEXT, Examples: [L Karen, Laura, Clifford]),
(AdmLName1:TEXT, Examples: [Monroe, Robell, Thompson]),
(AdmEmail1:TEXT),
(AdmFName2:TEXT, Examples: [Sau-Lim (Lance), Jennifer, Annalisa]),
(AdmLName2:TEXT, Examples: [Tsang, Koelling, Moore]),
(AdmEmail2:TEXT),
(AdmFName3:TEXT, Examples: [Drew, Irma, Vickie]),
(AdmLName3:TEXT, Examples: [Sarratore, Munoz, Chang]),
(AdmEmail3:TEXT),
(LastUpdate:DATE, Examples: [2015-06-23])
]
【Foreign keys】
frpm.CDSCode=schools.CDSCode
satscores.cds=schools.CDSCode

-- Using valid SQLite and understanding External Knowledge, answer the following questions for the tables provided above.
-- What is the highest eligible free rate for K-12 students in the schools in Alameda County?
-- External Knowledge: Eligible free rate for K-12 = `Free Meal Count (K-12)` / `Enrollment (K-12)`


Generate the SQLite for the above question after thinking step by step:


Instructions:
- Make sure you only output the information that is asked in the question. If the question asks for a specific column, make sure to only include that column in the SELECT clause, nothing more.
- The generated query should return all of the information asked in the question without any missing or extra information.
- Before generating the final SQL query, please think through the steps of how to write the query.
- Do not misuse column names, keep them in quotes `
- Carefully understand what colomns belond to what tables
- Use only initial column names, change names prohibited

Output Format:
In your answer, please enclose the generated SQL query in a code block:
```
-- Your SQL query
```
and nothing else, no exaplains, no comments (asnwer should be less than 512 characters)

Take a deep breath and think step by step to find the correct SQL query in SQLite format.

Question repetition: What is the highest eligible free rate for K-12 students in the schools in Alameda County?

Be care! Include only what i want it questiona and nothing else<|im_end|>
<|im_start|>assistant
<think>

</think>




Максимальное количество токенов в промптах: 12753

начинаем скорринг
Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [02:29<00:00, 10.28it/s, est. speed input: 41271.77 toks/s, output: 476.28 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.56
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.20%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [02:29<00:00, 10.27it/s, est. speed input: 40982.25 toks/s, output: 472.96 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.08
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.33%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [02:29<00:00, 10.23it/s, est. speed input: 40679.14 toks/s, output: 474.63 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.28
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.65%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [02:31<00:00, 10.15it/s, est. speed input: 40636.34 toks/s, output: 468.42 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.08
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.46%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [02:31<00:00, 10.13it/s, est. speed input: 40802.46 toks/s, output: 470.67 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.21
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.59%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [02:32<00:00, 10.08it/s, est. speed input: 40450.56 toks/s, output: 466.43 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.80
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.44%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [02:29<00:00, 10.29it/s, est. speed input: 41184.98 toks/s, output: 471.29 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.76
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.72%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [02:29<00:00, 10.24it/s, est. speed input: 41138.18 toks/s, output: 469.86 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.95
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.52%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [02:32<00:00, 10.05it/s, est. speed input: 40849.38 toks/s, output: 459.13 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.37
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.92%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [02:34<00:00,  9.93it/s, est. speed input: 40386.61 toks/s, output: 458.68 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.56
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.92%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [02:32<00:00, 10.08it/s, est. speed input: 40509.47 toks/s, output: 465.38 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.10
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.13%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [02:31<00:00, 10.10it/s, est. speed input: 40833.99 toks/s, output: 467.94 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.63
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.85%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [02:29<00:00, 10.24it/s, est. speed input: 41231.61 toks/s, output: 470.74 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 59.71
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.92%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [02:31<00:00, 10.14it/s, est. speed input: 40908.95 toks/s, output: 466.62 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 59.13
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.39%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [02:33<00:00,  9.97it/s, est. speed input: 40267.87 toks/s, output: 457.01 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.37
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.46%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [02:32<00:00, 10.08it/s, est. speed input: 40346.51 toks/s, output: 459.91 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 59.52
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.92%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [02:33<00:00,  9.99it/s, est. speed input: 40228.82 toks/s, output: 455.49 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 59.91
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.24%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [02:30<00:00, 10.16it/s, est. speed input: 40864.95 toks/s, output: 463.60 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.02
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.59%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [02:30<00:00, 10.18it/s, est. speed input: 40442.22 toks/s, output: 465.37 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.43
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.46%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [02:30<00:00, 10.21it/s, est. speed input: 40583.71 toks/s, output: 464.51 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.10
Qwen3-8B процент запросов, которые успешно выполнились DEV: 93.61%
====================================================================================================

In [5]:
n= 20
arr_seeds = [random.randint(0,1000) for _ in range(n)]
arr_versions = [x for x in range(n)]
model = "Qwen3-8B"
num_observations = 3
type_cot = 'think'
print(arr_seeds)
print(f"model: {model}")

[549, 774, 229, 481, 387, 920, 208, 914, 525, 196, 355, 286, 851, 775, 52, 485, 162, 822, 559, 955]
model: Qwen3-8B

In [6]:
run_cot_experiment(model,arr_seeds,arr_versions, type_cot,num_observations=num_observations)

Загружаем модель...

Loading safetensors checkpoint shards:   0% Completed | 0/4 [00:00<?, ?it/s]
Loading safetensors checkpoint shards:  25% Completed | 1/4 [00:00<00:00,  7.57it/s]
Loading safetensors checkpoint shards:  50% Completed | 2/4 [00:00<00:00,  2.58it/s]
Loading safetensors checkpoint shards:  75% Completed | 3/4 [00:01<00:00,  1.94it/s]
Loading safetensors checkpoint shards: 100% Completed | 4/4 [00:02<00:00,  1.75it/s]
Loading safetensors checkpoint shards: 100% Completed | 4/4 [00:02<00:00,  1.98it/s]
(VllmWorker rank=0 pid=2023538)

Модель успешно загружена
model_config {'model': '/data/home/vkropoti/models/Qwen3-8B', 'tensor_parallel_size': 2, 'max_model_len': 40000, 'max_new_tokens': 1500, 'temperature': 0, 'top_k': 1, 'top_p': 0.8, 'gpu_memory_utilization': 0.9, 'trust_remote_code': False, 'seed': 549}

prompts_config {'path_dev_json': '/home/vkropoti/vllm/dev.json', 'path_sql_dbs': '/data/home/vkropoti/sql_data/dev_databases/', 'use_reasoning': False, 'paths_to_cot': ['/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_think_Qwen3-8B-reasoning-v0', '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_think_Qwen3-8B-reasoning-v1', '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_think_Qwen3-8B-reasoning-v2']}

save_config {'path_sql_save': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_all_Qwen3-8B-cot_think_think==False_nobs3-v0', 'path_think_save': None, 'path_sql_answers_save': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_predict_Qwen3-8B-cot_think_think==False_nobs3-v0', 'path_to_save_scores': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_results_Qwen3-8B-cot_think_think==False_nobs3-v0', 'path_to_save_executed': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_executed_Qwen3-8B-cot_think_think==False_nobs3-v0'}

Модель успешно загружена
Пример промпта
<|im_start|>system

You are a data science expert. Below, you are provided with a database schema and a natural language question. Your task is to understand the schema and generate a valid SQL query to answer the question.

Database Engine: SQLite

You will be given an additional analysis of other models, please take it into account, so the plan is
1. Analyse given addition analysis from other models (find in which analysis the same and differ, how to use that to answer question)
2. Combine best from previous part and think how to solve the problem (analyze tables, take care what columns avaliable in each table and so on, check the syntacsis)
3. Create the answers. The answer should be only sql query.

Carefully follow the instruction and add <|im_end|> and the end of the final answer<|im_end|>
<|im_start|>user
Here is addition analysis from other models which can be helpfull, please take this into account but be careful (choose the best from each analysis, combine them to make the most proper answer):

model 0 analysis:
 Okay, I need to find the highest eligible free rate for K-12 students in schools located in Alameda County. Let me start by understanding the tables and columns involved.

First, the question mentions "eligible free rate for K-12," which is calculated as Free Meal Count (K-12) divided by Enrollment (K-12). The tables involved are likely the frpm table since it has those columns. But I also need to filter schools in Alameda County. The schools table has a County column, so I'll need to join frpm with schools on CDSCode to get the county information.

Wait, the frpm table has a County Name column, but the schools table also has a County column. Which one should I use? The question specifies "Alameda County," so I should check both tables. However, the schools table's County column is more directly related to the school's location. But the frpm table's County Name might be more accurate for the data. Hmm. Wait, the foreign key is between frpm.CDSCode and schools.CDSCode, so joining on that would allow me to get the County from schools. Let me confirm: the schools table has a County column, so joining frpm with schools on CDSCode would allow me to filter by County in the schools table.

So the plan is: join frpm and schools on CDSCode, filter where schools.County = 'Alameda', calculate the eligible free rate as (Free Meal Count (K-12) / Enrollment (K-12)), then find the maximum value of that rate.

Wait, but the frpm table has Free Meal Count (K-12) and Enrollment (K-12) as columns. So I can calculate the rate as Free Meal Count / Enrollment. But I need to make sure that Enrollment is not zero to avoid division by zero. However, the problem might not require handling that, assuming the data is clean.

So the SQL query steps:

1. Join frpm and schools on CDSCode.
2. Filter where schools.County = 'Alameda'.
3. Calculate the rate as (Free Meal Count (K-12) / Enrollment (K-12)).
4. Find the maximum value of this rate.

Now, writing the SQL query. The SELECT clause should include the calculated rate. But since the question asks for the highest rate, I can use MAX() on the calculated value.

Wait, but the question is asking for the highest rate, so the query would select the maximum of (Free Meal Count / Enrollment). However, since the calculation is per row, using MAX() on that expression would give the highest value.

So the query would be:

SELECT MAX(Free Meal Count (K-12) / Enrollment (K-12)) AS highest_rate
FROM frpm
JOIN schools ON frpm.CDSCode = schools.CDSCode
WHERE schools.County = 'Alameda';

But wait, I need to make sure that the column names are correctly quoted. In SQLite, if the column names have spaces, they need to be enclosed in quotes. So the columns "Free Meal Count (K-12)" and "Enrollment (K-12)" should be in quotes.

So the correct query would have those columns quoted. Also, the County column in schools is 'County', so the WHERE clause is schools.County = 'Alameda'.

Putting it all together:

SELECT MAX(`Free Meal Count (K-12)` / `Enrollment (K-12)`) AS highest_rate
FROM frpm
JOIN schools ON frpm.CDSCode = schools.CDSCode
WHERE schools.County = 'Alameda';

But the question says to include only the information asked, which is the highest rate. So the SELECT clause should just return that max value. The AS highest_rate is optional, but the query needs to return the value. However, the problem says to include only what's asked, so the output should be the maximum value, which is the highest eligible free rate. The query as written would return that value.

model 1 analysis:
 Okay, let's see. The user is asking for the highest eligible free rate for K-12 students in schools located in Alameda County.

First, I need to figure out which tables and columns are relevant. The eligible free rate is calculated as Free Meal Count (K-12) divided by Enrollment (K-12). So, the frpm table has these two columns. But I also need to filter schools in Alameda County.

Looking at the tables, the frpm table has a County Name column. Wait, the County Name in frpm is called 'County Name' with examples like Alameda. So, I should check where 'County Name' equals 'Alameda' in the frpm table.

But wait, the schools table also has a County column. However, the question is about schools in Alameda County. But the frpm table's County Name might be the right one to use here. Let me confirm. The frpm table's County Name examples include Alameda, so that's the column to filter on.

So the plan is: select the eligible free rate (Free Meal Count / Enrollment) from the frpm table where County Name is Alameda. Then find the maximum value of that rate.

But I need to make sure that the division is done correctly. The Free Meal Count (K-12) is a REAL number, and Enrollment (K-12) is also REAL. So dividing them will give the percentage. Then, I need to select the maximum of that value.

So the SQL query would be: SELECT MAX((Free Meal Count (K-12) / Enrollment (K-12))) FROM frpm WHERE 'County Name' = 'Alameda';

Wait, but in SQLite, column names with spaces need to be quoted. So the column names should be in double quotes. Also, the County Name is a column in frpm, so the WHERE clause should be 'County Name' = 'Alameda'.

So the final query would use MAX on the calculated rate, filtering by the county. That should give the highest eligible free rate in Alameda County.

model 2 analysis:
 Okay, I need to find the highest eligible free rate for K-12 students in schools located in Alameda County. Let's start by understanding the tables and columns involved.

First, the 'schools' table has a column called 'County' which should be used to filter schools in Alameda County. The 'frpm' table contains the 'Free Meal Count (K-12)' and 'Enrollment (K-12)' columns needed to calculate the eligible free rate.

Since the 'frpm' table's CDSCode is linked to the 'schools' table's CDSCode via a foreign key, I'll need to join these two tables on CDSCode. The calculation for the eligible free rate is Free Meal Count divided by Enrollment.

I should select the maximum value of this calculated rate from the joined tables where the County is 'Alameda'. To ensure accuracy, I'll use the correct column names and perform the division as a decimal. Also, I need to handle possible NULL values, but since the question is about existing schools, maybe it's safe to assume these fields are not null.

So the steps are: join schools and frpm on CDSCode, filter where County is 'Alameda', calculate the rate, and find the maximum. The final query should return only the highest rate.


here is avaliable tables and their structure below
【DB_ID】 california_schools
【Schema】
# Table: frpm
[
(CDSCode:TEXT, maps to schools.CDSCode, Primary Key, Examples: [01100170109835, 01100170112607, 01100170118489]),
(Academic Year:TEXT, Examples: [2014-2015]),
(County Code:TEXT, Examples: [01, 02, 03]),
(District Code:INTEGER, Examples: [10017, 31609, 31617]),
(School Code:TEXT, Examples: [0109835, 0112607, 0118489]),
(County Name:TEXT, Examples: [Alameda, Alpine, Amador]),
(District Name:TEXT),
(School Name:TEXT, Examples: [FAME Public Charter]),
(District Type:TEXT, Examples: [County Office of Education (COE)]),
(School Type:TEXT, Examples: [K-12 Schools (Public)]),
(Educational Option Type:TEXT, Examples: [Traditional]),
(NSLP Provision Status:TEXT, Examples: [Breakfast Provision 2]),
(Charter School (Y/N):INTEGER, Examples: [1, 0]),
(Charter School Number:TEXT, Examples: [0728, 0811, 1049]),
(Charter Funding Type:TEXT, Examples: [Directly funded]),
(IRC:INTEGER, Examples: [1, 0]),
(Low Grade:TEXT, Examples: [K, 9, 1]),
(High Grade:TEXT, Examples: [12, 8, 5]),
(Enrollment (K-12):REAL, Examples: [1087.0, 395.0, 244.0]),
(Free Meal Count (K-12):REAL, Examples: [565.0, 186.0, 134.0]),
(Percent (%) Eligible Free (K-12):REAL, Examples: [0.519779208831647, 0.470886075949367, 0.549180327868853]),
(FRPM Count (K-12):REAL, Examples: [715.0, 186.0, 175.0]),
(Percent (%) Eligible FRPM (K-12):REAL, Examples: [0.657773689052438, 0.470886075949367, 0.717213114754098]),
(Enrollment (Ages 5-17):REAL, Examples: [1070.0, 376.0, 230.0]),
(Free Meal Count (Ages 5-17):REAL, Examples: [553.0, 182.0, 128.0]),
(Percent (%) Eligible Free (Ages 5-17):REAL, Examples: [0.516822429906542, 0.484042553191489, 0.556521739130435]),
(FRPM Count (Ages 5-17):REAL, Examples: [702.0, 182.0, 168.0]),
(Percent (%) Eligible FRPM (Ages 5-17):REAL, Examples: [0.65607476635514, 0.484042553191489, 0.730434782608696]),
(2013-14 CALPADS Fall 1 Certification Status:INTEGER, Examples: [1])
]
# Table: satscores
[
(cds:TEXT, maps to schools.CDSCode, Primary Key, Examples: [10101080000000, 10101080109991, 10101080111682]),
(rtype:TEXT, Examples: [D, S]),
(sname:TEXT, Examples: [FAME Public Charter]),
(dname:TEXT, Examples: [Alameda County Office of Education]),
(cname:TEXT, Examples: [Alameda, Amador, Butte]),
(enroll12:INTEGER, Examples: [398, 62, 75]),
(NumTstTakr:INTEGER, Examples: [88, 17, 71]),
(AvgScrRead:INTEGER, Examples: [418, 503, 397]),
(AvgScrMath:INTEGER, Examples: [418, 546, 387]),
(AvgScrWrite:INTEGER, Examples: [417, 505, 395]),
(NumGE1500:INTEGER, Examples: [14, 9, 5])
]
# Table: schools
[
(CDSCode:TEXT, Primary Key, Examples: [01100170000000, 01100170109835, 01100170112607]),
(NCESDist:TEXT, Examples: [0691051, 0600002, 0600003]),
(NCESSchool:TEXT, Examples: [10546, 10947, 12283]),
(StatusType:TEXT, Examples: [Active, Closed, Merged]),
(County:TEXT, Examples: [Alameda, Alpine, Amador]),
(District:TEXT),
(School:TEXT, Examples: [FAME Public Charter]),
(Street:TEXT, Examples: [313 West Winton Avenue]),
(StreetAbr:TEXT, Examples: [313 West Winton Ave.]),
(City:TEXT, Examples: [Hayward, Newark, Oakland]),
(Zip:TEXT, Examples: [94544-1136, 94560-5359, 94612-3355]),
(State:TEXT, Examples: [CA]),
(MailStreet:TEXT, Examples: [313 West Winton Avenue]),
(MailStrAbr:TEXT, Examples: [313 West Winton Ave.]),
(MailCity:TEXT, Examples: [Hayward, Newark, Oakland]),
(MailZip:TEXT, Examples: [94544-1136, 94560-5359, 94612]),
(MailState:TEXT, Examples: [CA]),
(Phone:TEXT, Examples: [(510) 887-0152, (510) 596-8901, (510) 686-4131]),
(Ext:TEXT, Examples: [130, 1240, 1200]),
(Website:TEXT, Examples: [www.acoe.org]),
(OpenDate:DATE, Examples: [2005-08-29]),
(ClosedDate:DATE, Examples: [2015-07-31]),
(Charter:INTEGER, Examples: [1, 0]),
(CharterNum:TEXT, Examples: [0728, 0811, 1049]),
(FundingType:TEXT, Examples: [Directly funded]),
(DOC:TEXT, Examples: [00, 31, 34]),
(DOCType:TEXT, Examples: [County Office of Education (COE)]),
(SOC:TEXT, Examples: [65, 66, 60]),
(SOCType:TEXT, Examples: [K-12 Schools (Public)]),
(EdOpsCode:TEXT, Examples: [TRAD, JUV, COMM]),
(EdOpsName:TEXT, Examples: [Traditional]),
(EILCode:TEXT, Examples: [ELEMHIGH, HS, ELEM]),
(EILName:TEXT, Examples: [Elementary-High Combination]),
(GSoffered:TEXT, Examples: [K-12, 9-12, K-8]),
(GSserved:TEXT, Examples: [K-12, 9-12, K-7]),
(Virtual:TEXT, Examples: [P, N, F]),
(Magnet:INTEGER, Examples: [0, 1]),
(Latitude:REAL, Examples: [37.658212, 37.521436, 37.80452]),
(Longitude:REAL, Examples: [-122.09713, -121.99391, -122.26815]),
(AdmFName1:TEXT, Examples: [L Karen, Laura, Clifford]),
(AdmLName1:TEXT, Examples: [Monroe, Robell, Thompson]),
(AdmEmail1:TEXT),
(AdmFName2:TEXT, Examples: [Sau-Lim (Lance), Jennifer, Annalisa]),
(AdmLName2:TEXT, Examples: [Tsang, Koelling, Moore]),
(AdmEmail2:TEXT),
(AdmFName3:TEXT, Examples: [Drew, Irma, Vickie]),
(AdmLName3:TEXT, Examples: [Sarratore, Munoz, Chang]),
(AdmEmail3:TEXT),
(LastUpdate:DATE, Examples: [2015-06-23])
]
【Foreign keys】
frpm.CDSCode=schools.CDSCode
satscores.cds=schools.CDSCode

-- Using valid SQLite and understanding External Knowledge, answer the following questions for the tables provided above.
-- What is the highest eligible free rate for K-12 students in the schools in Alameda County?
-- External Knowledge: Eligible free rate for K-12 = `Free Meal Count (K-12)` / `Enrollment (K-12)`


Generate the SQLite for the above question after thinking step by step:


Instructions:
- Make sure you only output the information that is asked in the question. If the question asks for a specific column, make sure to only include that column in the SELECT clause, nothing more.
- The generated query should return all of the information asked in the question without any missing or extra information.
- Before generating the final SQL query, please think through the steps of how to write the query.
- Do not misuse column names, keep them in quotes `
- Carefully understand what colomns belond to what tables
- Use only initial column names, change names prohibited

Output Format:
In your answer, please enclose the generated SQL query in a code block:
```
-- Your SQL query
```
and nothing else, no exaplains, no comments (asnwer should be less than 512 characters)

Take a deep breath and think step by step to find the correct SQL query in SQLite format.

Question repetition: What is the highest eligible free rate for K-12 students in the schools in Alameda County?

Be care! Include only what i want it questiona and nothing else<|im_end|>
<|im_start|>assistant
<think>

</think>




Максимальное количество токенов в промптах: 23370

начинаем скорринг
Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:04<00:00,  8.30it/s, est. speed input: 39892.89 toks/s, output: 382.68 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.15
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.39%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:06<00:00,  8.20it/s, est. speed input: 39368.80 toks/s, output: 379.72 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.60
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.24%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:07<00:00,  8.19it/s, est. speed input: 39294.62 toks/s, output: 379.47 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.60
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.92%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:08<00:00,  8.14it/s, est. speed input: 39392.21 toks/s, output: 372.94 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 62.06
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.39%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:08<00:00,  8.16it/s, est. speed input: 39465.91 toks/s, output: 374.77 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.86
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.24%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:07<00:00,  8.19it/s, est. speed input: 39602.41 toks/s, output: 378.03 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.54
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.11%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:06<00:00,  8.24it/s, est. speed input: 39769.45 toks/s, output: 377.93 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.69
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.20%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:10<00:00,  8.07it/s, est. speed input: 39421.37 toks/s, output: 369.87 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.82
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.05%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:07<00:00,  8.16it/s, est. speed input: 39921.02 toks/s, output: 371.98 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.02
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.11%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:07<00:00,  8.16it/s, est. speed input: 39861.32 toks/s, output: 370.15 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.89
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.78%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:08<00:00,  8.15it/s, est. speed input: 39675.94 toks/s, output: 372.76 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.02
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.37%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:05<00:00,  8.25it/s, est. speed input: 39978.96 toks/s, output: 379.15 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.08
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.05%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:07<00:00,  8.16it/s, est. speed input: 39873.58 toks/s, output: 375.45 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.17
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.24%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:06<00:00,  8.22it/s, est. speed input: 39847.61 toks/s, output: 377.43 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.43
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.78%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:08<00:00,  8.15it/s, est. speed input: 39605.63 toks/s, output: 374.98 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.50
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.92%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:03<00:00,  8.36it/s, est. speed input: 40427.74 toks/s, output: 378.09 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.17
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.85%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:02<00:00,  8.41it/s, est. speed input: 40705.13 toks/s, output: 384.88 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.28
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.18%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:01<00:00,  8.43it/s, est. speed input: 40534.18 toks/s, output: 384.96 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.15
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.37%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:03<00:00,  8.38it/s, est. speed input: 40119.68 toks/s, output: 382.48 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 62.06
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.46%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:02<00:00,  8.40it/s, est. speed input: 40314.06 toks/s, output: 385.01 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.76
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.39%
====================================================================================================

In [7]:
n= 20
arr_seeds = [random.randint(0,1000) for _ in range(n)]
arr_versions = [x for x in range(n)]
model = "Qwen3-8B"
num_observations = 4
type_cot = 'think'
print(arr_seeds)
print(f"model: {model}")

[932, 610, 888, 384, 994, 941, 438, 394, 267, 12, 53, 389, 57, 448, 935, 982, 175, 904, 196, 973]
model: Qwen3-8B

In [8]:
run_cot_experiment(model,arr_seeds,arr_versions, type_cot,num_observations=num_observations)

Загружаем модель...

Loading safetensors checkpoint shards:   0% Completed | 0/4 [00:00<?, ?it/s]
Loading safetensors checkpoint shards:  25% Completed | 1/4 [00:00<00:00,  7.53it/s]
Loading safetensors checkpoint shards:  50% Completed | 2/4 [00:00<00:00,  2.50it/s]
Loading safetensors checkpoint shards:  75% Completed | 3/4 [00:01<00:00,  1.78it/s]
Loading safetensors checkpoint shards: 100% Completed | 4/4 [00:02<00:00,  1.57it/s]
Loading safetensors checkpoint shards: 100% Completed | 4/4 [00:02<00:00,  1.79it/s]
(VllmWorker rank=0 pid=2073524)

Модель успешно загружена
model_config {'model': '/data/home/vkropoti/models/Qwen3-8B', 'tensor_parallel_size': 2, 'max_model_len': 40000, 'max_new_tokens': 1500, 'temperature': 0, 'top_k': 1, 'top_p': 0.8, 'gpu_memory_utilization': 0.9, 'trust_remote_code': False, 'seed': 932}

prompts_config {'path_dev_json': '/home/vkropoti/vllm/dev.json', 'path_sql_dbs': '/data/home/vkropoti/sql_data/dev_databases/', 'use_reasoning': False, 'paths_to_cot': ['/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_think_Qwen3-8B-reasoning-v0', '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_think_Qwen3-8B-reasoning-v1', '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_think_Qwen3-8B-reasoning-v2', '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_think_Qwen3-8B-reasoning-v3']}

save_config {'path_sql_save': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_all_Qwen3-8B-cot_think_think==False_nobs4-v0', 'path_think_save': None, 'path_sql_answers_save': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_predict_Qwen3-8B-cot_think_think==False_nobs4-v0', 'path_to_save_scores': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_results_Qwen3-8B-cot_think_think==False_nobs4-v0', 'path_to_save_executed': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_executed_Qwen3-8B-cot_think_think==False_nobs4-v0'}

Модель успешно загружена
Пример промпта
<|im_start|>system

You are a data science expert. Below, you are provided with a database schema and a natural language question. Your task is to understand the schema and generate a valid SQL query to answer the question.

Database Engine: SQLite

You will be given an additional analysis of other models, please take it into account, so the plan is
1. Analyse given addition analysis from other models (find in which analysis the same and differ, how to use that to answer question)
2. Combine best from previous part and think how to solve the problem (analyze tables, take care what columns avaliable in each table and so on, check the syntacsis)
3. Create the answers. The answer should be only sql query.

Carefully follow the instruction and add <|im_end|> and the end of the final answer<|im_end|>
<|im_start|>user
Here is addition analysis from other models which can be helpfull, please take this into account but be careful (choose the best from each analysis, combine them to make the most proper answer):

model 0 analysis:
 Okay, I need to find the highest eligible free rate for K-12 students in schools located in Alameda County. Let me start by understanding the tables and columns involved.

First, the question mentions "eligible free rate for K-12," which is calculated as Free Meal Count (K-12) divided by Enrollment (K-12). The tables involved are likely the frpm table since it has those columns. But I also need to filter schools in Alameda County. The schools table has a County column, so I'll need to join frpm with schools on CDSCode to get the county information.

Wait, the frpm table has a County Name column, but the schools table also has a County column. Which one should I use? The question specifies "Alameda County," so I should check both tables. However, the schools table's County column is more directly related to the school's location. But the frpm table's County Name might be more accurate for the data. Hmm. Wait, the foreign key is between frpm.CDSCode and schools.CDSCode, so joining on that would allow me to get the County from schools. Let me confirm: the schools table has a County column, so joining frpm with schools on CDSCode would allow me to filter by County in the schools table.

So the plan is: join frpm and schools on CDSCode, filter where schools.County = 'Alameda', calculate the eligible free rate as (Free Meal Count (K-12) / Enrollment (K-12)), then find the maximum value of that rate.

Wait, but the frpm table has Free Meal Count (K-12) and Enrollment (K-12) as columns. So I can calculate the rate as Free Meal Count / Enrollment. But I need to make sure that Enrollment is not zero to avoid division by zero. However, the problem might not require handling that, assuming the data is clean.

So the SQL query steps:

1. Join frpm and schools on CDSCode.
2. Filter where schools.County = 'Alameda'.
3. Calculate the rate as (Free Meal Count (K-12) / Enrollment (K-12)).
4. Find the maximum value of this rate.

Now, writing the SQL query. The SELECT clause should include the calculated rate. But since the question asks for the highest rate, I can use MAX() on the calculated value.

Wait, but the question is asking for the highest rate, so the query would select the maximum of (Free Meal Count / Enrollment). However, since the calculation is per row, using MAX() on that expression would give the highest value.

So the query would be:

SELECT MAX(Free Meal Count (K-12) / Enrollment (K-12)) AS highest_rate
FROM frpm
JOIN schools ON frpm.CDSCode = schools.CDSCode
WHERE schools.County = 'Alameda';

But wait, I need to make sure that the column names are correctly quoted. In SQLite, if the column names have spaces, they need to be enclosed in quotes. So the columns "Free Meal Count (K-12)" and "Enrollment (K-12)" should be in quotes.

So the correct query would have those columns quoted. Also, the County column in schools is 'County', so the WHERE clause is schools.County = 'Alameda'.

Putting it all together:

SELECT MAX(`Free Meal Count (K-12)` / `Enrollment (K-12)`) AS highest_rate
FROM frpm
JOIN schools ON frpm.CDSCode = schools.CDSCode
WHERE schools.County = 'Alameda';

But the question says to include only the information asked, which is the highest rate. So the SELECT clause should just return that max value. The AS highest_rate is optional, but the query needs to return the value. However, the problem says to include only what's asked, so the output should be the maximum value, which is the highest eligible free rate. The query as written would return that value.

model 1 analysis:
 Okay, let's see. The user is asking for the highest eligible free rate for K-12 students in schools located in Alameda County.

First, I need to figure out which tables and columns are relevant. The eligible free rate is calculated as Free Meal Count (K-12) divided by Enrollment (K-12). So, the frpm table has these two columns. But I also need to filter schools in Alameda County.

Looking at the tables, the frpm table has a County Name column. Wait, the County Name in frpm is called 'County Name' with examples like Alameda. So, I should check where 'County Name' equals 'Alameda' in the frpm table.

But wait, the schools table also has a County column. However, the question is about schools in Alameda County. But the frpm table's County Name might be the right one to use here. Let me confirm. The frpm table's County Name examples include Alameda, so that's the column to filter on.

So the plan is: select the eligible free rate (Free Meal Count / Enrollment) from the frpm table where County Name is Alameda. Then find the maximum value of that rate.

But I need to make sure that the division is done correctly. The Free Meal Count (K-12) is a REAL number, and Enrollment (K-12) is also REAL. So dividing them will give the percentage. Then, I need to select the maximum of that value.

So the SQL query would be: SELECT MAX((Free Meal Count (K-12) / Enrollment (K-12))) FROM frpm WHERE 'County Name' = 'Alameda';

Wait, but in SQLite, column names with spaces need to be quoted. So the column names should be in double quotes. Also, the County Name is a column in frpm, so the WHERE clause should be 'County Name' = 'Alameda'.

So the final query would use MAX on the calculated rate, filtering by the county. That should give the highest eligible free rate in Alameda County.

model 2 analysis:
 Okay, I need to find the highest eligible free rate for K-12 students in schools located in Alameda County. Let's start by understanding the tables and columns involved.

First, the 'schools' table has a column called 'County' which should be used to filter schools in Alameda County. The 'frpm' table contains the 'Free Meal Count (K-12)' and 'Enrollment (K-12)' columns needed to calculate the eligible free rate.

Since the 'frpm' table's CDSCode is linked to the 'schools' table's CDSCode via a foreign key, I'll need to join these two tables on CDSCode. The calculation for the eligible free rate is Free Meal Count divided by Enrollment.

I should select the maximum value of this calculated rate from the joined tables where the County is 'Alameda'. To ensure accuracy, I'll use the correct column names and perform the division as a decimal. Also, I need to handle possible NULL values, but since the question is about existing schools, maybe it's safe to assume these fields are not null.

So the steps are: join schools and frpm on CDSCode, filter where County is 'Alameda', calculate the rate, and find the maximum. The final query should return only the highest rate.

model 3 analysis:
 Okay, let's tackle this question. The user wants the highest eligible free rate for K-12 students in Alameda County.

First, I need to figure out which tables and columns are involved. The eligible free rate is calculated as Free Meal Count (K-12) divided by Enrollment (K-12). The frpm table has these two columns. Also, the County Name is in the frpm table, so I need to filter where County Name is 'Alameda'.

Wait, the schools table also has a County column. But the question mentions Alameda County, so maybe the frpm's County Name is the right one to use here. Let me check the schema again. The frpm table has County Name, which has examples like Alameda. So I should use frpm.County Name = 'Alameda'.

Next, I need to compute the eligible free rate for each school in Alameda County using the Free Meal Count (K-12) and Enrollment (K-12) from the frpm table. Then find the maximum value of that rate.

So the SQL query should select the maximum of (Free Meal Count (K-12) / Enrollment (K-12)) from frpm where County Name is 'Alameda'.

Wait, but I need to make sure that Enrollment (K-12) isn't zero to avoid division by zero. However, the examples given have enrollment numbers like 1087.0, so maybe it's safe to assume they're non-zero. But since the question doesn't mention handling that, I'll proceed without adding a check.

Putting it all together: SELECT MAX(Free Meal Count (K-12) / Enrollment (K-12)) FROM frpm WHERE County Name = 'Alameda';

I should check if the column names are correctly quoted. The schema lists the columns with spaces, so in SQLite, I need to use double quotes around them. Also, the county name might be stored as 'Alameda' exactly, so the WHERE clause should match that.

Wait, the County Name in frpm has examples like 'Alameda', so the condition is correct. The final query would be selecting the max of the ratio where the county is Alameda.


here is avaliable tables and their structure below
【DB_ID】 california_schools
【Schema】
# Table: frpm
[
(CDSCode:TEXT, maps to schools.CDSCode, Primary Key, Examples: [01100170109835, 01100170112607, 01100170118489]),
(Academic Year:TEXT, Examples: [2014-2015]),
(County Code:TEXT, Examples: [01, 02, 03]),
(District Code:INTEGER, Examples: [10017, 31609, 31617]),
(School Code:TEXT, Examples: [0109835, 0112607, 0118489]),
(County Name:TEXT, Examples: [Alameda, Alpine, Amador]),
(District Name:TEXT),
(School Name:TEXT, Examples: [FAME Public Charter]),
(District Type:TEXT, Examples: [County Office of Education (COE)]),
(School Type:TEXT, Examples: [K-12 Schools (Public)]),
(Educational Option Type:TEXT, Examples: [Traditional]),
(NSLP Provision Status:TEXT, Examples: [Breakfast Provision 2]),
(Charter School (Y/N):INTEGER, Examples: [1, 0]),
(Charter School Number:TEXT, Examples: [0728, 0811, 1049]),
(Charter Funding Type:TEXT, Examples: [Directly funded]),
(IRC:INTEGER, Examples: [1, 0]),
(Low Grade:TEXT, Examples: [K, 9, 1]),
(High Grade:TEXT, Examples: [12, 8, 5]),
(Enrollment (K-12):REAL, Examples: [1087.0, 395.0, 244.0]),
(Free Meal Count (K-12):REAL, Examples: [565.0, 186.0, 134.0]),
(Percent (%) Eligible Free (K-12):REAL, Examples: [0.519779208831647, 0.470886075949367, 0.549180327868853]),
(FRPM Count (K-12):REAL, Examples: [715.0, 186.0, 175.0]),
(Percent (%) Eligible FRPM (K-12):REAL, Examples: [0.657773689052438, 0.470886075949367, 0.717213114754098]),
(Enrollment (Ages 5-17):REAL, Examples: [1070.0, 376.0, 230.0]),
(Free Meal Count (Ages 5-17):REAL, Examples: [553.0, 182.0, 128.0]),
(Percent (%) Eligible Free (Ages 5-17):REAL, Examples: [0.516822429906542, 0.484042553191489, 0.556521739130435]),
(FRPM Count (Ages 5-17):REAL, Examples: [702.0, 182.0, 168.0]),
(Percent (%) Eligible FRPM (Ages 5-17):REAL, Examples: [0.65607476635514, 0.484042553191489, 0.730434782608696]),
(2013-14 CALPADS Fall 1 Certification Status:INTEGER, Examples: [1])
]
# Table: satscores
[
(cds:TEXT, maps to schools.CDSCode, Primary Key, Examples: [10101080000000, 10101080109991, 10101080111682]),
(rtype:TEXT, Examples: [D, S]),
(sname:TEXT, Examples: [FAME Public Charter]),
(dname:TEXT, Examples: [Alameda County Office of Education]),
(cname:TEXT, Examples: [Alameda, Amador, Butte]),
(enroll12:INTEGER, Examples: [398, 62, 75]),
(NumTstTakr:INTEGER, Examples: [88, 17, 71]),
(AvgScrRead:INTEGER, Examples: [418, 503, 397]),
(AvgScrMath:INTEGER, Examples: [418, 546, 387]),
(AvgScrWrite:INTEGER, Examples: [417, 505, 395]),
(NumGE1500:INTEGER, Examples: [14, 9, 5])
]
# Table: schools
[
(CDSCode:TEXT, Primary Key, Examples: [01100170000000, 01100170109835, 01100170112607]),
(NCESDist:TEXT, Examples: [0691051, 0600002, 0600003]),
(NCESSchool:TEXT, Examples: [10546, 10947, 12283]),
(StatusType:TEXT, Examples: [Active, Closed, Merged]),
(County:TEXT, Examples: [Alameda, Alpine, Amador]),
(District:TEXT),
(School:TEXT, Examples: [FAME Public Charter]),
(Street:TEXT, Examples: [313 West Winton Avenue]),
(StreetAbr:TEXT, Examples: [313 West Winton Ave.]),
(City:TEXT, Examples: [Hayward, Newark, Oakland]),
(Zip:TEXT, Examples: [94544-1136, 94560-5359, 94612-3355]),
(State:TEXT, Examples: [CA]),
(MailStreet:TEXT, Examples: [313 West Winton Avenue]),
(MailStrAbr:TEXT, Examples: [313 West Winton Ave.]),
(MailCity:TEXT, Examples: [Hayward, Newark, Oakland]),
(MailZip:TEXT, Examples: [94544-1136, 94560-5359, 94612]),
(MailState:TEXT, Examples: [CA]),
(Phone:TEXT, Examples: [(510) 887-0152, (510) 596-8901, (510) 686-4131]),
(Ext:TEXT, Examples: [130, 1240, 1200]),
(Website:TEXT, Examples: [www.acoe.org]),
(OpenDate:DATE, Examples: [2005-08-29]),
(ClosedDate:DATE, Examples: [2015-07-31]),
(Charter:INTEGER, Examples: [1, 0]),
(CharterNum:TEXT, Examples: [0728, 0811, 1049]),
(FundingType:TEXT, Examples: [Directly funded]),
(DOC:TEXT, Examples: [00, 31, 34]),
(DOCType:TEXT, Examples: [County Office of Education (COE)]),
(SOC:TEXT, Examples: [65, 66, 60]),
(SOCType:TEXT, Examples: [K-12 Schools (Public)]),
(EdOpsCode:TEXT, Examples: [TRAD, JUV, COMM]),
(EdOpsName:TEXT, Examples: [Traditional]),
(EILCode:TEXT, Examples: [ELEMHIGH, HS, ELEM]),
(EILName:TEXT, Examples: [Elementary-High Combination]),
(GSoffered:TEXT, Examples: [K-12, 9-12, K-8]),
(GSserved:TEXT, Examples: [K-12, 9-12, K-7]),
(Virtual:TEXT, Examples: [P, N, F]),
(Magnet:INTEGER, Examples: [0, 1]),
(Latitude:REAL, Examples: [37.658212, 37.521436, 37.80452]),
(Longitude:REAL, Examples: [-122.09713, -121.99391, -122.26815]),
(AdmFName1:TEXT, Examples: [L Karen, Laura, Clifford]),
(AdmLName1:TEXT, Examples: [Monroe, Robell, Thompson]),
(AdmEmail1:TEXT),
(AdmFName2:TEXT, Examples: [Sau-Lim (Lance), Jennifer, Annalisa]),
(AdmLName2:TEXT, Examples: [Tsang, Koelling, Moore]),
(AdmEmail2:TEXT),
(AdmFName3:TEXT, Examples: [Drew, Irma, Vickie]),
(AdmLName3:TEXT, Examples: [Sarratore, Munoz, Chang]),
(AdmEmail3:TEXT),
(LastUpdate:DATE, Examples: [2015-06-23])
]
【Foreign keys】
frpm.CDSCode=schools.CDSCode
satscores.cds=schools.CDSCode

-- Using valid SQLite and understanding External Knowledge, answer the following questions for the tables provided above.
-- What is the highest eligible free rate for K-12 students in the schools in Alameda County?
-- External Knowledge: Eligible free rate for K-12 = `Free Meal Count (K-12)` / `Enrollment (K-12)`


Generate the SQLite for the above question after thinking step by step:


Instructions:
- Make sure you only output the information that is asked in the question. If the question asks for a specific column, make sure to only include that column in the SELECT clause, nothing more.
- The generated query should return all of the information asked in the question without any missing or extra information.
- Before generating the final SQL query, please think through the steps of how to write the query.
- Do not misuse column names, keep them in quotes `
- Carefully understand what colomns belond to what tables
- Use only initial column names, change names prohibited

Output Format:
In your answer, please enclose the generated SQL query in a code block:
```
-- Your SQL query
```
and nothing else, no exaplains, no comments (asnwer should be less than 512 characters)

Take a deep breath and think step by step to find the correct SQL query in SQLite format.

Question repetition: What is the highest eligible free rate for K-12 students in the schools in Alameda County?

Be care! Include only what i want it questiona and nothing else<|im_end|>
<|im_start|>assistant
<think>

</think>




Максимальное количество токенов в промптах: 25462

начинаем скорринг
Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:40<00:00,  6.95it/s, est. speed input: 39043.21 toks/s, output: 321.70 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.21
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.59%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:42<00:00,  6.90it/s, est. speed input: 38817.00 toks/s, output: 319.24 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.80
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.31%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:44<00:00,  6.84it/s, est. speed input: 38535.13 toks/s, output: 316.81 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.28
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.98%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:42<00:00,  6.89it/s, est. speed input: 38911.35 toks/s, output: 317.10 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 62.45
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.92%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:42<00:00,  6.89it/s, est. speed input: 38988.96 toks/s, output: 316.17 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.73
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.37%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:42<00:00,  6.91it/s, est. speed input: 39102.43 toks/s, output: 318.64 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.80
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.85%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:41<00:00,  6.93it/s, est. speed input: 39459.00 toks/s, output: 315.03 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.95
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.85%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:43<00:00,  6.86it/s, est. speed input: 39180.63 toks/s, output: 314.61 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.15
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.70%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:40<00:00,  6.96it/s, est. speed input: 39725.05 toks/s, output: 314.85 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.95
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.18%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:42<00:00,  6.88it/s, est. speed input: 39452.68 toks/s, output: 316.01 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.02
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.37%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:39<00:00,  6.99it/s, est. speed input: 39677.06 toks/s, output: 320.56 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.89
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.24%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:41<00:00,  6.92it/s, est. speed input: 39463.63 toks/s, output: 318.82 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.02
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.92%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:41<00:00,  6.93it/s, est. speed input: 39475.79 toks/s, output: 317.53 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 59.78
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.98%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:40<00:00,  6.95it/s, est. speed input: 39361.56 toks/s, output: 317.62 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.04
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.92%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:43<00:00,  6.87it/s, est. speed input: 39093.33 toks/s, output: 312.33 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.76
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.11%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:40<00:00,  6.97it/s, est. speed input: 39402.42 toks/s, output: 317.62 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.30
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.18%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:41<00:00,  6.94it/s, est. speed input: 39050.10 toks/s, output: 316.01 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.89
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.63%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:39<00:00,  6.98it/s, est. speed input: 39274.25 toks/s, output: 320.31 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.76
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.05%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:40<00:00,  6.97it/s, est. speed input: 39118.71 toks/s, output: 318.08 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.54
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.78%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [03:40<00:00,  6.96it/s, est. speed input: 38900.16 toks/s, output: 319.89 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.89
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.11%
====================================================================================================

In [9]:
n= 20
arr_seeds = 
[random.randint(0,1000) for _ in range(n)]
arr_versions = [x for x in range(n)]
model = "Qwen3-8B"
num_observations = 5
type_cot = 'think'
print(arr_seeds)
print(f"model: {model}")

[407, 110, 621, 729, 224, 362, 986, 625, 881, 859, 315, 791, 664, 432, 506, 713, 5, 452, 997, 774]
model: Qwen3-8B

In [10]:
run_cot_experiment(model,arr_seeds,arr_versions, type_cot,num_observations=num_observations)

Загружаем модель...

Loading safetensors checkpoint shards:   0% Completed | 0/4 [00:00<?, ?it/s]
Loading safetensors checkpoint shards:  25% Completed | 1/4 [00:00<00:00,  7.12it/s]
Loading safetensors checkpoint shards:  50% Completed | 2/4 [00:00<00:00,  2.38it/s]
Loading safetensors checkpoint shards:  75% Completed | 3/4 [00:01<00:00,  1.77it/s]
Loading safetensors checkpoint shards: 100% Completed | 4/4 [00:02<00:00,  1.59it/s]
Loading safetensors checkpoint shards: 100% Completed | 4/4 [00:02<00:00,  1.80it/s]
(VllmWorker rank=0 pid=2128007)

Модель успешно загружена
model_config {'model': '/data/home/vkropoti/models/Qwen3-8B', 'tensor_parallel_size': 2, 'max_model_len': 40000, 'max_new_tokens': 1500, 'temperature': 0, 'top_k': 1, 'top_p': 0.8, 'gpu_memory_utilization': 0.9, 'trust_remote_code': False, 'seed': 407}

prompts_config {'path_dev_json': '/home/vkropoti/vllm/dev.json', 'path_sql_dbs': '/data/home/vkropoti/sql_data/dev_databases/', 'use_reasoning': False, 'paths_to_cot': ['/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_think_Qwen3-8B-reasoning-v0', '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_think_Qwen3-8B-reasoning-v1', '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_think_Qwen3-8B-reasoning-v2', '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_think_Qwen3-8B-reasoning-v3', '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_think_Qwen3-8B-reasoning-v4']}

save_config {'path_sql_save': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_all_Qwen3-8B-cot_think_think==False_nobs5-v0', 'path_think_save': None, 'path_sql_answers_save': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_predict_Qwen3-8B-cot_think_think==False_nobs5-v0', 'path_to_save_scores': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_results_Qwen3-8B-cot_think_think==False_nobs5-v0', 'path_to_save_executed': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_executed_Qwen3-8B-cot_think_think==False_nobs5-v0'}

Модель успешно загружена
Пример промпта
<|im_start|>system

You are a data science expert. Below, you are provided with a database schema and a natural language question. Your task is to understand the schema and generate a valid SQL query to answer the question.

Database Engine: SQLite

You will be given an additional analysis of other models, please take it into account, so the plan is
1. Analyse given addition analysis from other models (find in which analysis the same and differ, how to use that to answer question)
2. Combine best from previous part and think how to solve the problem (analyze tables, take care what columns avaliable in each table and so on, check the syntacsis)
3. Create the answers. The answer should be only sql query.

Carefully follow the instruction and add <|im_end|> and the end of the final answer<|im_end|>
<|im_start|>user
Here is addition analysis from other models which can be helpfull, please take this into account but be careful (choose the best from each analysis, combine them to make the most proper answer):

model 0 analysis:
 Okay, I need to find the highest eligible free rate for K-12 students in schools located in Alameda County. Let me start by understanding the tables and columns involved.

First, the question mentions "eligible free rate for K-12," which is calculated as Free Meal Count (K-12) divided by Enrollment (K-12). The tables involved are likely the frpm table since it has those columns. But I also need to filter schools in Alameda County. The schools table has a County column, so I'll need to join frpm with schools on CDSCode to get the county information.

Wait, the frpm table has a County Name column, but the schools table also has a County column. Which one should I use? The question specifies "Alameda County," so I should check both tables. However, the schools table's County column is more directly related to the school's location. But the frpm table's County Name might be more accurate for the data. Hmm. Wait, the foreign key is between frpm.CDSCode and schools.CDSCode, so joining on that would allow me to get the County from schools. Let me confirm: the schools table has a County column, so joining frpm with schools on CDSCode would allow me to filter by County in the schools table.

So the plan is: join frpm and schools on CDSCode, filter where schools.County = 'Alameda', calculate the eligible free rate as (Free Meal Count (K-12) / Enrollment (K-12)), then find the maximum value of that rate.

Wait, but the frpm table has Free Meal Count (K-12) and Enrollment (K-12) as columns. So I can calculate the rate as Free Meal Count / Enrollment. But I need to make sure that Enrollment is not zero to avoid division by zero. However, the problem might not require handling that, assuming the data is clean.

So the SQL query steps:

1. Join frpm and schools on CDSCode.
2. Filter where schools.County = 'Alameda'.
3. Calculate the rate as (Free Meal Count (K-12) / Enrollment (K-12)).
4. Find the maximum value of this rate.

Now, writing the SQL query. The SELECT clause should include the calculated rate. But since the question asks for the highest rate, I can use MAX() on the calculated value.

Wait, but the question is asking for the highest rate, so the query would select the maximum of (Free Meal Count / Enrollment). However, since the calculation is per row, using MAX() on that expression would give the highest value.

So the query would be:

SELECT MAX(Free Meal Count (K-12) / Enrollment (K-12)) AS highest_rate
FROM frpm
JOIN schools ON frpm.CDSCode = schools.CDSCode
WHERE schools.County = 'Alameda';

But wait, I need to make sure that the column names are correctly quoted. In SQLite, if the column names have spaces, they need to be enclosed in quotes. So the columns "Free Meal Count (K-12)" and "Enrollment (K-12)" should be in quotes.

So the correct query would have those columns quoted. Also, the County column in schools is 'County', so the WHERE clause is schools.County = 'Alameda'.

Putting it all together:

SELECT MAX(`Free Meal Count (K-12)` / `Enrollment (K-12)`) AS highest_rate
FROM frpm
JOIN schools ON frpm.CDSCode = schools.CDSCode
WHERE schools.County = 'Alameda';

But the question says to include only the information asked, which is the highest rate. So the SELECT clause should just return that max value. The AS highest_rate is optional, but the query needs to return the value. However, the problem says to include only what's asked, so the output should be the maximum value, which is the highest eligible free rate. The query as written would return that value.

model 1 analysis:
 Okay, let's see. The user is asking for the highest eligible free rate for K-12 students in schools located in Alameda County.

First, I need to figure out which tables and columns are relevant. The eligible free rate is calculated as Free Meal Count (K-12) divided by Enrollment (K-12). So, the frpm table has these two columns. But I also need to filter schools in Alameda County.

Looking at the tables, the frpm table has a County Name column. Wait, the County Name in frpm is called 'County Name' with examples like Alameda. So, I should check where 'County Name' equals 'Alameda' in the frpm table.

But wait, the schools table also has a County column. However, the question is about schools in Alameda County. But the frpm table's County Name might be the right one to use here. Let me confirm. The frpm table's County Name examples include Alameda, so that's the column to filter on.

So the plan is: select the eligible free rate (Free Meal Count / Enrollment) from the frpm table where County Name is Alameda. Then find the maximum value of that rate.

But I need to make sure that the division is done correctly. The Free Meal Count (K-12) is a REAL number, and Enrollment (K-12) is also REAL. So dividing them will give the percentage. Then, I need to select the maximum of that value.

So the SQL query would be: SELECT MAX((Free Meal Count (K-12) / Enrollment (K-12))) FROM frpm WHERE 'County Name' = 'Alameda';

Wait, but in SQLite, column names with spaces need to be quoted. So the column names should be in double quotes. Also, the County Name is a column in frpm, so the WHERE clause should be 'County Name' = 'Alameda'.

So the final query would use MAX on the calculated rate, filtering by the county. That should give the highest eligible free rate in Alameda County.

model 2 analysis:
 Okay, I need to find the highest eligible free rate for K-12 students in schools located in Alameda County. Let's start by understanding the tables and columns involved.

First, the 'schools' table has a column called 'County' which should be used to filter schools in Alameda County. The 'frpm' table contains the 'Free Meal Count (K-12)' and 'Enrollment (K-12)' columns needed to calculate the eligible free rate.

Since the 'frpm' table's CDSCode is linked to the 'schools' table's CDSCode via a foreign key, I'll need to join these two tables on CDSCode. The calculation for the eligible free rate is Free Meal Count divided by Enrollment.

I should select the maximum value of this calculated rate from the joined tables where the County is 'Alameda'. To ensure accuracy, I'll use the correct column names and perform the division as a decimal. Also, I need to handle possible NULL values, but since the question is about existing schools, maybe it's safe to assume these fields are not null.

So the steps are: join schools and frpm on CDSCode, filter where County is 'Alameda', calculate the rate, and find the maximum. The final query should return only the highest rate.

model 3 analysis:
 Okay, let's tackle this question. The user wants the highest eligible free rate for K-12 students in Alameda County.

First, I need to figure out which tables and columns are involved. The eligible free rate is calculated as Free Meal Count (K-12) divided by Enrollment (K-12). The frpm table has these two columns. Also, the County Name is in the frpm table, so I need to filter where County Name is 'Alameda'.

Wait, the schools table also has a County column. But the question mentions Alameda County, so maybe the frpm's County Name is the right one to use here. Let me check the schema again. The frpm table has County Name, which has examples like Alameda. So I should use frpm.County Name = 'Alameda'.

Next, I need to compute the eligible free rate for each school in Alameda County using the Free Meal Count (K-12) and Enrollment (K-12) from the frpm table. Then find the maximum value of that rate.

So the SQL query should select the maximum of (Free Meal Count (K-12) / Enrollment (K-12)) from frpm where County Name is 'Alameda'.

Wait, but I need to make sure that Enrollment (K-12) isn't zero to avoid division by zero. However, the examples given have enrollment numbers like 1087.0, so maybe it's safe to assume they're non-zero. But since the question doesn't mention handling that, I'll proceed without adding a check.

Putting it all together: SELECT MAX(Free Meal Count (K-12) / Enrollment (K-12)) FROM frpm WHERE County Name = 'Alameda';

I should check if the column names are correctly quoted. The schema lists the columns with spaces, so in SQLite, I need to use double quotes around them. Also, the county name might be stored as 'Alameda' exactly, so the WHERE clause should match that.

Wait, the County Name in frpm has examples like 'Alameda', so the condition is correct. The final query would be selecting the max of the ratio where the county is Alameda.

model 4 analysis:
 Okay, let's see. The user wants the highest eligible free rate for K-12 students in schools located in Alameda County.

First, I need to figure out which tables to use. The frpm table has the Free Meal Count (K-12) and Enrollment (K-12) columns, which are needed to calculate the eligible free rate. The schools table has the County column, so I can filter by Alameda County there.

Wait, the County column in schools is called 'County', right? So I need to join the frpm and schools tables on CDSCode. The frpm table's CDSCode matches the schools' CDSCode.

So the plan is: join frpm and schools on CDSCode, filter where schools.County = 'Alameda', then calculate the eligible free rate as (Free Meal Count (K-12) / Enrollment (K-12)) for each school. Then find the maximum of that value.

But the user wants the highest rate, so I should use MAX() on the calculated value. However, I need to make sure that division is done correctly. Since these are REAL numbers, SQLite will handle the division.

Wait, but the question says to use the External Knowledge formula: Eligible free rate = Free Meal Count / Enrollment. So I need to compute that ratio for each school in Alameda County and then find the maximum.

So the SQL query would select MAX( (Free Meal Count (K-12) / Enrollment (K-12)) ) from the joined tables where County is Alameda.

But I should check if there are any schools in Alameda County. Also, need to make sure that Enrollment (K-12) isn't zero to avoid division by zero. But maybe the data doesn't have zeros, or the problem assumes it's handled.

So the query would be:

SELECT MAX( (Free Meal Count (K-12) / Enrollment (K-12)) ) AS HighestRate
FROM frpm
JOIN schools ON frpm.CDSCode = schools.CDSCode
WHERE schools.County = 'Alameda';

Wait, but the user might want the actual school's data, like the school name, but the question just asks for the highest rate. So just the maximum value is sufficient.

Yes, the question is asking for the highest rate, not which school has it. So the MAX() function is correct here.

I should also check the column names. In frpm, the columns are 'Free Meal Count (K-12)' and 'Enrollment (K-12)'. The schools table has 'County'.

So the final SQL should join those tables, filter by County, compute the ratio, and take the maximum. That should give the answer.


here is avaliable tables and their structure below
【DB_ID】 california_schools
【Schema】
# Table: frpm
[
(CDSCode:TEXT, maps to schools.CDSCode, Primary Key, Examples: [01100170109835, 01100170112607, 01100170118489]),
(Academic Year:TEXT, Examples: [2014-2015]),
(County Code:TEXT, Examples: [01, 02, 03]),
(District Code:INTEGER, Examples: [10017, 31609, 31617]),
(School Code:TEXT, Examples: [0109835, 0112607, 0118489]),
(County Name:TEXT, Examples: [Alameda, Alpine, Amador]),
(District Name:TEXT),
(School Name:TEXT, Examples: [FAME Public Charter]),
(District Type:TEXT, Examples: [County Office of Education (COE)]),
(School Type:TEXT, Examples: [K-12 Schools (Public)]),
(Educational Option Type:TEXT, Examples: [Traditional]),
(NSLP Provision Status:TEXT, Examples: [Breakfast Provision 2]),
(Charter School (Y/N):INTEGER, Examples: [1, 0]),
(Charter School Number:TEXT, Examples: [0728, 0811, 1049]),
(Charter Funding Type:TEXT, Examples: [Directly funded]),
(IRC:INTEGER, Examples: [1, 0]),
(Low Grade:TEXT, Examples: [K, 9, 1]),
(High Grade:TEXT, Examples: [12, 8, 5]),
(Enrollment (K-12):REAL, Examples: [1087.0, 395.0, 244.0]),
(Free Meal Count (K-12):REAL, Examples: [565.0, 186.0, 134.0]),
(Percent (%) Eligible Free (K-12):REAL, Examples: [0.519779208831647, 0.470886075949367, 0.549180327868853]),
(FRPM Count (K-12):REAL, Examples: [715.0, 186.0, 175.0]),
(Percent (%) Eligible FRPM (K-12):REAL, Examples: [0.657773689052438, 0.470886075949367, 0.717213114754098]),
(Enrollment (Ages 5-17):REAL, Examples: [1070.0, 376.0, 230.0]),
(Free Meal Count (Ages 5-17):REAL, Examples: [553.0, 182.0, 128.0]),
(Percent (%) Eligible Free (Ages 5-17):REAL, Examples: [0.516822429906542, 0.484042553191489, 0.556521739130435]),
(FRPM Count (Ages 5-17):REAL, Examples: [702.0, 182.0, 168.0]),
(Percent (%) Eligible FRPM (Ages 5-17):REAL, Examples: [0.65607476635514, 0.484042553191489, 0.730434782608696]),
(2013-14 CALPADS Fall 1 Certification Status:INTEGER, Examples: [1])
]
# Table: satscores
[
(cds:TEXT, maps to schools.CDSCode, Primary Key, Examples: [10101080000000, 10101080109991, 10101080111682]),
(rtype:TEXT, Examples: [D, S]),
(sname:TEXT, Examples: [FAME Public Charter]),
(dname:TEXT, Examples: [Alameda County Office of Education]),
(cname:TEXT, Examples: [Alameda, Amador, Butte]),
(enroll12:INTEGER, Examples: [398, 62, 75]),
(NumTstTakr:INTEGER, Examples: [88, 17, 71]),
(AvgScrRead:INTEGER, Examples: [418, 503, 397]),
(AvgScrMath:INTEGER, Examples: [418, 546, 387]),
(AvgScrWrite:INTEGER, Examples: [417, 505, 395]),
(NumGE1500:INTEGER, Examples: [14, 9, 5])
]
# Table: schools
[
(CDSCode:TEXT, Primary Key, Examples: [01100170000000, 01100170109835, 01100170112607]),
(NCESDist:TEXT, Examples: [0691051, 0600002, 0600003]),
(NCESSchool:TEXT, Examples: [10546, 10947, 12283]),
(StatusType:TEXT, Examples: [Active, Closed, Merged]),
(County:TEXT, Examples: [Alameda, Alpine, Amador]),
(District:TEXT),
(School:TEXT, Examples: [FAME Public Charter]),
(Street:TEXT, Examples: [313 West Winton Avenue]),
(StreetAbr:TEXT, Examples: [313 West Winton Ave.]),
(City:TEXT, Examples: [Hayward, Newark, Oakland]),
(Zip:TEXT, Examples: [94544-1136, 94560-5359, 94612-3355]),
(State:TEXT, Examples: [CA]),
(MailStreet:TEXT, Examples: [313 West Winton Avenue]),
(MailStrAbr:TEXT, Examples: [313 West Winton Ave.]),
(MailCity:TEXT, Examples: [Hayward, Newark, Oakland]),
(MailZip:TEXT, Examples: [94544-1136, 94560-5359, 94612]),
(MailState:TEXT, Examples: [CA]),
(Phone:TEXT, Examples: [(510) 887-0152, (510) 596-8901, (510) 686-4131]),
(Ext:TEXT, Examples: [130, 1240, 1200]),
(Website:TEXT, Examples: [www.acoe.org]),
(OpenDate:DATE, Examples: [2005-08-29]),
(ClosedDate:DATE, Examples: [2015-07-31]),
(Charter:INTEGER, Examples: [1, 0]),
(CharterNum:TEXT, Examples: [0728, 0811, 1049]),
(FundingType:TEXT, Examples: [Directly funded]),
(DOC:TEXT, Examples: [00, 31, 34]),
(DOCType:TEXT, Examples: [County Office of Education (COE)]),
(SOC:TEXT, Examples: [65, 66, 60]),
(SOCType:TEXT, Examples: [K-12 Schools (Public)]),
(EdOpsCode:TEXT, Examples: [TRAD, JUV, COMM]),
(EdOpsName:TEXT, Examples: [Traditional]),
(EILCode:TEXT, Examples: [ELEMHIGH, HS, ELEM]),
(EILName:TEXT, Examples: [Elementary-High Combination]),
(GSoffered:TEXT, Examples: [K-12, 9-12, K-8]),
(GSserved:TEXT, Examples: [K-12, 9-12, K-7]),
(Virtual:TEXT, Examples: [P, N, F]),
(Magnet:INTEGER, Examples: [0, 1]),
(Latitude:REAL, Examples: [37.658212, 37.521436, 37.80452]),
(Longitude:REAL, Examples: [-122.09713, -121.99391, -122.26815]),
(AdmFName1:TEXT, Examples: [L Karen, Laura, Clifford]),
(AdmLName1:TEXT, Examples: [Monroe, Robell, Thompson]),
(AdmEmail1:TEXT),
(AdmFName2:TEXT, Examples: [Sau-Lim (Lance), Jennifer, Annalisa]),
(AdmLName2:TEXT, Examples: [Tsang, Koelling, Moore]),
(AdmEmail2:TEXT),
(AdmFName3:TEXT, Examples: [Drew, Irma, Vickie]),
(AdmLName3:TEXT, Examples: [Sarratore, Munoz, Chang]),
(AdmEmail3:TEXT),
(LastUpdate:DATE, Examples: [2015-06-23])
]
【Foreign keys】
frpm.CDSCode=schools.CDSCode
satscores.cds=schools.CDSCode

-- Using valid SQLite and understanding External Knowledge, answer the following questions for the tables provided above.
-- What is the highest eligible free rate for K-12 students in the schools in Alameda County?
-- External Knowledge: Eligible free rate for K-12 = `Free Meal Count (K-12)` / `Enrollment (K-12)`


Generate the SQLite for the above question after thinking step by step:


Instructions:
- Make sure you only output the information that is asked in the question. If the question asks for a specific column, make sure to only include that column in the SELECT clause, nothing more.
- The generated query should return all of the information asked in the question without any missing or extra information.
- Before generating the final SQL query, please think through the steps of how to write the query.
- Do not misuse column names, keep them in quotes `
- Carefully understand what colomns belond to what tables
- Use only initial column names, change names prohibited

Output Format:
In your answer, please enclose the generated SQL query in a code block:
```
-- Your SQL query
```
and nothing else, no exaplains, no comments (asnwer should be less than 512 characters)

Take a deep breath and think step by step to find the correct SQL query in SQLite format.

Question repetition: What is the highest eligible free rate for K-12 students in the schools in Alameda County?

Be care! Include only what i want it questiona and nothing else<|im_end|>
<|im_start|>assistant
<think>

</think>




Максимальное количество токенов в промптах: 28642

начинаем скорринг
Загружаем чаты с данными...

Processed prompts: 100%|██████████| 1534/1534 [04:18<00:00,  5.94it/s, est. speed input: 38247.84 toks/s, output: 273.86 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.80
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.05%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [04:21<00:00,  5.87it/s, est. speed input: 37889.89 toks/s, output: 272.66 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.60
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.05%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [04:19<00:00,  5.91it/s, est. speed input: 38079.11 toks/s, output: 273.30 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 62.26
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.31%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [04:19<00:00,  5.92it/s, est. speed input: 38270.04 toks/s, output: 274.07 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 62.19
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.44%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [04:23<00:00,  5.82it/s, est. speed input: 37737.11 toks/s, output: 271.80 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.67
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.11%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [04:18<00:00,  5.93it/s, est. speed input: 38676.03 toks/s, output: 269.93 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.47
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.11%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [04:19<00:00,  5.91it/s, est. speed input: 38522.04 toks/s, output: 269.11 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.80
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.24%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [04:19<00:00,  5.92it/s, est. speed input: 38670.65 toks/s, output: 271.15 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.95
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.44%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [04:20<00:00,  5.88it/s, est. speed input: 38595.84 toks/s, output: 269.06 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.95
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.50%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [04:19<00:00,  5.91it/s, est. speed input: 38652.15 toks/s, output: 272.00 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.82
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.44%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [04:20<00:00,  5.89it/s, est. speed input: 38472.76 toks/s, output: 270.69 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.95
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.76%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [04:19<00:00,  5.92it/s, est. speed input: 38542.01 toks/s, output: 272.27 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.82
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.05%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [04:19<00:00,  5.90it/s, est. speed input: 38450.71 toks/s, output: 270.52 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 59.84
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.98%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [04:16<00:00,  5.98it/s, est. speed input: 38843.66 toks/s, output: 272.24 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.63
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.44%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [04:16<00:00,  5.97it/s, est. speed input: 38875.99 toks/s, output: 272.46 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.76
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.11%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [04:15<00:00,  6.01it/s, est. speed input: 38692.58 toks/s, output: 274.76 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.76
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.44%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [04:14<00:00,  6.02it/s, est. speed input: 38785.09 toks/s, output: 272.78 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.69
Qwen3-8B процент запросов, которые успешно выполнились DEV: 95.11%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [04:14<00:00,  6.04it/s, est. speed input: 38908.05 toks/s, output: 275.46 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.63
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.98%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

ValueError: The decoder prompt (length 41244) is longer than the maximum model length of 40960. Make sure that `max_model_len` is no smaller than the number of text tokens.

In [3]:
n= 20
arr_seeds = [407, 110, 621, 729, 224, 362, 986, 625, 881, 859, 315, 791, 664, 432, 506, 713, 5, 452, 997, 774][-3:]
# [random.randint(0,1000) for _ in range(n)]
arr_versions = [x for x in range(17,n)]
model = "Qwen3-8B"
num_observations = 5
type_cot = 'think'
print(arr_seeds)
print(f"model: {model}")

[452, 997, 774]
model: Qwen3-8B

In [4]:
run_cot_experiment(model,arr_seeds,arr_versions, type_cot,num_observations=num_observations)

Загружаем модель...

Loading safetensors checkpoint shards:   0% Completed | 0/4 [00:00<?, ?it/s]
Loading safetensors checkpoint shards:  25% Completed | 1/4 [00:00<00:00,  7.24it/s]
Loading safetensors checkpoint shards:  50% Completed | 2/4 [00:00<00:00,  2.45it/s]
Loading safetensors checkpoint shards:  75% Completed | 3/4 [00:01<00:00,  1.79it/s]
Loading safetensors checkpoint shards: 100% Completed | 4/4 [00:02<00:00,  1.61it/s]
Loading safetensors checkpoint shards: 100% Completed | 4/4 [00:02<00:00,  1.83it/s]
(VllmWorker rank=0 pid=2176972)

Модель успешно загружена
model_config {'model': '/data/home/vkropoti/models/Qwen3-8B', 'tensor_parallel_size': 2, 'max_model_len': 40000, 'max_new_tokens': 1500, 'temperature': 0, 'top_k': 1, 'top_p': 0.8, 'gpu_memory_utilization': 0.9, 'trust_remote_code': False, 'seed': 452}

prompts_config {'path_dev_json': '/home/vkropoti/vllm/dev.json', 'path_sql_dbs': '/data/home/vkropoti/sql_data/dev_databases/', 'use_reasoning': False, 'paths_to_cot': ['/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_think_Qwen3-8B-reasoning-v2', '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_think_Qwen3-8B-reasoning-v0', '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_think_Qwen3-8B-reasoning-v1', '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_think_Qwen3-8B-reasoning-v2', '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_think_Qwen3-8B-reasoning-v0']}

save_config {'path_sql_save': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_all_Qwen3-8B-cot_think_think==False_nobs5-v17', 'path_think_save': None, 'path_sql_answers_save': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_predict_Qwen3-8B-cot_think_think==False_nobs5-v17', 'path_to_save_scores': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_results_Qwen3-8B-cot_think_think==False_nobs5-v17', 'path_to_save_executed': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_executed_Qwen3-8B-cot_think_think==False_nobs5-v17'}

Модель успешно загружена
Пример промпта
<|im_start|>system

You are a data science expert. Below, you are provided with a database schema and a natural language question. Your task is to understand the schema and generate a valid SQL query to answer the question.

Database Engine: SQLite

You will be given an additional analysis of other models, please take it into account, so the plan is
1. Analyse given addition analysis from other models (find in which analysis the same and differ, how to use that to answer question)
2. Combine best from previous part and think how to solve the problem (analyze tables, take care what columns avaliable in each table and so on, check the syntacsis)
3. Create the answers. The answer should be only sql query.

Carefully follow the instruction and add <|im_end|> and the end of the final answer<|im_end|>
<|im_start|>user
Here is addition analysis from other models which can be helpfull, please take this into account but be careful (choose the best from each analysis, combine them to make the most proper answer):

model 0 analysis:
 Okay, I need to find the highest eligible free rate for K-12 students in schools located in Alameda County. Let's start by understanding the tables and columns involved.

First, the 'schools' table has a column called 'County' which should be used to filter schools in Alameda County. The 'frpm' table contains the 'Free Meal Count (K-12)' and 'Enrollment (K-12)' columns needed to calculate the eligible free rate.

Since the 'frpm' table's CDSCode is linked to the 'schools' table's CDSCode via a foreign key, I'll need to join these two tables on CDSCode. The calculation for the eligible free rate is Free Meal Count divided by Enrollment.

I should select the maximum value of this calculated rate from the joined tables where the County is 'Alameda'. To ensure accuracy, I'll use the correct column names and perform the division as a decimal. Also, I need to handle possible NULL values, but since the question is about existing schools, maybe it's safe to assume these fields are not null.

So the steps are: join schools and frpm on CDSCode, filter where County is 'Alameda', calculate the rate, and find the maximum. The final query should return only the highest rate.

model 1 analysis:
 Okay, I need to find the highest eligible free rate for K-12 students in schools located in Alameda County. Let me start by understanding the tables and columns involved.

First, the question mentions "eligible free rate for K-12," which is calculated as Free Meal Count (K-12) divided by Enrollment (K-12). The tables involved are likely the frpm table since it has those columns. But I also need to filter schools in Alameda County. The schools table has a County column, so I'll need to join frpm with schools on CDSCode to get the county information.

Wait, the frpm table has a County Name column, but the schools table also has a County column. Which one should I use? The question specifies "Alameda County," so I should check both tables. However, the schools table's County column is more directly related to the school's location. But the frpm table's County Name might be more accurate for the data. Hmm. Wait, the foreign key is between frpm.CDSCode and schools.CDSCode, so joining on that would allow me to get the County from schools. Let me confirm: the schools table has a County column, so joining frpm with schools on CDSCode would allow me to filter by County in the schools table.

So the plan is: join frpm and schools on CDSCode, filter where schools.County = 'Alameda', calculate the eligible free rate as (Free Meal Count (K-12) / Enrollment (K-12)), then find the maximum value of that rate.

Wait, but the frpm table has Free Meal Count (K-12) and Enrollment (K-12) as columns. So I can calculate the rate as Free Meal Count / Enrollment. But I need to make sure that Enrollment is not zero to avoid division by zero. However, the problem might not require handling that, assuming the data is clean.

So the SQL query steps:

1. Join frpm and schools on CDSCode.
2. Filter where schools.County = 'Alameda'.
3. Calculate the rate as (Free Meal Count (K-12) / Enrollment (K-12)).
4. Find the maximum value of this rate.

Now, writing the SQL query. The SELECT clause should include the calculated rate. But since the question asks for the highest rate, I can use MAX() on the calculated value.

Wait, but the question is asking for the highest rate, so the query would select the maximum of (Free Meal Count / Enrollment). However, since the calculation is per row, using MAX() on that expression would give the highest value.

So the query would be:

SELECT MAX(Free Meal Count (K-12) / Enrollment (K-12)) AS highest_rate
FROM frpm
JOIN schools ON frpm.CDSCode = schools.CDSCode
WHERE schools.County = 'Alameda';

But wait, I need to make sure that the column names are correctly quoted. In SQLite, if the column names have spaces, they need to be enclosed in quotes. So the columns "Free Meal Count (K-12)" and "Enrollment (K-12)" should be in quotes.

So the correct query would have those columns quoted. Also, the County column in schools is 'County', so the WHERE clause is schools.County = 'Alameda'.

Putting it all together:

SELECT MAX(`Free Meal Count (K-12)` / `Enrollment (K-12)`) AS highest_rate
FROM frpm
JOIN schools ON frpm.CDSCode = schools.CDSCode
WHERE schools.County = 'Alameda';

But the question says to include only the information asked, which is the highest rate. So the SELECT clause should just return that max value. The AS highest_rate is optional, but the query needs to return the value. However, the problem says to include only what's asked, so the output should be the maximum value, which is the highest eligible free rate. The query as written would return that value.

model 2 analysis:
 Okay, let's see. The user is asking for the highest eligible free rate for K-12 students in schools located in Alameda County.

First, I need to figure out which tables and columns are relevant. The eligible free rate is calculated as Free Meal Count (K-12) divided by Enrollment (K-12). So, the frpm table has these two columns. But I also need to filter schools in Alameda County.

Looking at the tables, the frpm table has a County Name column. Wait, the County Name in frpm is called 'County Name' with examples like Alameda. So, I should check where 'County Name' equals 'Alameda' in the frpm table.

But wait, the schools table also has a County column. However, the question is about schools in Alameda County. But the frpm table's County Name might be the right one to use here. Let me confirm. The frpm table's County Name examples include Alameda, so that's the column to filter on.

So the plan is: select the eligible free rate (Free Meal Count / Enrollment) from the frpm table where County Name is Alameda. Then find the maximum value of that rate.

But I need to make sure that the division is done correctly. The Free Meal Count (K-12) is a REAL number, and Enrollment (K-12) is also REAL. So dividing them will give the percentage. Then, I need to select the maximum of that value.

So the SQL query would be: SELECT MAX((Free Meal Count (K-12) / Enrollment (K-12))) FROM frpm WHERE 'County Name' = 'Alameda';

Wait, but in SQLite, column names with spaces need to be quoted. So the column names should be in double quotes. Also, the County Name is a column in frpm, so the WHERE clause should be 'County Name' = 'Alameda'.

So the final query would use MAX on the calculated rate, filtering by the county. That should give the highest eligible free rate in Alameda County.

model 3 analysis:
 Okay, I need to find the highest eligible free rate for K-12 students in schools located in Alameda County. Let's start by understanding the tables and columns involved.

First, the 'schools' table has a column called 'County' which should be used to filter schools in Alameda County. The 'frpm' table contains the 'Free Meal Count (K-12)' and 'Enrollment (K-12)' columns needed to calculate the eligible free rate.

Since the 'frpm' table's CDSCode is linked to the 'schools' table's CDSCode via a foreign key, I'll need to join these two tables on CDSCode. The calculation for the eligible free rate is Free Meal Count divided by Enrollment.

I should select the maximum value of this calculated rate from the joined tables where the County is 'Alameda'. To ensure accuracy, I'll use the correct column names and perform the division as a decimal. Also, I need to handle possible NULL values, but since the question is about existing schools, maybe it's safe to assume these fields are not null.

So the steps are: join schools and frpm on CDSCode, filter where County is 'Alameda', calculate the rate, and find the maximum. The final query should return only the highest rate.

model 4 analysis:
 Okay, I need to find the highest eligible free rate for K-12 students in schools located in Alameda County. Let me start by understanding the tables and columns involved.

First, the question mentions "eligible free rate for K-12," which is calculated as Free Meal Count (K-12) divided by Enrollment (K-12). The tables involved are likely the frpm table since it has those columns. But I also need to filter schools in Alameda County. The schools table has a County column, so I'll need to join frpm with schools on CDSCode to get the county information.

Wait, the frpm table has a County Name column, but the schools table also has a County column. Which one should I use? The question specifies "Alameda County," so I should check both tables. However, the schools table's County column is more directly related to the school's location. But the frpm table's County Name might be more accurate for the data. Hmm. Wait, the foreign key is between frpm.CDSCode and schools.CDSCode, so joining on that would allow me to get the County from schools. Let me confirm: the schools table has a County column, so joining frpm with schools on CDSCode would allow me to filter by County in the schools table.

So the plan is: join frpm and schools on CDSCode, filter where schools.County = 'Alameda', calculate the eligible free rate as (Free Meal Count (K-12) / Enrollment (K-12)), then find the maximum value of that rate.

Wait, but the frpm table has Free Meal Count (K-12) and Enrollment (K-12) as columns. So I can calculate the rate as Free Meal Count / Enrollment. But I need to make sure that Enrollment is not zero to avoid division by zero. However, the problem might not require handling that, assuming the data is clean.

So the SQL query steps:

1. Join frpm and schools on CDSCode.
2. Filter where schools.County = 'Alameda'.
3. Calculate the rate as (Free Meal Count (K-12) / Enrollment (K-12)).
4. Find the maximum value of this rate.

Now, writing the SQL query. The SELECT clause should include the calculated rate. But since the question asks for the highest rate, I can use MAX() on the calculated value.

Wait, but the question is asking for the highest rate, so the query would select the maximum of (Free Meal Count / Enrollment). However, since the calculation is per row, using MAX() on that expression would give the highest value.

So the query would be:

SELECT MAX(Free Meal Count (K-12) / Enrollment (K-12)) AS highest_rate
FROM frpm
JOIN schools ON frpm.CDSCode = schools.CDSCode
WHERE schools.County = 'Alameda';

But wait, I need to make sure that the column names are correctly quoted. In SQLite, if the column names have spaces, they need to be enclosed in quotes. So the columns "Free Meal Count (K-12)" and "Enrollment (K-12)" should be in quotes.

So the correct query would have those columns quoted. Also, the County column in schools is 'County', so the WHERE clause is schools.County = 'Alameda'.

Putting it all together:

SELECT MAX(`Free Meal Count (K-12)` / `Enrollment (K-12)`) AS highest_rate
FROM frpm
JOIN schools ON frpm.CDSCode = schools.CDSCode
WHERE schools.County = 'Alameda';

But the question says to include only the information asked, which is the highest rate. So the SELECT clause should just return that max value. The AS highest_rate is optional, but the query needs to return the value. However, the problem says to include only what's asked, so the output should be the maximum value, which is the highest eligible free rate. The query as written would return that value.


here is avaliable tables and their structure below
【DB_ID】 california_schools
【Schema】
# Table: frpm
[
(CDSCode:TEXT, maps to schools.CDSCode, Primary Key, Examples: [01100170109835, 01100170112607, 01100170118489]),
(Academic Year:TEXT, Examples: [2014-2015]),
(County Code:TEXT, Examples: [01, 02, 03]),
(District Code:INTEGER, Examples: [10017, 31609, 31617]),
(School Code:TEXT, Examples: [0109835, 0112607, 0118489]),
(County Name:TEXT, Examples: [Alameda, Alpine, Amador]),
(District Name:TEXT),
(School Name:TEXT, Examples: [FAME Public Charter]),
(District Type:TEXT, Examples: [County Office of Education (COE)]),
(School Type:TEXT, Examples: [K-12 Schools (Public)]),
(Educational Option Type:TEXT, Examples: [Traditional]),
(NSLP Provision Status:TEXT, Examples: [Breakfast Provision 2]),
(Charter School (Y/N):INTEGER, Examples: [1, 0]),
(Charter School Number:TEXT, Examples: [0728, 0811, 1049]),
(Charter Funding Type:TEXT, Examples: [Directly funded]),
(IRC:INTEGER, Examples: [1, 0]),
(Low Grade:TEXT, Examples: [K, 9, 1]),
(High Grade:TEXT, Examples: [12, 8, 5]),
(Enrollment (K-12):REAL, Examples: [1087.0, 395.0, 244.0]),
(Free Meal Count (K-12):REAL, Examples: [565.0, 186.0, 134.0]),
(Percent (%) Eligible Free (K-12):REAL, Examples: [0.519779208831647, 0.470886075949367, 0.549180327868853]),
(FRPM Count (K-12):REAL, Examples: [715.0, 186.0, 175.0]),
(Percent (%) Eligible FRPM (K-12):REAL, Examples: [0.657773689052438, 0.470886075949367, 0.717213114754098]),
(Enrollment (Ages 5-17):REAL, Examples: [1070.0, 376.0, 230.0]),
(Free Meal Count (Ages 5-17):REAL, Examples: [553.0, 182.0, 128.0]),
(Percent (%) Eligible Free (Ages 5-17):REAL, Examples: [0.516822429906542, 0.484042553191489, 0.556521739130435]),
(FRPM Count (Ages 5-17):REAL, Examples: [702.0, 182.0, 168.0]),
(Percent (%) Eligible FRPM (Ages 5-17):REAL, Examples: [0.65607476635514, 0.484042553191489, 0.730434782608696]),
(2013-14 CALPADS Fall 1 Certification Status:INTEGER, Examples: [1])
]
# Table: satscores
[
(cds:TEXT, maps to schools.CDSCode, Primary Key, Examples: [10101080000000, 10101080109991, 10101080111682]),
(rtype:TEXT, Examples: [D, S]),
(sname:TEXT, Examples: [FAME Public Charter]),
(dname:TEXT, Examples: [Alameda County Office of Education]),
(cname:TEXT, Examples: [Alameda, Amador, Butte]),
(enroll12:INTEGER, Examples: [398, 62, 75]),
(NumTstTakr:INTEGER, Examples: [88, 17, 71]),
(AvgScrRead:INTEGER, Examples: [418, 503, 397]),
(AvgScrMath:INTEGER, Examples: [418, 546, 387]),
(AvgScrWrite:INTEGER, Examples: [417, 505, 395]),
(NumGE1500:INTEGER, Examples: [14, 9, 5])
]
# Table: schools
[
(CDSCode:TEXT, Primary Key, Examples: [01100170000000, 01100170109835, 01100170112607]),
(NCESDist:TEXT, Examples: [0691051, 0600002, 0600003]),
(NCESSchool:TEXT, Examples: [10546, 10947, 12283]),
(StatusType:TEXT, Examples: [Active, Closed, Merged]),
(County:TEXT, Examples: [Alameda, Alpine, Amador]),
(District:TEXT),
(School:TEXT, Examples: [FAME Public Charter]),
(Street:TEXT, Examples: [313 West Winton Avenue]),
(StreetAbr:TEXT, Examples: [313 West Winton Ave.]),
(City:TEXT, Examples: [Hayward, Newark, Oakland]),
(Zip:TEXT, Examples: [94544-1136, 94560-5359, 94612-3355]),
(State:TEXT, Examples: [CA]),
(MailStreet:TEXT, Examples: [313 West Winton Avenue]),
(MailStrAbr:TEXT, Examples: [313 West Winton Ave.]),
(MailCity:TEXT, Examples: [Hayward, Newark, Oakland]),
(MailZip:TEXT, Examples: [94544-1136, 94560-5359, 94612]),
(MailState:TEXT, Examples: [CA]),
(Phone:TEXT, Examples: [(510) 887-0152, (510) 596-8901, (510) 686-4131]),
(Ext:TEXT, Examples: [130, 1240, 1200]),
(Website:TEXT, Examples: [www.acoe.org]),
(OpenDate:DATE, Examples: [2005-08-29]),
(ClosedDate:DATE, Examples: [2015-07-31]),
(Charter:INTEGER, Examples: [1, 0]),
(CharterNum:TEXT, Examples: [0728, 0811, 1049]),
(FundingType:TEXT, Examples: [Directly funded]),
(DOC:TEXT, Examples: [00, 31, 34]),
(DOCType:TEXT, Examples: [County Office of Education (COE)]),
(SOC:TEXT, Examples: [65, 66, 60]),
(SOCType:TEXT, Examples: [K-12 Schools (Public)]),
(EdOpsCode:TEXT, Examples: [TRAD, JUV, COMM]),
(EdOpsName:TEXT, Examples: [Traditional]),
(EILCode:TEXT, Examples: [ELEMHIGH, HS, ELEM]),
(EILName:TEXT, Examples: [Elementary-High Combination]),
(GSoffered:TEXT, Examples: [K-12, 9-12, K-8]),
(GSserved:TEXT, Examples: [K-12, 9-12, K-7]),
(Virtual:TEXT, Examples: [P, N, F]),
(Magnet:INTEGER, Examples: [0, 1]),
(Latitude:REAL, Examples: [37.658212, 37.521436, 37.80452]),
(Longitude:REAL, Examples: [-122.09713, -121.99391, -122.26815]),
(AdmFName1:TEXT, Examples: [L Karen, Laura, Clifford]),
(AdmLName1:TEXT, Examples: [Monroe, Robell, Thompson]),
(AdmEmail1:TEXT),
(AdmFName2:TEXT, Examples: [Sau-Lim (Lance), Jennifer, Annalisa]),
(AdmLName2:TEXT, Examples: [Tsang, Koelling, Moore]),
(AdmEmail2:TEXT),
(AdmFName3:TEXT, Examples: [Drew, Irma, Vickie]),
(AdmLName3:TEXT, Examples: [Sarratore, Munoz, Chang]),
(AdmEmail3:TEXT),
(LastUpdate:DATE, Examples: [2015-06-23])
]
【Foreign keys】
frpm.CDSCode=schools.CDSCode
satscores.cds=schools.CDSCode

-- Using valid SQLite and understanding External Knowledge, answer the following questions for the tables provided above.
-- What is the highest eligible free rate for K-12 students in the schools in Alameda County?
-- External Knowledge: Eligible free rate for K-12 = `Free Meal Count (K-12)` / `Enrollment (K-12)`


Generate the SQLite for the above question after thinking step by step:


Instructions:
- Make sure you only output the information that is asked in the question. If the question asks for a specific column, make sure to only include that column in the SELECT clause, nothing more.
- The generated query should return all of the information asked in the question without any missing or extra information.
- Before generating the final SQL query, please think through the steps of how to write the query.
- Do not misuse column names, keep them in quotes `
- Carefully understand what colomns belond to what tables
- Use only initial column names, change names prohibited

Output Format:
In your answer, please enclose the generated SQL query in a code block:
```
-- Your SQL query
```

Processed prompts: 100%|██████████| 1534/1534 [04:17<00:00,  5.96it/s, est. speed input: 38263.69 toks/s, output: 273.18 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.69
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.78%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [04:21<00:00,  5.86it/s, est. speed input: 37797.07 toks/s, output: 271.80 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 61.02
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.20%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [04:24<00:00,  5.81it/s, est. speed input: 37304.56 toks/s, output: 271.90 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

Qwen3-8B DEV Финальный результат EX: 60.95
Qwen3-8B процент запросов, которые успешно выполнились DEV: 94.00%
====================================================================================================

In [ ]:
n= 20
arr_seeds = [random.randint(0,1000) for _ in range(n)]
arr_versions = [x for x in range(n)]
model = "Qwen3-8B"
num_observations = 6
type_cot = 'think'
print(arr_seeds)
print(f"model: {model}")

In [ ]:
run_cot_experiment(model,arr_seeds,arr_versions, type_cot,num_observations=num_observations)

In [ ]:
n= 20
arr_seeds = [random.randint(0,1000) for _ in range(n)]
arr_versions = [x for x in range(n)]
model = "Qwen3-8B"
num_observations = 7
type_cot = 'think'
print(arr_seeds)
print(f"model: {model}")

In [ ]:
run_cot_experiment(model,arr_seeds,arr_versions, type_cot,num_observations=num_observations)