In [1]:
import os, sys
sys.path.append("/home/vkropoti/vllm")

In [2]:
from src.experiment import run_cot_experiment, run_cot_experiment_deepcoder
import random
import numpy as np

INFO 05-25 16:20:13 [__init__.py:239] Automatically detected platform cuda.

2025-05-25 16:20:14,265	INFO util.py:154 -- Missing packages: ['ipywidgets']. Run `pip install -U ipywidgets`, then restart the notebook server for rich notebook output.

# part1: reasoning+answer

### 2 наблюдения

In [3]:
n = 2
arr_seeds = [random.randint(0,1000) for _ in range(n)]
arr_versions = [x for x in range(n)]
model = "XGenerationLab:XiYanSQL-QwenCoder-32B-2504"
num_observations = 0
type_cot = 'all'
print(arr_seeds)
print(f"model: {model}")

[884, 439]
model: XGenerationLab:XiYanSQL-QwenCoder-32B-2504

In [4]:
run_cot_experiment(model,arr_seeds,arr_versions, type_cot, num_observations=num_observations)

Загружаем модель...

Loading safetensors checkpoint shards:   0% Completed | 0/14 [00:00<?, ?it/s]
Loading safetensors checkpoint shards:   7% Completed | 1/14 [00:01<00:23,  1.84s/it]
Loading safetensors checkpoint shards:  14% Completed | 2/14 [00:03<00:22,  1.87s/it]
Loading safetensors checkpoint shards:  21% Completed | 3/14 [00:05<00:20,  1.87s/it]
Loading safetensors checkpoint shards:  29% Completed | 4/14 [00:07<00:18,  1.88s/it]
Loading safetensors checkpoint shards:  36% Completed | 5/14 [00:09<00:17,  1.91s/it]
Loading safetensors checkpoint shards:  43% Completed | 6/14 [00:11<00:15,  1.92s/it]
Loading safetensors checkpoint shards:  50% Completed | 7/14 [00:13<00:13,  1.94s/it]
Loading safetensors checkpoint shards:  57% Completed | 8/14 [00:15<00:11,  1.95s/it]
Loading safetensors checkpoint shards:  64% Completed | 9/14 [00:17<00:09,  1.94s/it]
Loading safetensors checkpoint shards:  71% Completed | 10/14 [00:18<00:06,  1.62s/it]
Loading safetensors checkpoint shards:  79% Completed | 11/14 [00:19<00:04,  1.66s/it]
Loading safetensors checkpoint shards:  86% Completed | 12/14 [00:21<00:03,  1.68s/it]
Loading safetensors checkpoint shards:  93% Completed | 13/14 [00:23<00:01,  1.71s/it]
Loading safetensors checkpoint shards: 100% Completed | 14/14 [00:25<00:00,  1.73s/it]
Loading safetensors checkpoint shards: 100% Completed | 14/14 [00:25<00:00,  1.80s/it]
(VllmWorker rank=0 pid=281125)

Модель успешно загружена
model_config {'model': '/data/home/vkropoti/models/XGenerationLab:XiYanSQL-QwenCoder-32B-2504', 'tensor_parallel_size': 2, 'max_model_len': 40000, 'max_new_tokens': 1500, 'temperature': 0, 'top_k': 1, 'top_p': 0.8, 'gpu_memory_utilization': 0.9, 'trust_remote_code': False, 'seed': 884}

prompts_config {'path_dev_json': '/home/vkropoti/vllm/dev.json', 'path_sql_dbs': '/data/home/vkropoti/sql_data/dev_databases/', 'use_reasoning': False, 'paths_to_cot': []}

save_config {'path_sql_save': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_all_XGenerationLab:XiYanSQL-QwenCoder-32B-2504-cot_all_new_think==False_nobs0-v0', 'path_think_save': None, 'path_sql_answers_save': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_predict_XGenerationLab:XiYanSQL-QwenCoder-32B-2504-cot_all_new_think==False_nobs0-v0', 'path_to_save_scores': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_results_XGenerationLab:XiYanSQL-QwenCoder-32B-2504-cot_all_new_think==False_nobs0-v0', 'path_to_save_executed': '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_executed_XGenerationLab:XiYanSQL-QwenCoder-32B-2504-cot_all_new_think==False_nobs0-v0'}

Модель успешно загружена
Пример промпта
<|im_start|>system

You are a data science expert. Below, you are provided with a database schema and a natural language question. Your task is to understand the schema and generate a valid SQL query to answer the question.

Database Engine: SQLite

You will be given an additional analysis of other models, please take it into account, so the plan is
1. Analyse given addition analysis from other models (find in which analysis the same and differ, how to use that to answer question)
2. Combine best from previous part and think how to solve the problem (analyze tables, take care what columns avaliable in each table and so on, check the syntacsis)
3. Create the answers. The answer should be only sql query.

Carefully follow the instruction and add <|im_end|> and the end of the final answer<|im_end|>
<|im_start|>user


here is avaliable tables and their structure below
【DB_ID】 california_schools
【Schema】
# Table: frpm
[
(CDSCode:TEXT, maps to schools.CDSCode, Primary Key, Examples: [01100170109835, 01100170112607, 01100170118489]),
(Academic Year:TEXT, Examples: [2014-2015]),
(County Code:TEXT, Examples: [01, 02, 03]),
(District Code:INTEGER, Examples: [10017, 31609, 31617]),
(School Code:TEXT, Examples: [0109835, 0112607, 0118489]),
(County Name:TEXT, Examples: [Alameda, Alpine, Amador]),
(District Name:TEXT),
(School Name:TEXT, Examples: [FAME Public Charter]),
(District Type:TEXT, Examples: [County Office of Education (COE)]),
(School Type:TEXT, Examples: [K-12 Schools (Public)]),
(Educational Option Type:TEXT, Examples: [Traditional]),
(NSLP Provision Status:TEXT, Examples: [Breakfast Provision 2]),
(Charter School (Y/N):INTEGER, Examples: [1, 0]),
(Charter School Number:TEXT, Examples: [0728, 0811, 1049]),
(Charter Funding Type:TEXT, Examples: [Directly funded]),
(IRC:INTEGER, Examples: [1, 0]),
(Low Grade:TEXT, Examples: [K, 9, 1]),
(High Grade:TEXT, Examples: [12, 8, 5]),
(Enrollment (K-12):REAL, Examples: [1087.0, 395.0, 244.0]),
(Free Meal Count (K-12):REAL, Examples: [565.0, 186.0, 134.0]),
(Percent (%) Eligible Free (K-12):REAL, Examples: [0.519779208831647, 0.470886075949367, 0.549180327868853]),
(FRPM Count (K-12):REAL, Examples: [715.0, 186.0, 175.0]),
(Percent (%) Eligible FRPM (K-12):REAL, Examples: [0.657773689052438, 0.470886075949367, 0.717213114754098]),
(Enrollment (Ages 5-17):REAL, Examples: [1070.0, 376.0, 230.0]),
(Free Meal Count (Ages 5-17):REAL, Examples: [553.0, 182.0, 128.0]),
(Percent (%) Eligible Free (Ages 5-17):REAL, Examples: [0.516822429906542, 0.484042553191489, 0.556521739130435]),
(FRPM Count (Ages 5-17):REAL, Examples: [702.0, 182.0, 168.0]),
(Percent (%) Eligible FRPM (Ages 5-17):REAL, Examples: [0.65607476635514, 0.484042553191489, 0.730434782608696]),
(2013-14 CALPADS Fall 1 Certification Status:INTEGER, Examples: [1])
]
# Table: satscores
[
(cds:TEXT, maps to schools.CDSCode, Primary Key, Examples: [10101080000000, 10101080109991, 10101080111682]),
(rtype:TEXT, Examples: [D, S]),
(sname:TEXT, Examples: [FAME Public Charter]),
(dname:TEXT, Examples: [Alameda County Office of Education]),
(cname:TEXT, Examples: [Alameda, Amador, Butte]),
(enroll12:INTEGER, Examples: [398, 62, 75]),
(NumTstTakr:INTEGER, Examples: [88, 17, 71]),
(AvgScrRead:INTEGER, Examples: [418, 503, 397]),
(AvgScrMath:INTEGER, Examples: [418, 546, 387]),
(AvgScrWrite:INTEGER, Examples: [417, 505, 395]),
(NumGE1500:INTEGER, Examples: [14, 9, 5])
]
# Table: schools
[
(CDSCode:TEXT, Primary Key, Examples: [01100170000000, 01100170109835, 01100170112607]),
(NCESDist:TEXT, Examples: [0691051, 0600002, 0600003]),
(NCESSchool:TEXT, Examples: [10546, 10947, 12283]),
(StatusType:TEXT, Examples: [Active, Closed, Merged]),
(County:TEXT, Examples: [Alameda, Alpine, Amador]),
(District:TEXT),
(School:TEXT, Examples: [FAME Public Charter]),
(Street:TEXT, Examples: [313 West Winton Avenue]),
(StreetAbr:TEXT, Examples: [313 West Winton Ave.]),
(City:TEXT, Examples: [Hayward, Newark, Oakland]),
(Zip:TEXT, Examples: [94544-1136, 94560-5359, 94612-3355]),
(State:TEXT, Examples: [CA]),
(MailStreet:TEXT, Examples: [313 West Winton Avenue]),
(MailStrAbr:TEXT, Examples: [313 West Winton Ave.]),
(MailCity:TEXT, Examples: [Hayward, Newark, Oakland]),
(MailZip:TEXT, Examples: [94544-1136, 94560-5359, 94612]),
(MailState:TEXT, Examples: [CA]),
(Phone:TEXT, Examples: [(510) 887-0152, (510) 596-8901, (510) 686-4131]),
(Ext:TEXT, Examples: [130, 1240, 1200]),
(Website:TEXT, Examples: [www.acoe.org]),
(OpenDate:DATE, Examples: [2005-08-29]),
(ClosedDate:DATE, Examples: [2015-07-31]),
(Charter:INTEGER, Examples: [1, 0]),
(CharterNum:TEXT, Examples: [0728, 0811, 1049]),
(FundingType:TEXT, Examples: [Directly funded]),
(DOC:TEXT, Examples: [00, 31, 34]),
(DOCType:TEXT, Examples: [County Office of Education (COE)]),
(SOC:TEXT, Examples: [65, 66, 60]),
(SOCType:TEXT, Examples: [K-12 Schools (Public)]),
(EdOpsCode:TEXT, Examples: [TRAD, JUV, COMM]),
(EdOpsName:TEXT, Examples: [Traditional]),
(EILCode:TEXT, Examples: [ELEMHIGH, HS, ELEM]),
(EILName:TEXT, Examples: [Elementary-High Combination]),
(GSoffered:TEXT, Examples: [K-12, 9-12, K-8]),
(GSserved:TEXT, Examples: [K-12, 9-12, K-7]),
(Virtual:TEXT, Examples: [P, N, F]),
(Magnet:INTEGER, Examples: [0, 1]),
(Latitude:REAL, Examples: [37.658212, 37.521436, 37.80452]),
(Longitude:REAL, Examples: [-122.09713, -121.99391, -122.26815]),
(AdmFName1:TEXT, Examples: [L Karen, Laura, Clifford]),
(AdmLName1:TEXT, Examples: [Monroe, Robell, Thompson]),
(AdmEmail1:TEXT),
(AdmFName2:TEXT, Examples: [Sau-Lim (Lance), Jennifer, Annalisa]),
(AdmLName2:TEXT, Examples: [Tsang, Koelling, Moore]),
(AdmEmail2:TEXT),
(AdmFName3:TEXT, Examples: [Drew, Irma, Vickie]),
(AdmLName3:TEXT, Examples: [Sarratore, Munoz, Chang]),
(AdmEmail3:TEXT),
(LastUpdate:DATE, Examples: [2015-06-23])
]
【Foreign keys】
frpm.CDSCode=schools.CDSCode
satscores.cds=schools.CDSCode

-- Using valid SQLite and understanding External Knowledge, answer the following questions for the tables provided above.
-- What is the highest eligible free rate for K-12 students in the schools in Alameda County?
-- External Knowledge: Eligible free rate for K-12 = `Free Meal Count (K-12)` / `Enrollment (K-12)`


Generate the SQLite for the above question after thinking step by step:


Instructions:
- Make sure you only output the information that is asked in the question. If the question asks for a specific column, make sure to only include that column in the SELECT clause, nothing more.
- The generated query should return all of the information asked in the question without any missing or extra information.
- Before generating the final SQL query, please think through the steps of how to write the query.
- Do not misuse column names, keep them in quotes `
- Carefully understand what colomns belond to what tables
- Use only initial column names, change names prohibited

Output Format:
In your answer, please enclose the generated SQL query in a code block:
```
-- Your SQL query
```
and nothing else, no exaplains, no comments (asnwer should be less than 512 characters)

Take a deep breath and think step by step to find the correct SQL query in SQLite format.

Question repetition: What is the highest eligible free rate for K-12 students in the schools in Alameda County?

Be care! Include only what i want it questiona and nothing else<|im_end|>
<|im_start|>assistant



Максимальное количество токенов в промптах: 5707

начинаем скорринг
Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:08<00:00, 22.55it/s, est. speed input: 52550.42 toks/s, output: 1149.69 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

XGenerationLab:XiYanSQL-QwenCoder-32B-2504 DEV Финальный результат EX: 67.14
XGenerationLab:XiYanSQL-QwenCoder-32B-2504 процент запросов, которые успешно выполнились DEV: 98.89%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [01:07<00:00, 22.68it/s, est. speed input: 52871.88 toks/s, output: 1156.50 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

XGenerationLab:XiYanSQL-QwenCoder-32B-2504 DEV Финальный результат EX: 67.08
XGenerationLab:XiYanSQL-QwenCoder-32B-2504 процент запросов, которые успешно выполнились DEV: 98.83%
====================================================================================================

In [3]:
n = 2
arr_seeds = [random.randint(0,1000) for _ in range(n)]
arr_versions = [x for x in range(n)]
model = "XGenerationLab:XiYanSQL-QwenCoder-32B-2504"
model_add = "Qwen3-14B"
num_observations = 0
type_cot = 'think'
print(arr_seeds)
print(f"model: {model}")

[674, 237, 118, 18, 729]
model: XGenerationLab:XiYanSQL-QwenCoder-32B-2504

In [ ]:
run_cot_experiment_deepcoder(model,model_add,arr_seeds,arr_versions,type_cot,num_observations=4)

Загружаем модель...

Loading safetensors checkpoint shards:   0% Completed | 0/14 [00:00<?, ?it/s]
Loading safetensors checkpoint shards:   7% Completed | 1/14 [00:01<00:24,  1.88s/it]
Loading safetensors checkpoint shards:  14% Completed | 2/14 [00:03<00:22,  1.91s/it]
Loading safetensors checkpoint shards:  21% Completed | 3/14 [00:05<00:20,  1.90s/it]
Loading safetensors checkpoint shards:  29% Completed | 4/14 [00:07<00:19,  1.91s/it]
Loading safetensors checkpoint shards:  36% Completed | 5/14 [00:09<00:17,  1.92s/it]
Loading safetensors checkpoint shards:  43% Completed | 6/14 [00:11<00:15,  1.93s/it]
Loading safetensors checkpoint shards:  50% Completed | 7/14 [00:13<00:13,  1.94s/it]
Loading safetensors checkpoint shards:  57% Completed | 8/14 [00:15<00:11,  1.94s/it]
Loading safetensors checkpoint shards:  64% Completed | 9/14 [00:17<00:09,  1.94s/it]
Loading safetensors checkpoint shards:  71% Completed | 10/14 [00:18<00:06,  1.62s/it]
Loading safetensors checkpoint shards:  79% Completed | 11/14 [00:20<00:05,  1.72s/it]
Loading safetensors checkpoint shards:  86% Completed | 12/14 [00:22<00:03,  1.78s/it]
Loading safetensors checkpoint shards:  93% Completed | 13/14 [00:24<00:01,  1.82s/it]
Loading safetensors checkpoint shards: 100% Completed | 14/14 [00:25<00:00,  1.85s/it]
Loading safetensors checkpoint shards: 100% Completed | 14/14 [00:25<00:00,  1.85s/it]
(VllmWorker rank=0 pid=290937)

model_config {'model': '/data/home/vkropoti/models/XGenerationLab:XiYanSQL-QwenCoder-32B-2504', 'tensor_parallel_size': 2, 'max_model_len': 40000, 'max_new_tokens': 1500, 'temperature': 0, 'top_k': 1, 'top_p': 0.95, 'gpu_memory_utilization': 0.9, 'trust_remote_code': False, 'seed': 674}
prompts_config {'path_dev_json': '/home/vkropoti/vllm/dev.json', 'path_sql_dbs': '/data/home/vkropoti/sql_data/dev_databases/', 'use_reasoning': False, 'paths_to_cot': ['/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_think_Qwen3-32B-reasoning-v0', '/data/home/vkropoti/sql_llm_answers/bird_dev_m_schema/sql_think_Qwen3-32B-reasoning-v1']}
save_config {'path_sql_save': None, 'path_think_save': None, 'path_sql_answers_save': None, 'path_to_save_scores': None, 'path_to_save_executed': None}
Модель успешно загружена
Пример промпта
<|im_start|>system

You are a data science expert. Below, you are provided with a database schema and a natural language question. Your task is to understand the schema and generate a valid SQL query to answer the question.

Database Engine: SQLite

You will be given an additional analysis of other models, please take it into account, so the plan is
1. Analyse given addition analysis from other models (find in which analysis the same and differ, how to use that to answer question)
2. Combine best from previous part and think how to solve the problem (analyze tables, take care what columns avaliable in each table and so on, check the syntacsis)
3. Create the answers. The answer should be only sql query.

Carefully follow the instruction and add <|im_end|> and the end of the final answer<|im_end|>
<|im_start|>user
Here is addition analysis from other models which can be helpfull, please take this into account but be careful (choose the best from each analysis, combine them to make the most proper answer):

model 0 analysis:
 Okay, let's see. The user wants the highest eligible free rate for K-12 students in Alameda County. The eligible free rate is calculated as Free Meal Count (K-12) divided by Enrollment (K-12). So first, I need to find the right tables.

Looking at the schema, the frpm table has the Free Meal Count and Enrollment columns. Also, the frpm table has County Name, which we need to filter for Alameda County.

So I should select the maximum value of (Free Meal Count (K-12) / Enrollment (K-12)) from the frpm table where County Name is 'Alameda'.

Wait, but need to make sure that the columns are correctly named. In the frpm table, the columns are "Free Meal Count (K-12)" and "Enrollment (K-12)". Also, the county name is in "County Name".

So the SQL query would be something like:

SELECT MAX(`Percent (%) Eligible Free (K-12)`) FROM frpm WHERE `County Name` = 'Alameda';

Wait, but the user's external knowledge says to compute it as the ratio of Free Meal Count to Enrollment. However, the frpm table already has "Percent (%) Eligible Free (K-12)", which is exactly that ratio. So maybe I can directly take the max of that column instead of calculating it again.

But the user might expect using the actual columns for calculation. However, since the percentage is already provided, using the existing column is more efficient.

So the correct approach is to select the maximum value from that percentage column where the county is Alameda.

Therefore, the SQL query should be selecting the max of `Percent (%) Eligible Free (K-12)` from frpm where `County Name` is 'Alameda'.

I need to make sure that the county name is correctly capitalized. The examples show 'Alameda' as a county name, so it's safe to use that.

Also, checking for any possible NULLs, but since the question is about the highest, and there's data, it should work.

So the final query is as above.

model 1 analysis:
 Okay, let's tackle this problem. The user wants the highest eligible free rate for K-12 students in Alameda County. The eligible free rate is calculated as Free Meal Count (K-12) divided by Enrollment (K-12).

First, I need to check which tables have the necessary columns. The 'frpm' table has both 'Free Meal Count (K-12)' and 'Enrollment (K-12)'. Also, the 'County Name' column in 'frpm' can be used to filter for Alameda County.

So, I should select those two columns from the 'frpm' table where the County Name is 'Alameda'. Then calculate the division. But wait, the problem is that in SQL, dividing two REAL numbers should give a REAL result. However, to ensure that the division is done correctly without integer division, maybe I need to cast them, but in SQLite, REAL division should be fine.

The user wants the highest rate, so I need to compute the maximum value of that division. So the query would be a SELECT MAX(Free Meal Count (K-12)/Enrollment (K-12)) from frpm where County Name is 'Alameda'.

Wait, but I need to make sure that Enrollment (K-12) isn't zero to avoid division by zero. However, the problem statement's example data shows enrollment values like 1087.0, so maybe in practice, there's no zero. But since the user didn't mention handling that, I can proceed without it.

Now, check the column names. The columns in 'frpm' are 'Free Meal Count (K-12)' and 'Enrollment (K-12)', and 'County Name'. The table name is 'frpm'.

Putting it all together, the SQL query should select the maximum value of the division of those two columns, filtered by County Name = 'Alameda'.

So the final SQL is:

SELECT MAX(`Free Meal Count (K-12)` / `Enrollment (K-12)`) FROM frpm WHERE `County Name` = 'Alameda';


here is avaliable tables and their structure below
【DB_ID】 california_schools
【Schema】
# Table: frpm
[
(CDSCode:TEXT, maps to schools.CDSCode, Primary Key, Examples: [01100170109835, 01100170112607, 01100170118489]),
(Academic Year:TEXT, Examples: [2014-2015]),
(County Code:TEXT, Examples: [01, 02, 03]),
(District Code:INTEGER, Examples: [10017, 31609, 31617]),
(School Code:TEXT, Examples: [0109835, 0112607, 0118489]),
(County Name:TEXT, Examples: [Alameda, Alpine, Amador]),
(District Name:TEXT),
(School Name:TEXT, Examples: [FAME Public Charter]),
(District Type:TEXT, Examples: [County Office of Education (COE)]),
(School Type:TEXT, Examples: [K-12 Schools (Public)]),
(Educational Option Type:TEXT, Examples: [Traditional]),
(NSLP Provision Status:TEXT, Examples: [Breakfast Provision 2]),
(Charter School (Y/N):INTEGER, Examples: [1, 0]),
(Charter School Number:TEXT, Examples: [0728, 0811, 1049]),
(Charter Funding Type:TEXT, Examples: [Directly funded]),
(IRC:INTEGER, Examples: [1, 0]),
(Low Grade:TEXT, Examples: [K, 9, 1]),
(High Grade:TEXT, Examples: [12, 8, 5]),
(Enrollment (K-12):REAL, Examples: [1087.0, 395.0, 244.0]),
(Free Meal Count (K-12):REAL, Examples: [565.0, 186.0, 134.0]),
(Percent (%) Eligible Free (K-12):REAL, Examples: [0.519779208831647, 0.470886075949367, 0.549180327868853]),
(FRPM Count (K-12):REAL, Examples: [715.0, 186.0, 175.0]),
(Percent (%) Eligible FRPM (K-12):REAL, Examples: [0.657773689052438, 0.470886075949367, 0.717213114754098]),
(Enrollment (Ages 5-17):REAL, Examples: [1070.0, 376.0, 230.0]),
(Free Meal Count (Ages 5-17):REAL, Examples: [553.0, 182.0, 128.0]),
(Percent (%) Eligible Free (Ages 5-17):REAL, Examples: [0.516822429906542, 0.484042553191489, 0.556521739130435]),
(FRPM Count (Ages 5-17):REAL, Examples: [702.0, 182.0, 168.0]),
(Percent (%) Eligible FRPM (Ages 5-17):REAL, Examples: [0.65607476635514, 0.484042553191489, 0.730434782608696]),
(2013-14 CALPADS Fall 1 Certification Status:INTEGER, Examples: [1])
]
# Table: satscores
[
(cds:TEXT, maps to schools.CDSCode, Primary Key, Examples: [10101080000000, 10101080109991, 10101080111682]),
(rtype:TEXT, Examples: [D, S]),
(sname:TEXT, Examples: [FAME Public Charter]),
(dname:TEXT, Examples: [Alameda County Office of Education]),
(cname:TEXT, Examples: [Alameda, Amador, Butte]),
(enroll12:INTEGER, Examples: [398, 62, 75]),
(NumTstTakr:INTEGER, Examples: [88, 17, 71]),
(AvgScrRead:INTEGER, Examples: [418, 503, 397]),
(AvgScrMath:INTEGER, Examples: [418, 546, 387]),
(AvgScrWrite:INTEGER, Examples: [417, 505, 395]),
(NumGE1500:INTEGER, Examples: [14, 9, 5])
]
# Table: schools
[
(CDSCode:TEXT, Primary Key, Examples: [01100170000000, 01100170109835, 01100170112607]),
(NCESDist:TEXT, Examples: [0691051, 0600002, 0600003]),
(NCESSchool:TEXT, Examples: [10546, 10947, 12283]),
(StatusType:TEXT, Examples: [Active, Closed, Merged]),
(County:TEXT, Examples: [Alameda, Alpine, Amador]),
(District:TEXT),
(School:TEXT, Examples: [FAME Public Charter]),
(Street:TEXT, Examples: [313 West Winton Avenue]),
(StreetAbr:TEXT, Examples: [313 West Winton Ave.]),
(City:TEXT, Examples: [Hayward, Newark, Oakland]),
(Zip:TEXT, Examples: [94544-1136, 94560-5359, 94612-3355]),
(State:TEXT, Examples: [CA]),
(MailStreet:TEXT, Examples: [313 West Winton Avenue]),
(MailStrAbr:TEXT, Examples: [313 West Winton Ave.]),
(MailCity:TEXT, Examples: [Hayward, Newark, Oakland]),
(MailZip:TEXT, Examples: [94544-1136, 94560-5359, 94612]),
(MailState:TEXT, Examples: [CA]),
(Phone:TEXT, Examples: [(510) 887-0152, (510) 596-8901, (510) 686-4131]),
(Ext:TEXT, Examples: [130, 1240, 1200]),
(Website:TEXT, Examples: [www.acoe.org]),
(OpenDate:DATE, Examples: [2005-08-29]),
(ClosedDate:DATE, Examples: [2015-07-31]),
(Charter:INTEGER, Examples: [1, 0]),
(CharterNum:TEXT, Examples: [0728, 0811, 1049]),
(FundingType:TEXT, Examples: [Directly funded]),
(DOC:TEXT, Examples: [00, 31, 34]),
(DOCType:TEXT, Examples: [County Office of Education (COE)]),
(SOC:TEXT, Examples: [65, 66, 60]),
(SOCType:TEXT, Examples: [K-12 Schools (Public)]),
(EdOpsCode:TEXT, Examples: [TRAD, JUV, COMM]),
(EdOpsName:TEXT, Examples: [Traditional]),
(EILCode:TEXT, Examples: [ELEMHIGH, HS, ELEM]),
(EILName:TEXT, Examples: [Elementary-High Combination]),
(GSoffered:TEXT, Examples: [K-12, 9-12, K-8]),
(GSserved:TEXT, Examples: [K-12, 9-12, K-7]),
(Virtual:TEXT, Examples: [P, N, F]),
(Magnet:INTEGER, Examples: [0, 1]),
(Latitude:REAL, Examples: [37.658212, 37.521436, 37.80452]),
(Longitude:REAL, Examples: [-122.09713, -121.99391, -122.26815]),
(AdmFName1:TEXT, Examples: [L Karen, Laura, Clifford]),
(AdmLName1:TEXT, Examples: [Monroe, Robell, Thompson]),
(AdmEmail1:TEXT),
(AdmFName2:TEXT, Examples: [Sau-Lim (Lance), Jennifer, Annalisa]),
(AdmLName2:TEXT, Examples: [Tsang, Koelling, Moore]),
(AdmEmail2:TEXT),
(AdmFName3:TEXT, Examples: [Drew, Irma, Vickie]),
(AdmLName3:TEXT, Examples: [Sarratore, Munoz, Chang]),
(AdmEmail3:TEXT),
(LastUpdate:DATE, Examples: [2015-06-23])
]
【Foreign keys】
frpm.CDSCode=schools.CDSCode
satscores.cds=schools.CDSCode

-- Using valid SQLite and understanding External Knowledge, answer the following questions for the tables provided above.
-- What is the highest eligible free rate for K-12 students in the schools in Alameda County?
-- External Knowledge: Eligible free rate for K-12 = `Free Meal Count (K-12)` / `Enrollment (K-12)`


Generate the SQLite for the above question after thinking step by step:


Instructions:
- Make sure you only output the information that is asked in the question. If the question asks for a specific column, make sure to only include that column in the SELECT clause, nothing more.
- The generated query should return all of the information asked in the question without any missing or extra information.
- Before generating the final SQL query, please think through the steps of how to write the query.
- Do not misuse column names, keep them in quotes `
- Carefully understand what colomns belond to what tables
- Use only initial column names, change names prohibited

Output Format:
In your answer, please enclose the generated SQL query in a code block:
```
-- Your SQL query
```
and nothing else, no exaplains, no comments (asnwer should be less than 512 characters)

Take a deep breath and think step by step to find the correct SQL query in SQLite format.

Question repetition: What is the highest eligible free rate for K-12 students in the schools in Alameda County?

Be care! Include only what i want it questiona and nothing else<|im_end|>
<|im_start|>assistant



Максимальное количество токенов в промптах: 13331

начинаем скорринг
Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1534/1534 [10:41<00:00,  2.39it/s, est. speed input: 9566.96 toks/s, output: 121.04 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

XGenerationLab:XiYanSQL-QwenCoder-32B-2504 DEV Финальный результат EX: 62.13
XGenerationLab:XiYanSQL-QwenCoder-32B-2504 процент запросов, которые успешно выполнились DEV: 97.00%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts:   0%|          | 0/1534 [00:00<?, ?it/s, est. speed input: 0.00 toks/s, output: 0.00 toks/s]

## Spider

In [3]:
n = 2
arr_seeds = [random.randint(0,1000) for _ in range(n)]
arr_versions = [x for x in range(n)]
model = "XGenerationLab:XiYanSQL-QwenCoder-32B-2504"
num_observations = 0
type_cot = 'all_new'
print(arr_seeds)
print(f"model: {model}")

[452, 175]
model: XGenerationLab:XiYanSQL-QwenCoder-32B-2504

In [4]:
run_cot_experiment(model,arr_seeds,arr_versions, type_cot, num_observations=num_observations)

Загружаем модель...

Loading safetensors checkpoint shards:   0% Completed | 0/14 [00:00<?, ?it/s]
Loading safetensors checkpoint shards:   7% Completed | 1/14 [00:01<00:22,  1.72s/it]
Loading safetensors checkpoint shards:  14% Completed | 2/14 [00:03<00:21,  1.75s/it]
Loading safetensors checkpoint shards:  21% Completed | 3/14 [00:05<00:19,  1.74s/it]
Loading safetensors checkpoint shards:  29% Completed | 4/14 [00:06<00:17,  1.75s/it]
Loading safetensors checkpoint shards:  36% Completed | 5/14 [00:08<00:16,  1.78s/it]
Loading safetensors checkpoint shards:  43% Completed | 6/14 [00:10<00:14,  1.80s/it]
Loading safetensors checkpoint shards:  50% Completed | 7/14 [00:12<00:12,  1.80s/it]
Loading safetensors checkpoint shards:  57% Completed | 8/14 [00:14<00:10,  1.81s/it]
Loading safetensors checkpoint shards:  64% Completed | 9/14 [00:16<00:09,  1.80s/it]
Loading safetensors checkpoint shards:  71% Completed | 10/14 [00:16<00:06,  1.51s/it]
Loading safetensors checkpoint shards:  79% Completed | 11/14 [00:18<00:04,  1.60s/it]
Loading safetensors checkpoint shards:  86% Completed | 12/14 [00:20<00:03,  1.65s/it]
Loading safetensors checkpoint shards:  93% Completed | 13/14 [00:22<00:01,  1.68s/it]
Loading safetensors checkpoint shards: 100% Completed | 14/14 [00:24<00:00,  1.73s/it]
Loading safetensors checkpoint shards: 100% Completed | 14/14 [00:24<00:00,  1.72s/it]
(VllmWorker rank=0 pid=1665955)

Модель успешно загружена
model_config {'model': '/data/home/vkropoti/models/XGenerationLab:XiYanSQL-QwenCoder-32B-2504', 'tensor_parallel_size': 2, 'max_model_len': 40000, 'max_new_tokens': 1500, 'temperature': 0, 'top_k': 1, 'top_p': 0.8, 'gpu_memory_utilization': 0.9, 'trust_remote_code': False, 'seed': 452}

prompts_config {'path_dev_json': '/data/home/vkropoti/sql_data/dev_spider.json', 'path_sql_dbs': '/data/home/vkropoti/sql_data/data_bases_spider/', 'use_reasoning': False, 'paths_to_cot': []}

save_config {'path_sql_save': '/data/home/vkropoti/sql_llm_answers/spider_dev_m_schema/sql_all_XGenerationLab:XiYanSQL-QwenCoder-32B-2504-cot_all_new_think==False_nobs0-v0', 'path_think_save': None, 'path_sql_answers_save': '/data/home/vkropoti/sql_llm_answers/spider_dev_m_schema/sql_predict_XGenerationLab:XiYanSQL-QwenCoder-32B-2504-cot_all_new_think==False_nobs0-v0', 'path_to_save_scores': '/data/home/vkropoti/sql_llm_answers/spider_dev_m_schema/sql_results_XGenerationLab:XiYanSQL-QwenCoder-32B-2504-cot_all_new_think==False_nobs0-v0', 'path_to_save_executed': '/data/home/vkropoti/sql_llm_answers/spider_dev_m_schema/sql_executed_XGenerationLab:XiYanSQL-QwenCoder-32B-2504-cot_all_new_think==False_nobs0-v0'}

Модель успешно загружена
Пример промпта
<|im_start|>system

You are a data science expert. Below, you are provided with a database schema and a natural language question. Your task is to understand the schema and generate a valid SQL query to answer the question.

Database Engine: SQLite

You will be given an additional analysis of other models, please take it into account, so the plan is
1. Analyse given addition analysis from other models (find in which analysis the same and differ, how to use that to answer question)
2. Combine best from previous part and think how to solve the problem (analyze tables, take care what columns avaliable in each table and so on, check the syntacsis)
3. Create the answers. The answer should be only sql query.

Carefully follow the instruction and add <|im_end|> and the end of the final answer<|im_end|>
<|im_start|>user


here is avaliable tables and their structure below
【DB_ID】 concert_singer
【Schema】
# Table: concert
[
(concert_ID:INTEGER, Primary Key, Examples: [1, 2, 3]),
(concert_Name:TEXT, Examples: [Auditions, Super bootcamp, Home Visits]),
(Theme:TEXT, Examples: [Free choice, Free choice 2, Bleeding Love]),
(Stadium_ID:TEXT, maps to stadium.Stadium_ID, Examples: [1, 2, 10]),
(Year:TEXT, Examples: [2014, 2015, 2016])
]
# Table: singer
[
(Singer_ID:INTEGER, Primary Key, Examples: [1, 2, 3]),
(Name:TEXT, Examples: [Joe Sharp, Timbaland, Justin Brown]),
(Country:TEXT, Examples: [Netherlands, United States, France]),
(Song_Name:TEXT, Examples: [You, Dangerous, Hey Oh]),
(Song_release_year:TEXT, Examples: [1992, 2008, 2013]),
(Age:INTEGER, Examples: [52, 32, 29]),
(Is_male:BOOLEAN, Examples: [False, True])
]
# Table: singer_in_concert
[
(concert_ID:INTEGER, maps to concert.concert_ID, Primary Key, Examples: [1, 2, 3]),
(Singer_ID:TEXT, maps to singer.Singer_ID, Primary Key, Examples: [2, 3, 5])
]
# Table: stadium
[
(Stadium_ID:INTEGER, Primary Key, Examples: [1, 2, 3]),
(Location:TEXT, Examples: [Raith Rovers, Ayr United, East Fife]),
(Name:TEXT, Examples: [Stark's Park, Somerset Park, Bayview Stadium]),
(Capacity:INTEGER, Examples: [10104, 11998, 2000]),
(Highest:INTEGER, Examples: [4812, 2363, 1980]),
(Lowest:INTEGER, Examples: [1294, 1057, 533]),
(Average:INTEGER, Examples: [2106, 1477, 864])
]
【Foreign keys】
concert.Stadium_ID=stadium.Stadium_ID
singer_in_concert.concert_ID=concert.concert_ID
singer_in_concert.Singer_ID=singer.Singer_ID

-- Using valid SQLite, answer the following questions for the tables provided above.
-- How many singers do we have?



Generate the SQLite for the above question after thinking step by step:


Instructions:
- Make sure you only output the information that is asked in the question. If the question asks for a specific column, make sure to only include that column in the SELECT clause, nothing more.
- The generated query should return all of the information asked in the question without any missing or extra information.
- Before generating the final SQL query, please think through the steps of how to write the query.
- Do not misuse column names, keep them in quotes `
- Carefully understand what colomns belond to what tables
- Use only initial column names, change names prohibited

Output Format:
In your answer, please enclose the generated SQL query in a code block:
```
-- Your SQL query
```
and nothing else, no exaplains, no comments (asnwer should be less than 512 characters)

Take a deep breath and think step by step to find the correct SQL query in SQLite format.

Question repetition: How many singers do we have?

Be care! Include only what i want it questiona and nothing else<|im_end|>
<|im_start|>assistant



Максимальное количество токенов в промптах: 1842

начинаем скорринг
Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1076/1076 [00:35<00:00, 30.51it/s, est. speed input: 32682.37 toks/s, output: 971.22 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

XGenerationLab:XiYanSQL-QwenCoder-32B-2504 DEV Финальный результат EX: 84.94
XGenerationLab:XiYanSQL-QwenCoder-32B-2504 процент запросов, которые успешно выполнились DEV: 99.54%
====================================================================================================


Загружаем чаты с данными...
Данные успешно загружены
Начали генерацию SQL запросов

Processed prompts: 100%|██████████| 1076/1076 [00:26<00:00, 40.07it/s, est. speed input: 42913.45 toks/s, output: 1275.25 toks/s]

extract_think количество ошибок:  0
extract_sql количество ошибок:  0
Закончили генерацию SQL запросов
Начали скорр полученных SQL запросов

XGenerationLab:XiYanSQL-QwenCoder-32B-2504 DEV Финальный результат EX: 84.94
XGenerationLab:XiYanSQL-QwenCoder-32B-2504 процент запросов, которые успешно выполнились DEV: 99.54%
====================================================================================================

## 3 наблюдения

In [ ]:
n= 20
arr_seeds = [random.randint(0,1000) for _ in range(n)]
arr_versions = [x for x in range(n)]
model = "Qwen3-32B"
num_observations = 3
type_cot = 'all_new'
print(arr_seeds)
print(f"model: {model}")

In [ ]:
run_cot_experiment(model,arr_seeds,arr_versions, type_cot,num_observations=num_observations)

## 4 наблюдения

In [ ]:
n= 20
arr_seeds = [random.randint(0,1000) for _ in range(n)]
arr_versions = [x for x in range(n)]
model = "Qwen3-32B"
num_observations = 4
type_cot = 'all_new'
print(arr_seeds)
print(f"model: {model}")

In [ ]:
run_cot_experiment(model,arr_seeds,arr_versions, type_cot,num_observations=num_observations)

## 5 наблюдений

In [ ]:
n= 20
arr_seeds = [random.randint(0,1000) for _ in range(n)]
arr_versions = [x for x in range(n)]
model = "Qwen3-32B"
num_observations = 5
type_cot = 'all_new'
print(arr_seeds)
print(f"model: {model}")

In [ ]:
run_cot_experiment(model,arr_seeds,arr_versions, type_cot,num_observations=num_observations)

## 6 наблюдений

In [ ]:
n= 20
arr_seeds = [random.randint(0,1000) for _ in range(n)]
arr_versions = [x for x in range(n)]
model = "Qwen3-32B"
num_observations = 6
type_cot = 'all_new'
print(arr_seeds)
print(f"model: {model}")

In [ ]:
run_cot_experiment(model,arr_seeds,arr_versions, type_cot,num_observations=num_observations)

## 7 наблюдений

In [ ]:
n= 20
arr_seeds = [random.randint(0,1000) for _ in range(n)]
arr_versions = [x for x in range(n)]
model = "Qwen3-32B"
num_observations = 7
type_cot = 'all_new'
print(arr_seeds)
print(f"model: {model}")

In [ ]:
run_cot_experiment(model,arr_seeds,arr_versions, type_cot,num_observations=num_observations)

# part2: answer

In [ ]:
n= 20
arr_seeds = [random.randint(0,1000) for _ in range(n)]
arr_versions = [x for x in range(n)]
model = "Qwen3-32B"
num_observations = 2
type_cot = 'predict'
print(arr_seeds)
print(f"model: {model}")

In [ ]:
run_cot_experiment(model,arr_seeds,arr_versions, type_cot,num_observations=num_observations)

In [ ]:
n= 20
arr_seeds = [random.randint(0,1000) for _ in range(n)]
arr_versions = [x for x in range(n)]
model = "Qwen3-32B"
num_observations = 3
type_cot = 'predict'
print(arr_seeds)
print(f"model: {model}")

In [ ]:
run_cot_experiment(model,arr_seeds,arr_versions, type_cot,num_observations=num_observations)

In [ ]:
n= 20
arr_seeds = [random.randint(0,1000) for _ in range(n)]
arr_versions = [x for x in range(n)]
model = "Qwen3-32B"
num_observations = 4
type_cot = 'predict'
print(arr_seeds)
print(f"model: {model}")

In [ ]:
run_cot_experiment(model,arr_seeds,arr_versions, type_cot,num_observations=num_observations)

In [ ]:
n= 20
arr_seeds = [random.randint(0,1000) for _ in range(n)]
arr_versions = [x for x in range(n)]
model = "Qwen3-32B"
num_observations = 5
type_cot = 'predict'
print(arr_seeds)
print(f"model: {model}")

In [ ]:
run_cot_experiment(model,arr_seeds,arr_versions, type_cot,num_observations=num_observations)

In [ ]:
n= 20
arr_seeds = [random.randint(0,1000) for _ in range(n)]
arr_versions = [x for x in range(n)]
model = "Qwen3-32B"
num_observations = 6
type_cot = 'predict'
print(arr_seeds)
print(f"model: {model}")

In [ ]:
run_cot_experiment(model,arr_seeds,arr_versions, type_cot,num_observations=num_observations)

In [ ]:
n= 20
arr_seeds = [random.randint(0,1000) for _ in range(n)]
arr_versions = [x for x in range(n)]
model = "Qwen3-32B"
num_observations = 7
type_cot = 'predict'
print(arr_seeds)
print(f"model: {model}")

In [ ]:
run_cot_experiment(model,arr_seeds,arr_versions, type_cot,num_observations=num_observations)

# part3: think

In [ ]:
n= 20
arr_seeds = [random.randint(0,1000) for _ in range(n)]
arr_versions = [x for x in range(n)]
model = "Qwen3-32B"
num_observations = 2
type_cot = 'think'
print(arr_seeds)
print(f"model: {model}")

In [ ]:
run_cot_experiment(model,arr_seeds,arr_versions, type_cot,num_observations=num_observations)

In [ ]:
n= 20
arr_seeds = [random.randint(0,1000) for _ in range(n)]
arr_versions = [x for x in range(n)]
model = "Qwen3-32B"
num_observations = 3
type_cot = 'think'
print(arr_seeds)
print(f"model: {model}")

In [ ]:
run_cot_experiment(model,arr_seeds,arr_versions, type_cot,num_observations=num_observations)

In [ ]:
n= 20
arr_seeds = [random.randint(0,1000) for _ in range(n)]
arr_versions = [x for x in range(n)]
model = "Qwen3-32B"
num_observations = 4
type_cot = 'think'
print(arr_seeds)
print(f"model: {model}")

In [ ]:
run_cot_experiment(model,arr_seeds,arr_versions, type_cot,num_observations=num_observations)

In [ ]:
n= 20
arr_seeds = [random.randint(0,1000) for _ in range(n)]
arr_versions = [x for x in range(n)]
model = "Qwen3-32B"
num_observations = 5
type_cot = 'think'
print(arr_seeds)
print(f"model: {model}")

In [ ]:
run_cot_experiment(model,arr_seeds,arr_versions, type_cot,num_observations=num_observations)

In [ ]:
n= 20
arr_seeds = [random.randint(0,1000) for _ in range(n)]
arr_versions = [x for x in range(n)]
model = "Qwen3-32B"
num_observations = 6
type_cot = 'think'
print(arr_seeds)
print(f"model: {model}")

In [ ]:
run_cot_experiment(model,arr_seeds,arr_versions, type_cot,num_observations=num_observations)

In [ ]:
n= 20
arr_seeds = [random.randint(0,1000) for _ in range(n)]
arr_versions = [x for x in range(n)]
model = "Qwen3-32B"
num_observations = 7
type_cot = 'think'
print(arr_seeds)
print(f"model: {model}")

In [ ]:
run_cot_experiment(model,arr_seeds,arr_versions, type_cot,num_observations=num_observations)